<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    
    <pipelines role:require="Standalone or ContentManagement">
      <owin.cookieAuthentication.validateIdentity>
        <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication">
          <siteNeutralPaths hint="list">
            <path hint="graphql">/sitecore/api/graph/items/</path>
          </siteNeutralPaths>
        </processor>
      </owin.cookieAuthentication.validateIdentity>
    </pipelines>

    <api>
      <GraphQL>
        <endpoints>
          <web url="/sitecore/api/graph/items/web" type="Sitecore.Services.GraphQL.Hosting.GraphQLEndpoint, Sitecore.Services.GraphQL.NetFxHost" resolve="true">
            <enableSubscriptions>false</enableSubscriptions>
            <schema hint="list:AddSchemaProvider">
                <content ref="/sitecore/api/GraphQL/defaults/content/schemaProviders/systemContent" param1="web">
                  <patch:attribute name="ref">/sitecore/api/GraphQL/defaults/content/schemaProviders/publicContent</patch:attribute>
                </content>
            </schema>
            <security ref="/sitecore/api/GraphQL/defaults/security/systemService">
              <patch:attribute name="ref">/sitecore/api/GraphQL/defaults/security/publicService</patch:attribute>
            </security>
          </web>
        </endpoints>
        <defaults>
          <security>          
            <publicService type="Sitecore.Services.GraphQL.Hosting.Security.GraphQLSecurity, Sitecore.Services.GraphQL">
              <requireAuthentication>false</requireAuthentication>
              <requireApiKey>false</requireApiKey>
            </publicService>
          </security>
          <content>
            <schemaProviders>
              <publicContent type="Sitecore.Services.GraphQL.Content.ContentSchemaProvider, Sitecore.Services.GraphQL.Content">
                <templates type="Sitecore.Services.GraphQL.Content.TemplateGeneration.Filters.StandardTemplatePredicate, Sitecore.Services.GraphQL.Content">
                  <database>$(1)</database>
                  <paths hint="list:AddIncludedPath">
                    <templates>/sitecore/templates</templates>
                  </paths>
                  <fieldFilter type="Sitecore.Services.GraphQL.Content.TemplateGeneration.Filters.StandardFieldFilter, Sitecore.Services.GraphQL.Content" />
                </templates>
                <queries hint="raw:AddQuery">
                  <query name="item" type="Sitecore.Services.GraphQL.Content.Queries.ItemQuery, Sitecore.Services.GraphQL.Content"/>
                  <query name="sites" type="Sitecore.Services.GraphQL.Content.Queries.SiteQuery, Sitecore.Services.GraphQL.Content"/>
                  <query name="templates" type="Sitecore.Services.GraphQL.Content.Queries.TemplatesQuery, Sitecore.Services.GraphQL.Content"/>
                  <query name="search" type="Sitecore.Services.GraphQL.Content.Queries.SearchQuery, Sitecore.Services.GraphQL.Content"/>
                </queries>
                <fieldTypeMapping ref="/sitecore/api/GraphQL/defaults/content/fieldTypeMappings/standardTypeMapping" />
              </publicContent>
            </schemaProviders>
          </content>
        </defaults>
      </GraphQL>
    </api>

  </sitecore>
</configuration>