body { font-family: 'Roboto', sans-serif; }

li.nav-item {
    margin-left: 1em;
    margin-right: 1em;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption h2 {
    color: #000000;
    font-size: 5rem;
    font-weight: 700;
}

.carousel-item p.lead { color: #000000; }

.card img {
    height: 150px;
    object-fit: cover;
}

.jumbotron, .news-heading {
    background-color: #f3f6f9;
    background-position: center;
    background-size: cover;
}

.news-heading {
    margin-bottom: 20px;
    padding: 20px 0;
}

.jumbotron h1 { margin-top: 0; }

.centered-heading { padding-top: 5em; }

.featurette { margin-bottom: 2rem; }

.featurette-heading, .centered-heading h2, .news-detail h2, .search-results h2 {
    color: #000000;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
    margin-bottom: 0.4em;
}

p.lead {
    color: #707070;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.btn-info {
    background-color: #232323;
    border: 2px solid #232323;
    border-radius: 0;
    padding: .9375em 2.5em;
}

.btn-info:hover {
    background-color: #000000;
    border: 2px solid #232323;
}

a.link_arrow:after, button.link_arrow:after {
    -webkit-transition: margin .1s ease;
    color: #fe2911;
    content: " ➔";
    display: inline-block;
    margin-left: 4px;
    transition: margin .1s ease;
}

a.link_arrow:not(.btn) {
    color: #232323;
    font-weight: 600;
}

.nav-link {
    color: #000000 !important;
    font-weight: 700;
    text-transform: uppercase;
}

.breadcrumb {
    background-color: #ffffff;
    padding-left: 0;
}

.breadcrumb a {
    color: #000000;
    font-weight: 600;
}

.breadcrumb a:hover { color: #fe2911; }

.breadcrumb-item.active { color: #707070; }

.news-overview a, .search-results h3 a {
    color: #000000 !important;
    font-weight: 700;
}

.news-overview a:hover, .search-results h3 a:hover { color: #19a5a2 !important; }

.news-overview .card img { height: 400px; }

.news-overview .date, .news-heading .meta, .search-results .text-muted {
    background-color: #19a5a2;
    color: #ffffff !important;
    display: inline-block;
    padding: 5px;
}

h1 {
    color: #000000;
    font-size: 3.6rem !important;
    font-weight: 700 !important;
    line-height: 3.8rem !important;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}

h3 {
    color: #000000;
    font-size: 28px !important;
    font-weight: 700 !important;
    line-height: 32px !important;
}

h4 { font-weight: 700 !important; }

p {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

p a {
    color: #19a5a2;
    font-weight: 700;
    text-decoration: underline;
}

p a:hover {
    color: #000000;
    text-decoration: underline;
}


.bg-light { background-color: #ffffff !important; }

footer {
    background-color: #141919;
    color: #ffffff;
    margin-top: 80px;
    padding-top: 20px;
    width: 100%;
}

footer a:hover { color: #fe2911; }

footer p { color: #ffffff; }

footer .container { padding-bottom: 10px; }

footer small {
    font-size: 60%;
    line-height: 1.1;
}

/* --- forms ---- */

.field-validation-error, .validation-summary-errors { color: #fe2911; }

.hidden { display: none; }

.form-signin .col-sm-6 {
    flex: 0 0 100%;
    margin-left: -15px;
    max-width: 100%;
    width: 100%;
}

form .field-group { margin-bottom: 20px; }

form label { font-weight: 600; }

.btn-primary {
    background-color: #19a5a2;
    border-color: #19a5a2;
    color: #fff;
}

main > .container { margin-bottom: 30px; }

.image-cta, image-cta { background-color: #f3f3f3; }

.no-padding-left { padding-left: 0; }

.no-padding-right { padding-right: 0; }

.page-link { color: #000000; }