body {
    font-family: 'Nunito', sans-serif;
}

li.nav-item {
    margin-left: 1em;
    margin-right: 1em;
}

.carousel-item img {
    object-fit: cover;
    height: 500px;
}

.carousel-caption h2 {
    font-size: 5rem;
}

.card img {
    object-fit: cover;
    height: 150px;
}

.jumbotron {
    background-size: cover;
    background-position: center;
    min-height: 350px;
    background-color: #f3f6f9;
}

.featurette {
    margin-bottom: 1em;
}

.featurette-heading {
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    font-weight: 800;
    font-style: normal;
}

p.lead {
    font-size: 23px;
    line-height: 35px;
    color: #707070;
    font-weight: 400;
    font-style: normal;
}

.btn-info {
    background-color: #232323;
    border: 2px solid #232323;
    border-radius: 0;
    padding: .9375em 2.5em;
}

    .btn-info:hover {
        background-color: #000000;
        border: 2px solid #232323;
    }

a.link_arrow:after, button.link_arrow:after {
    content: " ➔";
    color: #fe2911;
    margin-left: 4px;
    display: inline-block;
    -webkit-transition: margin .1s ease;
    transition: margin .1s ease;
}

.nav-link {
    color: #000000 !important;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 5rem !important;
    font-weight: 700 !important;
}

h3 {
    font-size: 28px !important;
    line-height: 32px !important;
    font-weight: 700 !important;
}

h4 {
    font-weight: 700 !important;
}

p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

p a{
    color: #19a5a2;
    text-decoration: underline;
    font-weight: 700;
}

p a:hover {
    text-decoration: underline;
    color: #000000;
}

/* --- forms ---- */
.field-validation-error {
    color: red;
}

.hidden {
    display: none;
}

footer {
    background-color: #141919;
    color: #ffffff;
    padding-top: 20px;
    margin-top: 80px;
    width: 100%;
}

    footer p {
        color: #ffffff;
    }

    footer .container {
        padding-bottom: 10px;
    }

.form-signin .col-sm-6 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: -15px;
}


.btn-primary {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

main > .container {
    margin-bottom: 30px;
}
