li.nav-item {
    margin-left: 1em;
    margin-right: 1em;
}

.carousel-item img {
    object-fit: cover;
    height: 500px;
}

.carousel-caption h2 {
    font-size: 5rem;
}

.card img {
    object-fit: cover;
    height: 150px;
}

.jumbotron {
    background-size: cover;
    background-position: center;
}

.featurette {
    margin-bottom: 1em;
}
