<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mvc.customizeRendering>
				<processor type="Sitecore.Demo.Platform.Feature.Demo.Pipelines.TogglePersonalization, Sitecore.Demo.Platform.Feature.Demo" patch:instead="processor[@type='Sitecore.Personalization.Mvc.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Personalization.Mvc']" />
			</mvc.customizeRendering>
		</pipelines>
	</sitecore>
</configuration>