.facebook-comments .fb-comments {
  width: 100%;
}

.facebook-comments .fb-comments > span {
  text-align: justify !important;
  width: 100% !important;
}

.facebook-comments .fb-comments > span > iframe {
  width: 100% !important;
}
