/* breakpoints */
.boxed {
  box-sizing: border-box;
  margin: 20px 0;
}

@media only screen and (min-width: 786px) {
  .boxed {
    padding: 10px;
  }
}

@media only screen and (max-width: 380px) {
  .boxed {
    padding: 10px;
  }
}

.boxed > div {
  max-width: 960px;
  margin: 0 auto !important;
}

/* breakpoints */
.component-content-clearfix .component-content:after {
  content: "";
  display: table;
  clear: both;
}

.component-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.highlighted-top {
  background: #ffffff;
  border-top-width: 3px;
  border-top-color: #9d1c3e;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-top h1, .highlighted-top h2, .highlighted-top h3, .highlighted-top h4 {
  margin: 0 0 10px 0;
}

.highlighted-bottom {
  background: #ffffff;
  border-bottom-width: 3px;
  border-bottom-color: #9d1c3e;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-bottom h1, .highlighted-bottom h2, .highlighted-bottom h3, .highlighted-bottom h4 {
  margin: 0 0 10px 0;
}

.highlighted-left {
  background: #ffffff;
  border-left-width: 3px;
  border-left-color: #9d1c3e;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-left h1, .highlighted-left h2, .highlighted-left h3, .highlighted-left h4 {
  margin: 0 0 10px 0;
}

.highlighted-right {
  background: #ffffff;
  border-right-width: 3px;
  border-right-color: #9d1c3e;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-right h1, .highlighted-right h2, .highlighted-right h3, .highlighted-right h4 {
  margin: 0 0 10px 0;
}

.indent {
  margin: 0 2em;
}

.indent-top {
  margin-top: 1em;
}

.indent-bottom {
  margin-bottom: 1em;
}

/* breakpoints */
.link-button .button-default, .link-button .default {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #f6f6f6;
  color: #747474;
  font-weight: bold;
}

.link-button .button-default:hover, .link-button .default:hover {
  color: #747474;
  background: #f7f7f7;
}

.link-button .button-success, .link-button .success {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  color: #fff;
  font-weight: bold;
}

.link-button .button-success:hover, .link-button .success:hover {
  color: #fff;
  background: #92be43;
}

.link-button .button-warning, .link-button .warning {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #bc4526;
  color: #fff;
  font-weight: bold;
}

.link-button .button-warning:hover, .link-button .warning:hover {
  color: #fff;
  background: #c34e30;
}

.promoted-box {
  border: none !important;
}

.position-left, .position-left * {
  text-align: left !important;
}

.position-right, .position-right * {
  text-align: right !important;
}

.position-center, .position-center * {
  text-align: center !important;
}

/* breakpoints */
.cover-background > .component-content, .fix-background > .component-content, .parallax-background > .component-content {
  background-repeat: no-repeat;
  background-size: cover;
}

.fix-background > .component-content {
  background-position: left top;
  background-attachment: fixed;
  min-height: 240px;
}

.parallax-background > .component-content {
  background-position: 50% 0;
  background-attachment: fixed;
  min-height: 240px;
}

@media only screen and (max-width: 786px) {
  .parallax-background > .component-content {
    background-attachment: scroll;
  }
}

.container-gray-background {
  background: #f7f7f7;
}

.container-clean-background {
  background: #FFFFFF;
}

.container-dark-background {
  background: #3d3d3d;
}

.container-color-background {
  background: #c8244f;
}
