<!doctype html>
<html class="js applicationcache geolocation history postmessage svg websockets localstorage sessionstorage websqldatabase webworkers hashchange audio canvas canvastext webgl video cssgradients opacity multiplebgs rgba inlinesvg hsla supports svgclippaths smil generatedcontent fontface textshadow cssanimations borderimage backgroundsize boxshadow borderradius csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox cssreflections csstransforms csstransitions csstransforms3d indexeddb indexeddb-deletedatabase" lang="en"><!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/Css/Corporate/optimized-min.css" rel="stylesheet">
        <link href="/Css/Corporate/optimized-min(1).css" rel="stylesheet">
        <link href="/Css/Corporate/optimized-min(2).css" rel="stylesheet">
        <link href="/Css/Corporate/optimized-min(3).css" rel="stylesheet">    
        <title>Habitat Home</title>
        <link href="https://habitathome.dev.local/" rel="shortcut icon">
        <meta content="Technology to help you live well" property="og:description">
        <meta content="Habitat Home" property="og:title">
        <meta content="https://habitathome.dev.local/en" property="og:url">
        <meta content="Technology to help you live well" name="description">
        <meta content="Technology to help you live well" property="twitter:description">
        <meta content="Habitat Home" property="twitter:title">
        <meta content="summary_large_image" property="twitter:card">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="default-device bodyclass">
        <!-- #wrapper -->
        <div id="wrapper">

        </div>
        <!-- /#wrapper -->
        <div class="privacy-warning permisive" style="">
                <div class="close">

                    <a onclick="XA.cookies.removeCookieWarning();">X</a>
                </div>
            <div class="info">
                Cookies help us improve your website experience.<br>
                By using our website, you agree to our use of cookies.
            </div>
            <div class="submit">
                <a onclick="XA.cookies.createCookie(&#39;privacy-notification&#39;, 1, 365);XA.cookies.removeCookieWarning();">Confirm</a>
            </div>
        </div>

        <script src="/Scripts/Corporate/optimized-min.js"></script>
        <script src="/Scripts/Corporate/optimized-min(1).js"></script>
        <script src="/Scripts/Corporate/optimized-min(2).js"></script>
        <script src="/Scripts/Corporate/optimized-min(3).js"></script>
        <script src="/Scripts/Corporate/optimized-min(4).js"></script>
        <script src="/Scripts/Corporate/optimized-min(5).js"></script>
        <script src="/Scripts/Corporate/optimized-min(6).js"></script>
        <script src="/Scripts/Corporate/optimized-min(7).js"></script>
        <script src="/Scripts/Corporate/optimized-min(8).js"></script>
    </body>
</html>