////Site Theme Colors////
$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #15909c;
$tertiary-second-color: #747474;
$tertiary-third-color: #de232f;

////Styles for each component separately////
//Main
////Site background color
$page-bg: $primary-color;
$page-bg-editor:none;
//Accordion
$accordion-header-bg: transparent;
$accordion-header-bg-active: transparent;
$accordion-toggled-bg: transparent;
$accordion-header-border: lighten($tertiary-third-color,30%);
//Breadcrumb
$breadcrumb-dropdown-bg: $primary-color;
$breadcrumb-dropdown-bg-active:lighten($tertiary-color,30%);
$breadcrumb-dropdown-text-active:$primary-color;
$breadcrumb-bg:transparent;
$breadcrumb-color:$tertiary-second-color;
$breadcrumb-color-active:$tertiary-color;
//Buttons colors
$btn-text: $primary-color;
$btn-green-light: #a0ce4e;
$btn-green: #92be43;
$btn-red-active: #c34e30;
$btn-red: #bc4526;
$btn-info: lighten($secondary-color,30%);
$btn-info-active: $secondary-color;
$btn-primary: $tertiary-color;
$btn-primary-active: darken($tertiary-color,30%);

//Carousel
$carousel-bg:$primary-color;
$carousel-nav:$secondary-color; 
$carousel-nav-active:$tertiary-second-color;
$carousel-nav-border:lighten($tertiary-color,30%)r;
//Container component
$container-title-row-bg: lighten($tertiary-second-color,50%);
//Event List
$event-list-bg:transparent;
$event-list-item-bg:$primary-color;
$event-list-item-color:$tertiary-second-color;
$event-list-title-border:lighten($tertiary-color,30%);
//Calendar
$calendar-bg:$primary-color;
$calendar-header-bg:lighten($tertiary-second-color,50%);
$calendar-day-color-active:$primary-color;
$calendar-title-color:$primary-color;
//Feed
$feed-bg:transparent;
$feed-item-bg:transparent;
//Field Editor
$field-editor-bg:transparent;
$field-editor-table-border:lighten($tertiary-second-color,50%);
$field-editor-text-header:$secondary-color;
$field-editor-text-header-active:$tertiary-third-color;
$field-editor-text:$tertiary-second-color;
//File List
$file-list-bg:transparent;
$file-list-item-bg:transparent;
$file-list-title-color:$tertiary-second-color;
$file-list-title-border:transparent;
$file-list-item-color:$tertiary-second-color;
$file-list-item-color-active:darken($tertiary-second-color,30%);
$file-list-item-size:$tertiary-second-color;
$file-list-item-borer:lighten($tertiary-color,30%);
$file-list-link-btn-color-active:$primary-color;
$file-list-link-btn-color:$tertiary-second-color;
$file-list-link-btn-bg:$tertiary-color;
$file-list-link-btn-bg-active:lighten($tertiary-color,30%);
//Flip
$flip-bg:transparent; 
$flip-slides-bg:$primary-color;
$flip-slides0-bg:#f6f6f6;
$flip-slides1-bg:$tertiary-color;
$flip-slides1-color:$primary-color;
$flip-border:lighten($tertiary-second-color,30%);
//Gallery
$galleria-container-bg:transparent;
$gallery-info-bg:$primary-color;
$gallery-info-border:lighten($tertiary-second-color,30%);
$gallery-info-text:$tertiary-second-color;
$gallery-nav-active:$primary-color;
$gallery-nav:$tertiary-second-color;
$gallery-counter-color:$primary-color;
//Jumbotron 
$jumbotron-primary-bg: lighten($tertiary-second-color,50%);
$jumbotron-secondary-bg: $tertiary-color;
$jumbotron-primary-text-color: $secondary-color;
$jumbotron-secondary-text-color: $primary-color;
//Language selector
$lang-selector-bg:$primary-color;
$lang-selector-border:lighten($tertiary-color,30%);
$lang-selector-item-bg-active:$primary-color;
$lang-selector-item-border:$primary-color;
$lang-selector-item-border-active:$tertiary-color;
//Site selector
$site-selector-color:$tertiary-second-color;
//Link List
$link-list-bg:transparent;
$link-list-header-border:lighten($tertiary-color,30%);
$link-list-items-bg:transparent;
$link-list-item-bg:transparent;
$link-list-item-color:$tertiary-second-color;
$link-list-item-color-active:darken($tertiary-second-color,30%);
$link-list-item-border-active:lighten($tertiary-color,30%);
//Login
$login-bg:transparent;
//Logout
$logout-bg:transparent;
$logout-link-text-color:$tertiary-second-color;
$logout-link-text-color-active:darken($tertiary-second-color,30%);
$logout-link-border:lighten($tertiary-color,30%);
//Map
$map-bg:transparent;
$map-border:none;
//News
$news-item-bg: $tertiary-color;
$news-color-active: $tertiary-color;
$news-color-secondary: $primary-color;
$news-heading-color: lighten($tertiary-second-color,10%);
$news-border: lighten($tertiary-second-color,30%);
//Page List
$page-list-bg:transparent;
$page-list-item-bg:transparent;
$page-list-item-title-text:$secondary-color;
$page-list-item-border:lighten($tertiary-color,30%);
//Pagination
$list-pagination-bg:transparent;
$list-pagination-active-bg:lighten($tertiary-color,30%);
$list-pagination-active-color:$primary-color;
$list-pagination-active-color:lighten($tertiary-color,30%);
$list-pagination-active-bg:lighten($tertiary-second-color,70%);
$list-pagination-active-border:$tertiary-color;
//Play list 
$play-list-bg:transparent;
$play-list-item-bg:transparent;
$play-list-item-color:$tertiary-second-color;
$play-list-item-color-active:$primary-color;
$play-list-nav-active:lighten($tertiary-color,30%);
$play-list-item-bg:lighten($tertiary-second-color,50%);
$play-list-item-active-bg:lighten($tertiary-color,30%);
$play-list-border:lighten($tertiary-color,30%);
$play-list-title-border:lighten($tertiary-color,30%);
//Promo
$promo-bg:$primary-color;
$promo-bg-hero:rgba(0, 0, 0, 0.5);
$promo-border:lighten($tertiary-second-color,30%);
$promo-hero-text-color:$primary-color;
$promo-shadow-border:lighten($tertiary-color,30%);
//Rich Text Content
$rich-content-bg:transparent;
$rich-content-color:$tertiary-second-color;
$rich-content-border:transparent;
$rich-content-link-color:$tertiary-third-color;
$rich-content-link-color-active:$tertiary-second-color;
//Search
$search-filter:$tertiary-second-color;
$search-filter-border:lighten($tertiary-color,30%);
//Menu colors
$menu-hover-color:$tertiary-color;
$menu-active-color:darken($tertiary-color,20%);
//Navigation
$nav-bg:transparent;
$nav-color-root:$tertiary-second-color;
$nav-color-root-active:$tertiary-second-color;
$nav-border-root:lighten($tertiary-color,30%);
$nav-border-root-active:lighten($tertiary-color,30%);
$nav-color-submenu:lighten($secondary-color,30%);
$nav-color-submenu-active:lighten($secondary-color,30%);
$nav-bg-root:lighten($tertiary-second-color,70%);
$nav-bg-submenu:lighten($tertiary-second-color,70%);
$nav-bg-submenu-active:lighten($tertiary-second-color,70%);
$nav-border-submenu:lighten($tertiary-color,30%);
$nav-submenu-item-border:lighten($tertiary-second-color,30%);
$nav-submenu-border-active:lighten($tertiary-color,30%);
//Social Media Share
$social-media-share-bg:transparent;
//Tabs
$tab-heading-bg:lighten($tertiary-second-color,50%);
$tab-heading-active-bg:$primary-color;
$tab-heading-color:lighten($secondary-color,30%);
$tab-heading-active-color:$secondary-color;
$tab-container-bg:transparent;
$tab-container-border:lighten($tertiary-color,30%);
//Title
$title-bg:transparent;
$title-color:$tertiary-second-color;
$title-color-active:$tertiary-second-color;
//Toggle
$toggle-header-bg:$primary-color;
$toggle-content-bg:$primary-color;
$toggle-show-color:$tertiary-second-color;
//Search Components
$search-btn-bg:transparent;
$search-btn-active-bg:#e0e0e0;
$search-btn-active-border:#adadad;
//Image component
$image-caption-color:$tertiary-second-color;
//Media Link Component
$media-link-bg:transparent;
$media-link-border:lighten($tertiary-color,30%);
$media-link-color:$tertiary-second-color;
$media-link-color-active:$tertiary-second-color;
//Tag Component
$tag-color:$tertiary-second-color;
$tag-color-active:$tertiary-second-color;
$tag-border-active:$tertiary-color;
$tag-link-bg :lighten($tertiary-color,30%);
$tag-link-bg-active :$tertiary-color;
$tag-link-color :$primary-color;
//Link Component
$link-bg:transparent;
$link-text-color:$tertiary-second-color;
$link-text-color-active:$tertiary-second-color;
$link-border:lighten($tertiary-color,30%);
//Overlay
$overlay-bg:lighten($tertiary-second-color,50%);
//Search Components
$search-title-border:lighten($tertiary-color,30%);
$search-title-color:$tertiary-second-color;
$search-item-color:$tertiary-second-color;
$search-item-color-active:$tertiary-second-color;
$search-item-border:lighten($tertiary-color,30%);
$search-item-border-active:$tertiary-color;
//
$search-filter-radius-active:lighten($tertiary-color,30%);
$search-filter-radius-border:lighten($tertiary-second-color,30%);
$search-filter-radius-bg:lighten($tertiary-second-color,30%);
//
$search-filter-slider-border-active:lighten($tertiary-color,30%);
$search-filter-slider-bg-active:lighten($tertiary-color,30%);
$search-filter-slider-btn-border:lighten($tertiary-second-color,30%);
$search-filter-slider-btn-bg:lighten($tertiary-second-color,50%);
$search-filter-slider-btn-bg-active:lighten($tertiary-second-color,50%)-active;
//Serach Pagination
$search-pagination-bg:transparent;
$search-pagination-active-bg:lighten($tertiary-color,30%);
$search-pagination-active-color:$primary-color;
$search-pagination-hover-color:lighten($tertiary-color,30%);
$search-pagination-hover-bg:lighten($tertiary-second-color,70%);
$search-pagination-hover-border:$tertiary-color;
//Search selector
$serach-selector-variant-color-active: $tertiary-color;
//Typehead
$tt-color:$tertiary-second-color;
$tt-color-active:lighten($tertiary-color,30%);
$tt-price-color:lighten($tertiary-color,30%);
$tt-dropdown-bg:lighten($tertiary-second-color,50%);
$tt-suggestion-bg-active:lighten($tertiary-second-color,50%)-active;
$tt-dropdown-border:lighten($tertiary-second-color,30%);
//Video
$video-control-bg:$primary-color;
$video-time-color:$tertiary-second-color;
$video-time-total-bg:$secondary-color;
$video-time-handle-border:lighten($tertiary-second-color,30%);
$video-time-handle-bg:$secondary-color;
//Form component
$form-bg: transparent;
$form-border: transparent;
$form-color: $tertiary-second-color;


////Colors////
//Backgrounds colors
$bg-transparent:transparent !default;
$bg-basic-color:#FFFFFF !default;
$bg-basic-color-active: #cccccc !default;
$bg-light-gray: #f7f7f7 !default;
$bg-light-gray-active: #dadada !default;
$bg-blue:#89C6CC;
$bg-blue-active: #15909c !default;
$bg-submenu:#edebeb !default;
$bg-submenu-active:#f6f6f6 !default;
$bg-black:#000;
$bg-black-active:#3d3d3d;
//Text colors
$text-white:#fff !default;
$text-heading-color: #222 !default;
$text-basic:#747474 !default;
$text-basic-active:#878787 !default;
$text-blue:#89C6CC !default;
$text-blue-active:#15909c !default;
$text-submenu-active: #222 !default;
$text-disabled: #aaa !default;
$text-black: #000 !default;
$text-red:#de232f;
//Border colors
$border-gray: #d2d2d2 !default;
$border-white: #ffffff !default;
$border-basic-color: #89C6CC !default;
$border-basic-active:#15909c !default;
$border-nav-submenu:#e1e1e1;