<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Scaffolding foundation module.

The Scaffolding foundation module is used to create new sites.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="XA.Foundation.Scaffolding.ScaffoldingServiceCacheMaxSize" value="50MB" />
        </settings>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.XA.Foundation.Scaffolding.EventHandlers.ScaffoldingServiceCacheClearer, Sitecore.XA.Foundation.Scaffolding" method="OnPublishEnd" />
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.XA.Foundation.Scaffolding.EventHandlers.ScaffoldingServiceCacheClearer, Sitecore.XA.Foundation.Scaffolding" method="OnPublishEndRemote" />
            </event>
            <event name="item:saved">
                <handler type="Sitecore.XA.Foundation.Scaffolding.EventHandlers.ScaffoldingServiceCacheClearer, Sitecore.XA.Foundation.Scaffolding" method="OnItemSaved" />
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.XA.Foundation.Scaffolding.EventHandlers.ScaffoldingServiceCacheClearer, Sitecore.XA.Foundation.Scaffolding" method="OnItemSavedRemote" />
            </event>
        </events>
        <services>
            <register serviceType="Sitecore.XA.Foundation.Scaffolding.Services.IScaffoldingService, Sitecore.XA.Foundation.Scaffolding" implementationType="Sitecore.XA.Foundation.Scaffolding.Services.ScaffoldingService, Sitecore.XA.Foundation.Scaffolding" lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>