<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:sxa="http://www.sitecore.net/xmlconfig/sxa/">
  <sitecore unicorn:require="On" sxa:require="On">
    <unicorn>
      <configurations>
        <configuration name="Project.HabitatHome.Website" description="Habitat Home content" dependencies="Foundation.*,Feature.*,Project.Global.Website,Project.HabitatHome.Website.Shared" extends="Helix.Base">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\HabitatHome\serialization\Content" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Project Habitat Home -->
            <include name="Content" database="master" path="/sitecore/content/Habitat SXA Sites/Habitat Home">
              <exclude database="master" childrenOfPath="/sitecore/content/Habitat SXA Sites/Habitat Home/Data/Commerce" />
              <exclude database="master" childrenOfPath="/sitecore/content/Habitat SXA Sites/Habitat Home/Data/Links/Store" />
              <exclude database="master" childrenOfPath="/sitecore/content/Habitat SXA Sites/Habitat Home/Presentation/Page Designs/Commerce" />
              <exclude database="master" childrenOfPath="/sitecore/content/Habitat SXA Sites/Habitat Home/Presentation/Partial Designs/Commerce" />
              <exclude database="master" childrenOfPath="/sitecore/content/Habitat SXA Sites/Habitat Home/Presentation/Styles/Custom/Store" />
              <exclude database="master" childrenOfPath="/sitecore/content/Habitat SXA Sites/Habitat Home/Home/Product Catalog"/>
            </include>

            <!-- Commerce component stubs -->
            <include name="Layout.Feature.Commerce" database="master" path="/sitecore/layout/Renderings/Feature/Commerce Experience Accelerator" />
            <include name="Layout.Foundation.Commerce" database="master" path="/sitecore/layout/Renderings/Foundation/Commerce Experience Accelerator" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>