<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Project.HabitatHome.Website.Shared" description="Habitat Home shared site content" dependencies="Foundation.*,Feature.*,Project.Global.Website" extends="Helix.Base">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\HabitatHome\Shared" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Project Habitat Home -->
            <include name="Templates" database="master" path="/sitecore/templates/Project/Habitat SXA Sites/Habitat Home">
              <!-- todo not sure why this one is excluded -->
              <exclude database="master" childrenOfPath="/sitecore/templates/Project/Habitat SXA Sites/Habitat Home/Store" />
            </include>
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Project/Habitat SXA Sites/Habitat Home" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project/Habitat SXA Sites/Habitat Home" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/Habitat SXA Sites/Habitat Home" />
            <include name="System.Settings" database="master" path="/sitecore/system/Settings/Project/Habitat SXA Sites/Habitat Home" />
            <include name="Media" database="master" path="/sitecore/media library/Project/Habitat SXA Sites/Habitat Home" />
            <include name="Forms" database="master" path="/sitecore/Forms/Habitat SXA Sites/Habitat Home" />

            <!-- todo Is this marketing stuff Habitat Home only? -->
            <include name="Marketing.Taxonomies.Asset" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Asset" />
            <include name="Marketing.Taxonomies.AssetFacet1" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Asset facet 1" />
            <include name="Marketing.Taxonomies.AssetFacet2" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Asset facet 2" />
            <include name="Marketing.Taxonomies.CampaignFacet1" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign facet 1" />
            <include name="Marketing.Taxonomies.CampaignFacet2" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign facet 2" />
            <include name="Marketing.Taxonomies.CampaignFacet3" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign facet 3" />
            <include name="Marketing.Taxonomies.CampaignGroup" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign group" />
            <include name="Marketing.Taxonomies.MarketingCategories" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Marketing categories" />
            <include name="Marketing.Taxonomies.GoalFacet1" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Goal facet 1" />
            <include name="Marketing.Taxonomies.GoalFacet2" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Goal facet 2" />
            <include name="Marketing.AutomationPlans" database="master" path="/sitecore/system/Marketing Control Panel/Automation Plans/2018" />
            <include name="Marketing.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Habitat Home" />
            <include name="Marketing.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes" />
            <include name="Marketing.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Habitat Home" />
            <include name="Marketing.Campaigns.Emails" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Emails" />
            <include name="Marketing.ContactLists" database="master" path="/sitecore/system/Marketing Control Panel/Contact Lists" />
            <include name="Marketing.Profiles.Templates" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Templates" />
            <include name="Marketing.Profiles.Budget" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Budget Interests" />
            <include name="Marketing.Profiles.Electronics" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Electronics Category" />
            <include name="Marketing.Profiles.Fitness" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Fitness and Trainers" />
            <include name="Marketing.Profiles.Product" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Product Interests" />
            <include name="Marketing.Profiles.Target" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Target Room Category" />
            <include name="Marketing.Profiles.Topic" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Topic Interest Category" />
            <include name="Marketing.Segments" database="master" path="/sitecore/system/Marketing Control Panel/Segments" />
            <include name="Marketing.TestLab" database="master" path="/sitecore/system/Marketing Control Panel/Test Lab" />

            <include name="Email" database="master" path="/sitecore/content/Email/Messages/2018" />

          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\Project\HabitatHome\serialization\Shared\Roles" singleInstance="true" />
          <rolePredicate>
            <include domain="sitecore" pattern="Habitat Home Guide Author"/>
            <include domain="sitecore" pattern="Habitat Home Content Approver"/>
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\Project\HabitatHome\serialization\Shared\Users" singleInstance="true" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="habitathome" pattern="^((?!Anonymous).)*$" />
            <include domain="sitecore" pattern="minnie" />
            <include domain="sitecore" pattern="pete" />
          </userPredicate>
          <userSyncConfiguration defaultPassword="b" minPasswordLength="1" removeOrphans="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>