<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"                                          
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Project.HabitatHome.Website" description="Habitat Home content" dependencies="Foundation.*,Feature.*,Project.Common.Website,Project.Habitat.Website" extends="Helix.Base">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Project\HabitatHome\serialization" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Templates" database="master" path="/sitecore/templates/Project/Habitat Sites/Habitat Home">
                            <exclude database="master" childrenOfPath="/sitecore/templates/Project/Habitat Sites/Habitat Home/Store" />
                        </include>
                        <include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/Project/Habitat Sites/Habitat Home" />

                        <include name="Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Project/Habitat Sites/Habitat Home" />
                        <include name="System.Settings" database="master" path="/sitecore/system/Settings/Project/Habitat Sites/Habitat Home" />

                        <include name="Content" database="master" path="/sitecore/content/Habitat Sites/Habitat Home">
                            <exclude database="master" childrenOfPath="/sitecore/content/Habitat Sites/Habitat Home/Data/Commerce" />
                            <exclude database="master" childrenOfPath="/sitecore/content/Habitat Sites/Habitat Home/Data/Links/Store" />
                            <exclude database="master" childrenOfPath="/sitecore/content/Habitat Sites/Habitat Home/Presentation/Page Designs/Commerce" />
                            <exclude database="master" childrenOfPath="/sitecore/content/Habitat Sites/Habitat Home/Presentation/Partial Designs/Commerce" />
                            <exclude database="master" childrenOfPath="/sitecore/content/Habitat Sites/Habitat Home/Presentation/Styles/Custom/Store" />
                            <exclude database="master" childrenOfPath="/sitecore/content/Habitat Sites/Habitat Home/home/Product Catalog"/>
                        </include>

                        <include name="Media" database="master" path="/sitecore/media library/Project/Habitat Sites/Habitat Home" />

                        <include name="Forms" database="master" path="/sitecore/Forms" />
                                                                                                                                                                  
                        <include name="Marketing.Taxonomies.Asset" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Asset" />
                        <include name="Marketing.Taxonomies.AssetFacet1" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Asset facet 1" />    
                        <include name="Marketing.Taxonomies.AssetFacet2" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Asset facet 2" />                                    
                        <include name="Marketing.Taxonomies.CampaignFacet1" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign facet 1" />       
                        <include name="Marketing.Taxonomies.CampaignFacet2" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign facet 2" />
                        <include name="Marketing.Taxonomies.CampaignFacet3" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign facet 3" />                              
                        <include name="Marketing.Taxonomies.CampaignGroup" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign group" />                        
                        <include name="Marketing.Taxonomies.GoalFacet1" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Goal facet 1" />                             
                        <include name="Marketing.Taxonomies.GoalFacet2" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Goal facet 2" />                                    
                        <include name="Marketing.AutomationPlans" database="master" path="/sitecore/system/Marketing Control Panel/Automation Plans/2018" />      
                        <include name="Marketing.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Habitat Home" />
                        <include name="Marketing.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Habitat Home" />                                                                                    
                        <include name="Marketing.ContactLists.ConnectedLiving" database="master" path="/sitecore/system/Marketing Control Panel/Contact Lists/Connected Living Content list-08139e58-425b-4868-b1a4-7e0e5abe0ea6" />
                        <include name="Marketing.ContactLists.GlobalOptOut" database="master" path="/sitecore/system/Marketing Control Panel/Contact Lists/Common Global Opt-out-cdcdd641-7fff-472e-a050-0eb117394039" />
                        <include name="Marketing.Profiles" database="master" path="/sitecore/system/Marketing Control Panel/Profiles" />
                        
                        <!-- Commerce component stubs -->
                        <include name="Layout.Feature.Commerce" database="master" path="/sitecore/layout/Renderings/Feature/Commerce Experience Accelerator" />
                        <include name="Layout.Foundation.Commerce" database="master" path="/sitecore/layout/Renderings/Foundation/Commerce Experience Accelerator" />

                        <include name="Email" database="master" path="/sitecore/content/Email/Messages">
                            <exclude database="master" childrenOfPath="/sitecore/content/Email/Messages/Service Messages" />
                        </include>

                    </predicate>
                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\project\HabitatHome\serialization\Roles" singleInstance="true" />                   
                    <rolePredicate>
                        <include domain="sitecore" pattern="Habitat Home Guide Author"/>
                        <include domain="sitecore" pattern="Habitat Home Content Approver"/>
                    </rolePredicate>
                    <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\HabitatHome\serialization\Users" singleInstance="true" />
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="habitathome" pattern="^((?!Anonymous).)*$" />
                        <include domain="sitecore" pattern="minnie" />
                        <include domain="sitecore" pattern="pete" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" removeOrphans="false" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>