<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/"
               xmlns:sxa="http://www.sitecore.net/xmlconfig/sxa/">
  <sitecore sxa:require="On">
    <sites>
      <!-- Set as default content start item in Content Editor -->
      <site name="shell">
        <patch:attribute name="contentStartItem">/Habitat SXA Sites/Habitat Home/home</patch:attribute>
      </site>
    </sites>

    <domainManager>
      <domains>
        <domain id="habitathome" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
          <param desc="name">$(id)</param>
          <ensureAnonymousUser>false</ensureAnonymousUser>
        </domain>
      </domains>
    </domainManager>
    <federatedAuthentication>
      <identityProvidersPerSites>
        <mapEntry name="habitathome" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication" resolve="true">
          <sites hint="list">
            <site>HabitatHome</site>
          </sites>
          <identityProviders hint="list:AddIdentityProvider">
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='Facebook']" integrations:require="Facebook" />
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='MicrosoftAccount']" integrations:require="MS" />
          </identityProviders>
          <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication" resolve="true">
            <param desc="isPersistentUser">true</param>
          </externalUserBuilder>
        </mapEntry>
      </identityProvidersPerSites>
    </federatedAuthentication>
  </sitecore>
</configuration>
