@import "styles/container/*";
@import "abstracts/mixins";
@import "abstracts/vars";
.container {
	.component-content {
        @include clearfix();
    }

    &.col-sm-12,
    &.col-xs-12 {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        @include container;    
    }

    .full-width-container {
        @include full-width-container;
    }
}

