<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/">
    <sitecore unicorn:require="On" integrations:require="Salesforce">      
      <pipelines>
        <postSessionEnd>
          <processor type="Sitecore.HabitatHome.Feature.CrmSalesforce.Pipelines.SyncToSalesforceCrmOnSessionEnd, Sitecore.HabitatHome.Feature.CRM" />
        </postSessionEnd>
      </pipelines>
      <settings>
        <setting name="Feature.CrmSalesforce.RunPipelineBatchIdOnSessionEnd" value="{39112405-308A-423D-8A87-D81F78813CE7}" />
      </settings>
    </sitecore>
</configuration>