<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.Email" description="Feature Email" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Feature/Habitat Sites/Email" />
                        <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Sites/Email" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Habitat Sites/Email" />
                        <include name="Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites/Email" />
                        <include name="Branches" database="master" path="/sitecore/templates/Branches/Feature/Habitat Sites/Email" />    
                        
                        <include name="Email" database="master" path="/sitecore/content/Email">       
                            <exclude database="master" childrenOfPath="/sitecore/content/Email/Messages"  />
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>