bin/**/*
obj/**/*
**/.git*
/.vs

**/*.md
**/node_modules/*
**/node_modules
/**/[Dd]ockerfile*
.env
.editorconfig


docker-compose*
LICENSE
*.DotSettings
snaketail*
Gitversion.yml
Sitecore.Demo.Platform.sln.DotSettings
build-cruise.yml
release-notes-template.hb

CleanDockerData.ps1
build-images.ps1
pull-build-images.ps1
init.ps1
init-ci.ps1

/build
/data
/Deploy
/tools
/docs
/docker






