bin/**/*
obj/**/*
**/.git*
/.vs

**/*.md
**/node_modules/*
**/node_modules
/**/[Dd]ockerfile*
.editorconfig

CleanDockerData.ps1
docker-compose*
LICENSE
*.DotSettings
snaketail*
docker/**/*.yml
Gitversion.yml
Sitecore.Demo.Platform.sln.DotSettings
build-cruise.yml
release-notes-template.hb

/build
/data
/Deploy
/tools
/docs






