[Oo]bj/
src/**/[Bb]in/
.nuget/
_ReSharper.*
*.user
*.cache
*.suo
*.userprefs
*.sln.ide
license.xml
lib/Modules/*
.vs
**/node_modules
.vscode
*.log
*.zip
*.user.config
*.user.js
*.user.targets
packages/
*.bak
/.github
tools/*
!tools/packages.config
/lib
**/backstop/*.json
**/backstop_data/bitmaps_test
**/backstop_data/engine_scripts
**/backstop_data/html_report
/Azure/tools
**/azure-user.config
Azure/**/azureuser-config.json
