[Oo]bj/
src/**/[Bb]in/
build/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
build/assets/**/*
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
license.xml
lib/Sitecore/*
!lib/Sitecore/readme.MD
!lib/Modules/*
lib/System/*
!lib/System/readme.MD	
.sonar
vars.user.cmd
.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
settings.user.ps1
*.log
*.zip

# Hedgehog Team Development for Sitecore
*.scproj.user
IconCache/
T4RenderCache/
BuiltFiles_*.txt
/src/**/tds/*/Report/*
*.p12
*.jks
deploy/
*.pubxml
install-xp0.json
configuration-xp0.json
set-installation-overrides.ps1
*.crt
