[Oo]bj/
src/**/[Bb]in/
.nuget/
_ReSharper.*
*.user
*.cache
*.suo
*.userprefs
*.sln.ide
license.xml
lib/Modules/*
.vs
/node_modules
.vscode
*.log
*.zip
*.user.config
*.user.js
*.user.targets
packages/
*.bak
/.github
/tools
