<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- 
  Used to specify the default Sources for list, install and update.
  -->
    <packageSources>
        <add key="Sitecore Preview" value="http://nuget1ca2/nuget/sc_packages_preview/" />
        <!--The following (9.2.0 Master) is there as legacy to support SXA packages. Can be removed when SXA moves to Preview feed.-->
        <add key="Sitecore 9.2.0 Master" value="http://nuget1ca2/nuget/9.2.0_master/" />
        <add key="Nuget v2" value="https://www.nuget.org/api/v2" />
        <add key="Nuget v3" value="https://api.nuget.org/v3/index.json" />
        <add key ="Tools" value="http://nuget1ca2/nuget/Tools/"/>
    </packageSources>
    <activePackageSource>
        <!-- this tells that all of them are active -->
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
