.facebook-comments {
    .fb-comments {
        width: 100%;
        >span {
        	text-align: justify !important;
            width: 100% !important;
            >iframe {
                width: 100% !important;
            }
        }
    }
}
