@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.HabitatHome.Feature.Email

<table class="header" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; padding: 20px 40px; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>
                <h1 style="font-family: sans-serif; font-size: 32px; margin: 32px 0; color: #1b8f9c; font-weight: bold;">
                    @Html.Sitecore().Field(Templates.EmailBody.Fields.Title.ToString(), Model.Item)
                </h1>
                <p style="margin: 0px; text-align: left; color: #848589; line-height: 2; font-family: sans-serif; font-size: 14px; font-weight: normal;">
                    @Html.Sitecore().Field(Templates.EmailBody.Fields.Body.ToString(), Model.Item)
                </p>
            </td>
        </tr>
    </tbody>
</table>