@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.HabitatHome.Feature.Email
                                           
<table class="header" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; padding: 10px 20px; border-top: 5px solid #1b8f9c; background-color:#3f4342;" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>
                @Html.Sitecore().Field(Templates.Header.Fields.Logo.ToString(), Model.Item, new { width = "144", height = "45", style = "width: 144px; height: 45px;" })
            </td>
        </tr>
    </tbody>
</table>
