@model Sitecore.Mvc.Presentation.RenderingModel                 
@using Sitecore.HabitatHome.Feature.Email
                                           
<table class="header" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; padding: 0 40px; background:#ffffff;" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>
                 @Html.Sitecore().Field(Templates.Image.Fields.Image.ToString(), Model.Item, new { width = "494", height = "193", style = "width: 494px; height: 193px;" })&nbsp;                
            </td>
        </tr>
    </tbody>
</table>
