@model Sitecore.Mvc.Presentation.RenderingModel

<table class="header" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; padding: 0 40px; background:#ffffff;" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>
                <img alt="" style="width: 494px; height: 193px;" src="-/media/E59F13306FD347DCB7089B34296D7314.ashx" />&nbsp;
            </td>
        </tr>
    </tbody>
</table>
