<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
	<sitecore unicorn:require="Enabled">
		<unicorn>
			<configurations>
				<configuration name="Feature.CoveoSearch" description="Sitecore Demo Expandable Search Box" dependencies="Foundation.*" extends="Helix.Feature" >
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Demo Shared/CoveoSearch" />
						<include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Demo Shared/CoveoSearch" />
						<include name="Dictionaries" database="master" path="/sitecore/system/Dictionary/Feature/Demo Shared/CoveoSearch" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
