<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Project.Habitat.Website" description="Habitat content" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Base">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Templates" database="master" path="/sitecore/templates/Project/Habitat Sites/Habitat" />
                        <include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/Project/Habitat Sites/Habitat" />
                        <include name="Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Project/Habitat Sites/Habitat" />
                        <include name="System.Settings" database="master" path="/sitecore/system/Settings/Project/Habitat Sites/Habitat" />
                        <include name="Media" database="master" path="/sitecore/media library/Project/Habitat Sites/Habitat" />
                        <include name="Content" database="master" path="/sitecore/content/Habitat Sites/Habitat" />
                    </predicate>
                    <rolePredicate>
                        <include domain="habitat" pattern="^Project Habitat .*$" />
                    </rolePredicate>
                    <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\Habitat\serialization\Users" singleInstance="true" />
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="habitathome" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>