<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.Accounts" description="Feature Accounts" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Feature.Accounts.Profiles" database="core" path="/sitecore/system/Settings/Security/Profiles/Accounts" />
                        <include name="Feature.Accounts.Accounts" database="core" path="/sitecore/templates/Feature/Habitat Sites/Accounts" />
                        <include name="Feature.Accounts.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Sites/Accounts" />
                        <include name="Feature.Accounts.Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites/Accounts" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>