<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Feature.Accounts" description="Feature Accounts" dependencies="Foundation.*" extends="Helix.Feature">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Core.Settings.Profiles" database="core" path="/sitecore/system/Settings/Security/Profiles/Accounts" />
            <include name="Core.Templates.Accounts" database="core" path="/sitecore/templates/Feature/Habitat Home/Accounts" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Home/Accounts" />
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Habitat Home/Accounts" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>