@model Sitecore.Feature.Demo.Models.SidebarModel

<div style="background-color:red; height:200px">Hello, world!!!</div>
@Html.Partial("_Visits")
<!-- add demo sidebar html / partials here -->
<!-- there is no content-managed content in this component -->