<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.Core.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.Model.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.XConnect.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.CES.DeviceDetection.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Cintel.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.Api.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.Core.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceEditor.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceExplorer.Core.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Automation.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Taxonomy.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.Analytics.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.Configuration.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Collection.Model.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Diagnostics.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Search.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.MarketingAutomation.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
</packages>