<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Rendering Variants foundation module.

Rendering Variants are variations of components. When a user places a component on a page they are able to select different ways that the component can appear and the content that it displays.
This can vary from project to project. Super users can create their own Rendering Variants.
This removes the need for building new renderings that are only slight different than the existing renderings.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.XA.Foundation.JsonVariants.EventHandlers.JsonVariantCacheClearer, Sitecore.XA.Foundation.JsonVariants" method="OnPublishEnd" />
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.XA.Foundation.JsonVariants.EventHandlers.JsonVariantCacheClearer, Sitecore.XA.Foundation.JsonVariants" method="OnPublishEndRemote" />
      </event>
      <event name="item:saved">
        <handler type="Sitecore.XA.Foundation.JsonVariants.EventHandlers.JsonVariantCacheClearer, Sitecore.XA.Foundation.JsonVariants" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="Sitecore.XA.Foundation.JsonVariants.EventHandlers.JsonVariantCacheClearer, Sitecore.XA.Foundation.JsonVariants" method="OnItemSavedRemote" />
      </event>
      <event name="item:deleting">
        <handler type="Sitecore.XA.Foundation.JsonVariants.EventHandlers.JsonVariantCacheClearer, Sitecore.XA.Foundation.JsonVariants" method="OnItemDeleting" />
      </event>
    </events>
    <pipelines>
      <parseVariantFields>
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonField, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonSection, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonPlaceholder, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonDate, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonText, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonReference, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonMultilistReference, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonToken, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonFile, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonCheckbox, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonRichText, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonImage, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.ParseVariantFields.ParseJsonQuery, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
      </parseVariantFields>
      <renderVariantField>
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonField, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonSection, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonPlaceholder, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonDate, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonText, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonReference, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonMultilistReference, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonToken, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonFile, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonCheckbox, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonRichText, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonImage, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonQuery, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonScriban, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
        <processor type="Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderScribanAsJson, Sitecore.XA.Foundation.JsonVariants" resolve="true" />
      </renderVariantField>
    </pipelines>
    <services>
      <register serviceType="Sitecore.XA.Foundation.JsonVariants.Renderers.IJsonRendererFactory, Sitecore.XA.Foundation.JsonVariants" implementationType="Sitecore.XA.Foundation.JsonVariants.Renderers.JsonRendererFactory, Sitecore.XA.Foundation.JsonVariants" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>

