@charset "UTF-8";
/* breakpoints */
.search-results {
  /* breakpoints */
}

.search-results label {
  background: transparent;
  color: #747474;
}

.search-results input, .search-results button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #747474;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
  height: auto;
  font-size: 14px;
}

.search-results input:focus {
  border: 1px solid #d2d2d2;
}

.search-results input[type="submit"], .search-results input[type="reset"], .search-results input[type="button"], .search-results button {
  border: 1px solid #50a1ab;
  padding: 5px 20px;
}

.search-results input[type="submit"]:hover, .search-results input[type="reset"]:hover, .search-results input[type="button"]:hover, .search-results button:hover {
  background: #f7f7f7 !important;
}

.search-results input::-moz-focus-inner, .search-results button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.search-results input[type="text"] {
  font-size: 13px;
}

.search-results input[type="text"], .search-results input[type="email"], .search-results input[type="password"], .search-results textarea, .search-results select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #747474;
  width: 100%;
  background: #fff;
  border: 1px solid #d2d2d2;
}

.search-results select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.search-results .search-result-list {
  padding-top: 5px;
}

.search-results.vertical .search-result-list > li, .search-results.component-details .search-result-list > li, .search-results.standard-fields .search-result-list > li {
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #d2d2d2;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 5px;
  margin: 0 7px 10px 0;
}

.search-results.vertical .search-result-list > li .field-title, .search-results.component-details .search-result-list > li .field-title, .search-results.standard-fields .search-result-list > li .field-title {
  display: block;
  margin-top: 10px;
}

.search-results.vertical .search-result-list > li .field-title a, .search-results.component-details .search-result-list > li .field-title a, .search-results.standard-fields .search-result-list > li .field-title a {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  font-weight: normal;
  display: block;
}

.search-results.vertical .search-result-list > li a img, .search-results.component-details .search-result-list > li a img, .search-results.standard-fields .search-result-list > li a img {
  max-width: 100%;
  height: auto;
}

.search-results.vertical .search-result-list > li:hover, .search-results.component-details .search-result-list > li:hover, .search-results.standard-fields .search-result-list > li:hover {
  border-bottom-width: 1px 1px 2px 1px;
  border-bottom-style: solid;
  border-bottom-color: #408088;
}

.search-results.horizontal .search-result-list, .search-results.components .search-result-list, .search-results.example-fields .search-result-list {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search-results.horizontal .search-result-list:after, .search-results.components .search-result-list:after, .search-results.example-fields .search-result-list:after {
  content: "";
  display: table;
  clear: both;
}

.search-results.horizontal .search-result-list > li, .search-results.components .search-result-list > li, .search-results.example-fields .search-result-list > li {
  box-sizing: border-box;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #d2d2d2;
  position: relative;
  min-height: 120px;
  margin: 0 2% 10px 0;
  padding: 5px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 175px;
  min-width: 23%;
}

.search-results.horizontal .search-result-list > li .field-title, .search-results.components .search-result-list > li .field-title, .search-results.example-fields .search-result-list > li .field-title {
  display: block;
  padding: 0 5px;
  text-align: center;
}

.search-results.horizontal .search-result-list > li .field-title a, .search-results.components .search-result-list > li .field-title a, .search-results.example-fields .search-result-list > li .field-title a {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  font-weight: normal;
}

.search-results.horizontal .search-result-list > li a img, .search-results.components .search-result-list > li a img, .search-results.example-fields .search-result-list > li a img {
  max-width: 100%;
  height: auto;
}

.search-results.horizontal .search-result-list > li:hover, .search-results.components .search-result-list > li:hover, .search-results.example-fields .search-result-list > li:hover {
  border-bottom-width: 1px 1px 2px 1px;
  border-bottom-style: solid;
  border-bottom-color: #408088;
}

.search-results .search-results-overlay {
  display: none;
}

.search-results.loading-in-progress {
  min-height: 200px;
}

.search-results.loading-in-progress .search-result-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.search-results.loading-in-progress .search-result-overlay:after {
  content: "";
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+CiAgPHBhdGggIG9wYWNpdHk9Ii4yNSIgZD0iTTE2IDAgQTE2IDE2IDAgMCAwIDE2IDMyIEExNiAxNiAwIDAgMCAxNiAwIE0xNiA0IEExMiAxMiAwIDAgMSAxNiAyOCBBMTIgMTIgMCAwIDEgMTYgNCIvPgogIDxwYXRoIGZpbGw9JyNkZGRkZGQnIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMSAzMiAxNiBMMjggMTYgQTEyIDEyIDAgMCAwIDE2IDR6Ij4KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogIDwvcGF0aD4KPC9zdmc+);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
  right: 0;
  margin: -30px auto 0;
}

.search-results.loading-more-in-progress:after {
  content: "";
  display: block;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+DQogIDxwYXRoICBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4NCiAgPHBhdGggZmlsbD0nIzFhODBiNicgZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPg0KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPg0KICA8L3BhdGg+DQo8L3N2Zz4NCg==);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  height: 100px;
}

.search-results .no-results {
  padding: 5px;
}

.site-search-results {
  padding-top: 100px;
}

@media only screen and (max-width: 786px) {
  .site-search-results > .component-content > .row > .col-sm-4 {
    float: none;
    width: auto;
  }
}

.site-search-results .search-result-list {
  font-size: 14px;
}

.site-search-results .search-result-list .search-result-labels {
  margin-bottom: 0.66667em;
}

.site-search-results .search-result-list .search-result-links {
  margin-top: 0.66667em;
}

.site-search-results .search-result-list .search-result-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.site-search-results .search-result-list .search-result-links a:after {
  font-family: FontAwesome;
  content: "ï„…";
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 4px;
}

.site-search-results .search-result-list .field-title {
  margin-bottom: 1em;
}

.site-search-results .search-result-list .field-title a {
  color: #50a1ab;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.875em;
  line-height: 0.9;
}

@media only screen and (max-width: 786px) {
  .site-search-results .search-result-list .field-title a {
    font-size: 24px;
  }
}

.site-search-results .search-result-list li {
  padding: 1.25em 0;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.site-search-results .search-result-list li .field-navigation-image {
  width: 150px;
  margin-left: 40px;
}

.site-search-results .search-result-list li .field-navigation-image img {
  width: 100%;
}

@media only screen and (max-width: 786px) {
  .site-search-results .search-result-list li {
    display: block;
    margin-bottom: 2em;
  }
  .site-search-results .search-result-list li .field-navigation-image {
    margin-left: 0;
  }
}

.site-search-results .search-result-list p {
  margin-bottom: 1.5em;
}

.site-search-results .search-results-count {
  font-size: 14px;
}

.site-search-results .facet-title {
  font-size: 14px;
}

.site-search-results .facet-title label {
  font-weight: bold;
}

.site-search-results .page-size select {
  font-size: 14px;
  line-height: 38px;
  height: 38px;
  padding: 0 0.5em;
  border: 1px solid #B1B3AC;
  box-shadow: 0 0 transparent;
}

.site-search-results .facet-single-selection-list .facet-title {
  font-size: 1.875em;
  margin-top: 0.66667em;
  margin-bottom: 0.33333em;
}

.site-search-results .facet-single-selection-list .facet-heading {
  border: 0;
}

.site-search-results .facet-single-selection-list .facet-value {
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
}

.site-search-results .facet-single-selection-list .facet-value:hover {
  background-color: #eee;
}

.site-search-results .facet-single-selection-list .facet-value .facet-count {
  font-weight: bold;
}

@media only screen and (max-width: 786px) {
  .site-search-results .facet-single-selection-list {
    margin-bottom: 40px;
  }
}

.site-search-results .bottom-remove-filter button {
  margin-top: 2em;
  border: none;
  background-color: #50a1ab !important;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 2em;
  line-height: 48px;
}

.site-search-results .bottom-remove-filter button:hover {
  background: #50a1ab !important;
  opacity: 0.8;
}
