/* breakpoints */
.privacy-warning {
  font-size: 14px;
  font-size: 1.4rem;
  opacity: 0.8;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  z-index: 1000;
  background: url(../Images/overlay-bg.png);
}

.privacy-warning .component-content {
  position: relative;
  height: auto;
  width: 90%;
  padding: 15px;
  margin: 0 auto;
}

.privacy-warning a {
  color: #FFFFFF;
  font-size: 1em;
}

.privacy-warning a:hover, .privacy-warning a:focus {
  color: #FFFFFF;
  text-decoration: none;
}

.privacy-warning .close {
  -webkit-transform: scale(1.3, 0.95);
  -ms-transform: scale(1.3, 0.95);
  transform: scale(1.3, 0.95);
  font-size: 2em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-weight: bold;
}

.privacy-warning .learnMore {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.privacy-warning .submit {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0;
}

.privacy-warning .submit a {
  display: inline-block;
  padding: 1.25em 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #50a1ab !important;
  border: 1px solid #50a1ab;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-size: 11px;
  line-height: 1.28571;
  font-weight: 700;
}

.privacy-warning .submit a:hover {
  color: white;
  background-color: #71b4bd !important;
  border: 1px solid #71b4bd;
}

.privacy-warning .info {
  margin: 0 30px;
  font-size: 14px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
