@import "vars";
@import "../../abstracts/mixins";
@import "../../base/fontawesome/font-awesome-mix-var";
//Drop Down Navigation Common Part
.navigation.navigation-main {
    .component-content>nav {
        position: relative;
        ul {
            @include clearfix();
        }
    }
    .rel-level1 {
        float: left;
        &.active {
            >.navigation-title>a {
                border-color: $nav-border-root;
            }
        }
        >.navigation-title>a {
            border-width: 2px 0 0 0;
            border-color: transparent;
            &:hover {
                text-decoration: none;
                font-weight: 900;
            }
        }
        &.submenu {
            >.navigation-title a {
                position: relative;
            }
        }
        //submenu
        >ul {
            overflow: hidden;
            $borderSize: 2px;
            display: none;
            z-index: 10;
            position: absolute;
            top: 100%;
            background: $nav-bg-submenu;
            box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.5);
            margin-left: 0;
            margin-top: -$borderSize;
            border-bottom: 4px solid $nav-submenu-item-border;
        }
        &.show {
            >a {
                &+ul {
                    display: block !important;
                }
            }
            >ul {
                display: block !important;
                min-width: 60px;
            }
        }
        &.active {
            >.navigation-title>a:link, >.navigation-title>a:visited {
                font-weight: 900;
            }
            >span {
                display: block;
                padding: 10px 20px;
                color: $text-white;
            }
        }
        &.submenu.active {
            border-color: $menu-active-color;
        }
    }
    .rel-level2 {
        &:hover, &:focus {
            transition: background .2s ease-in;
        }
        div>a {
            display: block;
            font-weight: normal;
            font-size: $navigation-font-basic-submenu;
            text-align: left;
            &:hover, &:focus {
                color: $nav-color-submenu;
                text-decoration: none;
                font-weight: 900;
            }
        }
        &.submenu {
            box-sizing: border-box;
            &.navigation-image {
                text-align: center;
                >a, .field-navigationtext {
                    text-align: left;
                }
            }
        }

        >li {
            padding: none;
        }
    }
    // Additional styles fot drop down horizontal navigation 
    &.navigation-main-horizontal {
        .submenu>ul {
            padding-left: 0;
        }
        .rel-level1 {
            &.show {
                >a {
                    &+ul {
                        display: inline-flex !important;
                        flex-wrap: wrap;
                    }
                }
                >ul {
                    display: inline-flex !important;
                    flex-wrap: wrap;
                }
            }
            >ul {
                width: 100%;
                clear: both;
                left: 0;
            }
        }
        .rel-level2 {
            float: left;
            padding: 10px;
            @include border-basic(right, $nav-submenu-item-border, 1px);
            flex-grow: 1;
            flex-basis: 23%;
        }
    }
    // Additional styles fot drop down vertical navigation 
    &.navigation-main-vertical {
        .rel-level1>ul {
            padding: 10px 18px 18px 18px;
            width: auto;
            left: auto;

            div {
                padding-top: 12px;
            }
        }
    }
}
