@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Sitecore.HabitatHome.Foundation.Alerts.Models
@using Sitecore.HabitatHome.Foundation.Dictionary.Extensions
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.Sitecore().FormHandler("Accounts", "ExportData")
    <div class="form-group">
        <input type="submit" class="btn btn-info btn-md btn-block" value="@Html.Sitecore().Dictionary("/Accounts/Data Protection/Export Data", "Export Data")" />
    </div>

}

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.Sitecore().FormHandler("Accounts", "DeleteAccount")
    <div class="form-group">
        <input type="submit" class="btn btn-danger btn-md btn-block" value="@Html.Sitecore().Dictionary("/Accounts/Data Protection/Delete Account", "Delete Account")" />
    </div>
}