@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Sitecore.HabitatHome.Foundation.Alerts.Models
@using Sitecore.HabitatHome.Foundation.Dictionary.Extensions
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@model Sitecore.HabitatHome.Feature.Accounts.Models.ExportAccount

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AddUniqueFormId()

    <div class="form-group">
        <input type="submit" class="btn btn-info btn-md btn-block" value="@Html.Sitecore().Dictionary("/Accounts/Export Data/Export Data", "Export Data")" />
    </div>

}