<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:sxa="http://www.sitecore.net/xmlconfig/sxa/">
  <sitecore unicorn:require="On" sxa:require="On">
    <unicorn>
      <configurations>
        <configuration name="Feature.ExperienceAccelerator.Extensions" description="Experience Accelerator Feature Extensions" dependencies="Foundation.*" extends="Helix.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Habitat Home/XA" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Home/XA" />            
            <include name="Scaffolding" database="master" path="/sitecore/system/Settings/Feature/Habitat SXA Sites/XA" />
            
            <!-- SXA Overrides -->
            <include name="SXA.CoreScripts.Typeahead" database="master" path="/sitecore/media library/Base Themes/Core Libraries/scripts/typeahead" />

            <!-- Experience Editor buttons -->
            <include name="WebEdit.Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons">
              <exclude children="true">
                <except name="Edit Hero Background" />
                <except name="Associate Author" />
              </exclude>              
            </include>

          </predicate>
          
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>