<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Feature.ExperienceAccelerator.Extensions" description="Experience Accelerator Feature Extensions" dependencies="Foundation.*" extends="Helix.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Templates" database="master" path="/sitecore/templates/Feature/Demo Shared/XA" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Demo Shared/XA" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Demo Shared/XA" />
            <include name="Scaffolding" database="master" path="/sitecore/system/Settings/Feature/Demo Shared SXA Sites/SitecoreDemo" />

            <!-- SXA Overrides -->
            <include name="SXA.CoreScripts.Typeahead" database="master" path="/sitecore/media library/Base Themes/Core Libraries/scripts/typeahead" />

            <!-- Experience Editor buttons -->
            <include name="WebEdit.Hero.EditHeroBackground" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Edit Hero Background" />
            <include name="WebEdit.Author.AssociateAuthor" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Associate Author" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>