$font-small:11px;
$font-normal:14px;
$font-basic:14px;
$font-medium:18px;
$font-big:20px;
$font-extrabig:24px;
//Navigation
$navigation-font-small:12px;
$navigation-font-basic:16px;
$navigation-font-basic-submenu:15px;
$navigation-icon-size:24px;
//Tabs
$tab-font-header:16px;
//Accordion
$accordion-header:16px;
//Breadcrumb
$breadcrumb-font:15px;
// Link List
$link-list-title-font:15px;
