<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <pipelines>
      <startTracking>
        <processor type="Sitecore.HabitatHome.Foundation.SitecoreExtensions.Pipelines.ExcludeUrlsFromAnalytics,Sitecore.HabitatHome.Foundation.SitecoreExtensions" patch:before="*[@type='Sitecore.Analytics.Pipelines.StartTracking.RaiseStartTracking, Sitecore.Analytics']">
          <urls hint="list:AddUrls">
            <url>/api/cxa/</url>
            <url>/fieldtracking/</url>
            <url>/service/notfound.aspx</url>
          </urls>
        </processor>
      </startTracking>
    </pipelines>

    <settings>
      <setting name="Analytics.LongRunningRequest" value="25000" />
    </settings>
    
  </sitecore>
</configuration>
