<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <controlSources>
            <source assembly="Sitecore.HabitatHome.Foundation.SitecoreExtensions" mode="on" namespace="Sitecore.HabitatHome.Foundation.SitecoreExtensions.Controls" prefix="content" />
        </controlSources>
        <pipelines>
            <renderField>
                <processor patch:before="*[@type='Sitecore.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Kernel']" type="Sitecore.HabitatHome.Foundation.SitecoreExtensions.Pipelines.RenderField.RenderRelativeLink, Sitecore.HabitatHome.Foundation.SitecoreExtensions" />
            </renderField>
        </pipelines>
    </sitecore>
</configuration>
