<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <startTracking>
        <processor type="Sitecore.Demo.Platform.Foundation.SitecoreExtensions.Pipelines.ExcludeUrlsFromAnalytics,Sitecore.Demo.Platform.Foundation.SitecoreExtensions" patch:before="*[@type='Sitecore.Analytics.Pipelines.StartTracking.RaiseStartTracking, Sitecore.Analytics']">
          <urls hint="list:AddUrls">
            <url>/api/cxa/</url>
            <url>/fieldtracking/</url>
            <url>/service/notfound.aspx</url>
          </urls>
        </processor>
      </startTracking>

      <saveSession>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.CheckPreconditions, Sitecore.Analytics" />
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateGeoIpData, Sitecore.Analytics" />
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.EnsureClassification, Sitecore.Analytics" />
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.Robots, Sitecore.Analytics" />
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.IgnoreVisitsWithoutPages, Sitecore.Analytics" />
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateContactSaveMode, Sitecore.Analytics" />
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.SubmitSession, Sitecore.Analytics">
          <SessionContextManager ref="tracking/sessionContextManager" />
        </processor>
      </saveSession>
    </pipelines>

    <settings>
      <setting name="Analytics.LongRunningRequest" value="25000" />
    </settings>
  </sitecore>
</configuration>