<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <!-- Set as default content start item in Content Editor -->
      <site name="shell">
        <patch:attribute name="contentStartItem">/Habitat Standard Sites/Habitat Home Corporate/Home</patch:attribute>
      </site>
      <site name="HabitatHomeCorporate" enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/Habitat Standard Sites/Habitat Home Corporate" startItem="/Home"
            database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0"
            viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true"
            enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB"
            hostName="habitathomecorporate.dev.local"
            dictionaryPath="/sitecore/content/Habitat Standard Sites/Habitat Home Corporate/Data/Dictionary"
            patch:before="site[@name='website']"/>
    </sites>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>HabitatHomeCorporate</site>
          </sites>
        </handler>
        <handler type="Sitecore.Publishing.RenderingParametersCacheClearer, Sitecore.Kernel" method="ClearCache"/>
      </event>
    </events>
  </sitecore>
</configuration>
