<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Project.HabitatHome.Corporate.Website" description="Habitat Corporate content" dependencies="Foundation.*,Feature.*,Project.Global.Website">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\HabitatHomeCorporate\serialization" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Project Habitat Home Corporate -->
            <include name="Templates" database="master" path="/sitecore/templates/Project/Habitat Standard Sites/Habitat Home Corporate" />
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Project/Habitat Standard Sites/Habitat Home Corporate" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project/Habitat Standard Sites/Habitat Home Corporate" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/Habitat Standard Sites/Habitat Home Corporate" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/Habitat Standard Sites/Habitat Home Corporate" />
            <include name="Content" database="master" path="/sitecore/content/Habitat Standard Sites/Habitat Home Corporate" />
            <include name="Media" database="master" path="/sitecore/media library/Project/Habitat Standard Sites/Habitat Home Corporate" />
            <include name="Forms" database="master" path="/sitecore/Forms/Habitat Standard Sites/Habitat Home Corporate" />
            <include name="System.Settings" database="master" path="/sitecore/system/Settings/Project/Habitat Standard Sites/Habitat Home Corporate" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>