<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
	<sitecore>
		<settings>
			<setting name="Sitecore.ContentTagging.OpenCalais.CalaisEndpoint">
				<patch:attribute name="value">https://api-eit.refinitiv.com/permid/calais</patch:attribute>
			</setting>
			<setting name="Sitecore.ContentTagging.OpenCalais.CalaisAccessToken" >
				<patch:attribute name="value">$(env:OPENCALAIS_ACCESSTOKEN)</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>
