&.file-list-images {
    .file-list-items {
        li {
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 30%;
        }
    }
}
