@import "abstracts/vars";
@import "abstracts/mixins";
.search-results {
    @import "base/reset/inputs";
    .search-result-list {
        padding-top: 5px;
    }
    &.vertical, &.component-details, &.standard-fields {
        .search-result-list {
            >li {
                @include border-basic(all, $border-width: 1px 1px 2px 1px);
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                position: relative;
                width: 100%;
                padding: 5px;
                margin: 0 7px 10px 0;
                .field-title {
                    display: block;
                    margin-top: 10px;
                    a {
                        font-size: $font-medium;
                        line-height: 20px;
                        text-decoration: none;
                        font-weight: normal;
                        display: block;
                    }
                }
                a {
                    img {
                        max-width: 100%;
                        height:auto;
                    }
                }
                &:hover {
                    @include border-basic(bottom, $search-item-border-active, 1px 1px 2px 1px);
                }
            }
        }
    }
    &.horizontal, &.components, &.example-fields {
        .search-result-list {
            @include clearfix();
            width: 100%;
            display: inline-flex;
            flex-wrap: wrap;
            >li {
                box-sizing: border-box;
                @include border-basic(all, $border-width: 1px 1px 2px 1px);
                position: relative;
                min-height: 120px;
                margin: 0 2% 10px 0;
                padding: 5px;
                flex: 1;
                min-height: 175px;
                min-width: 23%;
                .field-title {
                    display: block;
                    padding: 0 5px;
                    text-align: center;
                    a {
                        font-size: 18px;
                        line-height: 20px;
                        text-decoration: none;
                        font-weight: normal;
                    }
                }
                a {
                    img {
                        max-width: 100%;
                        height:auto;
                    }
                }
                &:hover {
                    @include border-basic(bottom, $search-item-border-active, 1px 1px 2px 1px);
                }
            }
        }
    }
    .search-results-overlay {
        display: none;
    }
    &.loading-in-progress {
        min-height: 200px;
        .search-result-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            &:after {
                content: "";
                background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+CiAgPHBhdGggIG9wYWNpdHk9Ii4yNSIgZD0iTTE2IDAgQTE2IDE2IDAgMCAwIDE2IDMyIEExNiAxNiAwIDAgMCAxNiAwIE0xNiA0IEExMiAxMiAwIDAgMSAxNiAyOCBBMTIgMTIgMCAwIDEgMTYgNCIvPgogIDxwYXRoIGZpbGw9JyNkZGRkZGQnIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMSAzMiAxNiBMMjggMTYgQTEyIDEyIDAgMCAwIDE2IDR6Ij4KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogIDwvcGF0aD4KPC9zdmc+);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                position: absolute;
                width: 50px;
                height: 50px;
                top: 50%;
                left: 0;
                right: 0;
                margin: -30px auto 0;
            }
        }
    }
    &.loading-more-in-progress {
        &:after {
            content: "";
            display: block;
            @include loading-gif();
            background-size: 50% 50%;
            height: 100px;
        }
    }
    .no-results {
        padding: 5px;
    }
}

.site-search-results {
    padding-top: 100px;
  
    @include respond-to(mobile-large) {
      & > .component-content > .row > .col-sm-4 {
        float: none;
        width: auto;
      }
    }
  
    .search-result-list {
      font-size: $font-normal;
      .search-result-labels {
        margin-bottom:0.66667em;
      }
      .search-result-links {
        margin-top:0.66667em;
        a {        
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 700;
          &:after{
            font-family: FontAwesome;
            content: "ï„…";
            font-size: $font-big;
            vertical-align: middle;
            font-weight: bold;
            margin-left: 4px;
          }
        }
      }
  
      .field-title {
        margin-bottom: 1em;  
        a {
          color: $brand-primary;
          font-weight: 700;
          text-decoration: none;
          font-size: 1.875em;
          line-height: 0.9;
  
          @include respond-to(mobile-large) {
            font-size: $font-extrabig;
          }
        }    
      }
    
      li {
        padding: 1.25em 0;
        border-bottom: 1px solid #eee;
        display: flex;
        margin-bottom: 1em;
    
        .field-navigation-image {
          width: 150px;
          margin-left: 40px;
    
          img {
            width: 100%;
          }
        }
  
        @include respond-to(mobile-large) {
          display: block;
          margin-bottom: 2em;
  
          .field-navigation-image {
            margin-left: 0;
          }
        }
      }
    
      p {
        margin-bottom: 1.5em;
      }
    }
    
    .search-results-count {
      font-size: $font-normal;
    }
    
    .facet-title {
      font-size: $font-normal;
    
      label {
        font-weight: bold;
      }
    }
    
    .page-size select {
      font-size: $font-normal;
      line-height: 38px;
      height: 38px;
      padding: 0 0.5em;
      border: 1px solid #B1B3AC;
      box-shadow: 0 0 transparent;
    }
    
    .facet-single-selection-list {
      .facet-title {
        font-size: 1.875em;
        margin-top: 0.66667em;
        margin-bottom: 0.33333em;
      }
      .facet-heading {
        border: 0;
      }
    
      .facet-value {
        font-size: $font-normal;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 3px;
    
        &:hover {
          background-color: #eee;
        }
    
        .facet-count {
          font-weight: bold;
        }
      }
  
      @include respond-to(mobile-large){
        margin-bottom: 40px;
      }
    }
    
    .bottom-remove-filter {
      button {
        margin-top: 2em;
        border: none;
        background-color: $brand-primary !important;
        color: white;
        font-size: $font-normal;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 2em;
        line-height: 48px;
    
        &:hover {
          background: $brand-primary !important;
          opacity: 0.8;
        }
      }
    } 
  }
