<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:sxa="http://www.sitecore.net/xmlconfig/sxa/">
    <sitecore sxa:require="on">
        <pipelines>
            <ceExport.pageProcessing>
                <processor type="Sitecore.HabitatHome.Foundation.CreativeExchange.Pipelines.PageProcessing.PageRequestOverride, Sitecore.HabitatHome.Foundation.CreativeExchange" resolve="true"
                           patch:instead="*[@type='Sitecore.XA.Feature.CreativeExchange.Pipelines.Export.PageProcessing.PageRequest, Sitecore.XA.Feature.CreativeExchange']"/>
            </ceExport.pageProcessing>
        </pipelines>
    </sitecore>
</configuration>