services:
  solution:
    image: ${REGISTRY}build/lighthouse-solution:${SITECORE_VERSION}-${NANOSERVER_VERSION}-${SOLUTION_VERSION}
    isolation: hyperv
    build:
      context: ./images/windows/demo-solution
      dockerfile: Dockerfile.CI
      args:
        SOLUTION_XCONNECT_IMAGE: ${REGISTRY}build/lighthouse-solution-xconnect:${SITECORE_VERSION}-${LTSC_NANOSERVER_VERSION}-${SOLUTION_VERSION}
        SOLUTION_CONTENT_IMAGE: ${REGISTRY}build/lighthouse-solution-content:${SITECORE_VERSION}-${LTSC_NANOSERVER_VERSION}-${SOLUTION_VERSION}
        BASE_IMAGE:  mcr.microsoft.com/windows/nanoserver:${NANOSERVER_VERSION}

