@using Sitecore.Mvc
@model Sitecore.Demo.Platform.Feature.CoveoSearch.Models.ExpandableSearchboxModel

@{
	string editorClass = Model.IsExperienceEditor ? "edit-mode" : "normal-mode";
	string coveoClass = Model.IsCoveoActivated ? "show-coveo" : "hide-coveo";
}

<div class="component coveo-expandable-searchbox @editorClass @coveoClass">
	<div class="component-content-open">
		<label class="demo-search-toggle">
			<span class="demo-search-label demo-sxasearch-label">SXA Search</span>
			<span class="demo-search-switch">
				<input class="demo-search-toggler" type="checkbox">
				<span class="demo-search-slider"></span>
			</span>
			<span class="demo-search-label demo-coveosearch-label">Coveo Search</span>
		</label>
		@if (Model.IsCoveoActivated)
		{
			<div class="search-placeholder coveo-search-placeholder">
				@Html.Sitecore().DynamicPlaceholder("search-box-placeholder", seed: 100)
			</div>
		}
		<div class="search-placeholder sxa-search-placeholder">
			@Html.Sitecore().DynamicPlaceholder("search-box-placeholder", seed: 200)
		</div>
	</div>
</div>