@import "../../abstracts/vars";
.page-selector {
    text-align: center;
    padding: 10px 0 0 0;
    .page-selector-list {
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 8px;
            &.inactive {
                a {
                    color: $text-disabled;
                    cursor: default;
                }
            }
        }
    }
    a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
    }
    .page-selector-item-link {
        @include border-basic();
        display: block;
        text-decoration: none;
        font-weight: normal;
        height: 28px;
        line-height: 22px;
        padding: 2px 9px;
        margin-left: 5px;
        &.active {
            font-weight: bold;
            color: $search-pagination-hover-color;
            border: 1px solid $search-pagination-hover-border;
            background: $search-pagination-hover-bg;
        }
        &:hover {
            color: $search-pagination-hover-color;
            border: 1px solid $search-pagination-hover-border;
            background: $search-pagination-hover-bg;
        }
        &.inactive {
            color: $text-disabled;
        }
    }
}
