<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/">
    <sitecore unicorn:require="Enabled" integrations:require="Salesforce">

      <pipelines>
        <initialize>
          <processor patch:instead="processor[@type='Sitecore.Cintel.Endpoint.Plumbing.InitializeRoutes, Sitecore.Cintel']" type="Sitecore.Demo.Feature.Platform.CRM.ExperienceProfile.ExperienceProfileSalesforceInitializeRoutes, Sitecore.Demo.Feature.Platform.CRM" />
        </initialize>
        <postSessionEnd>
          <processor type="Sitecore.Demo.Feature.Platform.CRM.Pipelines.SyncToSalesforceCrmOnSessionEnd, Sitecore.Demo.Feature.Platform.CRM" />
        </postSessionEnd>
      </pipelines>
      
      <settings>
        <setting name="Feature.CRM.RunPipelineBatchIdOnSessionEnd" value="{39112405-308A-423D-8A87-D81F78813CE7}" />
      </settings>
      
      <xconnect>
        <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
          <schemas hint="list:AddModelConfiguration">
            <schema name="CustomSalesforceConnectModel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
              <param desc="modeltype">Sitecore.Demo.Feature.Platform.CRM.CustomCollectionModels.CustomSalesforceConnectCollectionModel, Sitecore.Demo.Feature.Platform.CRM</param>
            </schema>
          </schemas>
        </runtime>
      </xconnect>

      <experienceProfile>
        <providers>
          <contactService patch:instead="contactService[@type='Sitecore.Cintel.ContactService.XdbContactService, Sitecore.Cintel']" type="Sitecore.Demo.Feature.Platform.CRM.ExperienceProfile.ExperienceProfileSalesforceXdbContactService, Sitecore.Demo.Feature.Platform.CRM" singleInstance="true"/>
        </providers>
      </experienceProfile>
      
    </sitecore>
</configuration>