<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/">
    <sitecore unicorn:require="On" integrations:require="Salesforce">
        <unicorn>
            <configurations>
                <configuration name="Feature.CRM.Salesforce" description="Feature CRM Salesforce" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Tenant" database="master" path="/sitecore/system/Data Exchange/Demo CRM Salesforce" />
                        <include name="CustomSalesforceCollectionModel" database="master" path="/sitecore/system/Settings/Data Exchange/Providers/xConnect/Collection Models/Connect for Salesforce/Connect for Salesforce Collection Model" />
                        <include name="SfmcJourneyStatusCondition" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/SitecoreHabitatHomeFeatureCRM" />
                        <include name="ConditionalRenderingsDefaultTags" database="master" path="/sitecore/system/Settings/Rules/Conditional Renderings/Tags/Default" />
                        <include name="ConditionalRenderingsTag" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/SFMC Journey Status" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>