<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/">
    <sitecore unicorn:require="On" integrations:require="Dynamics">
      <pipelines>
        <postSessionEnd>
          <processor type="Sitecore.HabitatHome.Feature.CRM.Pipelines.SyncContactToSalesforceCrmOnSessionEnd, Sitecore.HabitatHome.Feature.CRM" />
        </postSessionEnd>
      </pipelines>
      <settings>
        <setting name="Feature.CRM.Salesforce.RunPipelineBatchIdOnSessionEnd" value="{84445D42-07B1-46A3-B70F-D932223867BE}" />
      </settings>
    </sitecore>
</configuration>