<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.CRM" description="Feature CRM" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Tenant" database="master" path="/sitecore/system/Data Exchange/Demo CRM" />
                        <include name="Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Data Exchange" />
                        <include name="Tasks.Schedule" database="master" path="/sitecore/system/Tasks/Schedules/CRM Contact Sync Schedule" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>