<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/">
    <sitecore unicorn:require="On" integrations:require="Dynamics">
        <unicorn>
            <configurations>
                <configuration name="Feature.CRM.Dynamics" description="Feature CRM Dynamics" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Tenant.Dynamics" database="master" path="/sitecore/system/Data Exchange/Demo CRM Dynamics" />
                        <include name="Tasks.Commands.Dynamics" database="master" path="/sitecore/system/Tasks/Commands/Data Exchange" />
                        <include name="Tasks.Schedule.Dynamics" database="master" path="/sitecore/system/Tasks/Schedules/CRM Contact Sync Schedule" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>