<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/">
    <sitecore unicorn:require="Enabled" integrations:require="Salesforce">
        <unicorn>
            <configurations>
                <configuration name="Feature.Crm" description="Feature CRM" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <!-- Salesforce Items Sync -->
                        <include name="Tenant.Salesforce" database="master" path="/sitecore/content/Salesforce CRM Tenant" integrations:require="Salesforce" />
                        <include name="CustomCollectionModel.Salesforce" database="master" path="/sitecore/system/Settings/Data Exchange/Providers/xConnect/Collection Models/Connect for Salesforce/Connect for Salesforce Collection Model" integrations:require="Salesforce" />
                        <include name="MemberTierStatusCondition.Salesforce" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/SitecoreDemoPlatformFeatureCRM" integrations:require="Salesforce" />
                        <include name="ConditionalRenderingsDefaultTags.Salesforce" database="master" path="/sitecore/system/Settings/Rules/Conditional Renderings/Tags/Default" integrations:require="Salesforce" />
                        <include name="ConditionalRenderingsTag.Salesforce" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Salesforce CRM Member Tier" integrations:require="Salesforce" />
                        <include name="ExperienceProfile.Salesforce" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/Tabs/Salesforce" integrations:require="Salesforce" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
