<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/">
    <sitecore integrations:require="Salesforce">      
      <pipelines>
        <postSessionEnd>
          <processor type="Sitecore.HabitatHome.Feature.CRM.Pipelines.SyncToSalesforceCrmOnSessionEnd, Sitecore.HabitatHome.Feature.CRM" />
        </postSessionEnd>
      </pipelines>
      <settings>
        <setting name="Feature.CRM.RunPipelineBatchIdOnSessionEnd" value="{39112405-308A-423D-8A87-D81F78813CE7}" />
      </settings>
      <xconnect>
        <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
          <schemas hint="list:AddModelConfiguration">
            <schema name="CustomSalesforceConnectModel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
              <param desc="modeltype">Sitecore.HabitatHome.Feature.CRM.CustomCollectionModels.CustomSalesforceConnectCollectionModel, Sitecore.HabitatHome.Feature.CRM</param>
            </schema>
          </schemas>
        </runtime>
      </xconnect>
    </sitecore>
</configuration>