<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the PageBranches feature.

This feature lets administrator set up redirects for legacy URLs to their new locations.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <setting name="XA.Feature.PageBranches.PageBranchesContextCacheMaxSize" value="50MB" />
            <setting name="XA.Feature.PageBranches.PageBranchesRulesCacheMaxSize" value="50MB" />
            <setting name="XA.Feature.PageBranches.PageBranchesContextCache.Enabled" value="true" />
        </settings>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.XA.Feature.PageBranches.EventHandlers.PageBranchesContextCacheClearer, Sitecore.XA.Feature.PageBranches" method="OnPublishEnd" role:require="Standalone or ContentManagement" />
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.XA.Feature.PageBranches.EventHandlers.PageBranchesContextCacheClearer, Sitecore.XA.Feature.PageBranches" method="OnPublishEndRemote" role:require="Standalone or ContentManagement" />
            </event>
            <event name="item:saved">
                <handler type="Sitecore.XA.Feature.PageBranches.EventHandlers.PageBranchesContextCacheClearer, Sitecore.XA.Feature.PageBranches" method="OnItemSaved" role:require="Standalone or ContentManagement" />
                <handler type="Sitecore.XA.Feature.PageBranches.EventHandlers.PageBranchesRulesCacheClearer, Sitecore.XA.Feature.PageBranches" method="OnItemSaved" />
            </event>
            <event name="item:moved">
                <handler type="Sitecore.XA.Feature.PageBranches.EventHandlers.PageBranchesContextCacheClearer, Sitecore.XA.Feature.PageBranches" method="OnItemMoved" role:require="Standalone or ContentManagement" />
            </event>
            <event name="item:deleting">
                <handler type="Sitecore.XA.Feature.PageBranches.EventHandlers.PageBranchesRulesCacheClearer, Sitecore.XA.Feature.PageBranches" method="OnItemDeleting" />
            </event>
            <event name="item:moved:remote">
                <handler type="Sitecore.XA.Feature.PageBranches.EventHandlers.PageBranchesContextCacheClearer, Sitecore.XA.Feature.PageBranches" method="OnItemMovedRemote" role:require="Standalone or ContentManagement" />
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.XA.Feature.PageBranches.EventHandlers.PageBranchesContextCacheClearer, Sitecore.XA.Feature.PageBranches" method="OnItemSavedRemote" role:require="Standalone or ContentManagement" />
                <handler type="Sitecore.XA.Feature.PageBranches.EventHandlers.PageBranchesRulesCacheClearer, Sitecore.XA.Feature.PageBranches" method="OnItemSavedRemote" />
            </event>
        </events>
        <services>
            <register serviceType="Sitecore.XA.Feature.PageBranches.IPageBranchesContext, Sitecore.XA.Feature.PageBranches" implementationType="Sitecore.XA.Feature.PageBranches.PageBranchesContext, Sitecore.XA.Feature.PageBranches" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Abstractions.Configuration.IConfiguration`1[[Sitecore.XA.Feature.PageBranches.Configuration.PageBranchesConfiguration, Sitecore.XA.Feature.PageBranches]], Sitecore.XA.Foundation.Abstractions"
              implementationType="Sitecore.XA.Feature.PageBranches.Configuration.PageBranchesConfigurationReader, Sitecore.XA.Feature.PageBranches" lifetime="Singleton"/>
        </services>
        <processors>
            <uiGetMasters>
                <processor patch:after="*[@type='Sitecore.Pipelines.GetMasters.GetItemMasters,Sitecore.Kernel']" type="Sitecore.XA.Feature.PageBranches.Processors.UiGetMasters.GetItemMasters, Sitecore.XA.Feature.PageBranches" />
            </uiGetMasters>
        </processors>
        <pipelines>
            <buckets.isTemplateBucketable>
                <processor patch:after="*[@type='Sitecore.Buckets.Pipelines.BucketStatus.IsTemplateBucketable.RunTemplateCheck, Sitecore.Buckets']" type="Sitecore.XA.Feature.PageBranches.Pipelines.IsTemplateBucketable.RunBranchTemplateCheck, Sitecore.XA.Feature.PageBranches"/>
            </buckets.isTemplateBucketable>
        </pipelines>
    </sitecore>
</configuration>

