@import "mixins";
@import "vars";
@import "base/fontawesome/font-awesome-mix-var";
.link-list {
    background: $link-list-bg;
    h1, h2, h3, h4, h5, h6 {
        @include border-basic(bottom, $link-list-header-border);
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
    }
    
    ul {
        background: $link-list-items-bg;
        margin-bottom: 1em;
    }
    
    li {
        background: $link-list-item-bg;
        display: block;
        font-size: $font-normal;        
    }

    a {
        display: inline-block;
        color: $link-list-item-color;
        position: relative;
        padding-left: 10px;
        margin: 0.25em 0;
        font-size: 1em;
        text-decoration: none;
        &:before {
            @include fa-icon();
            content: $fa-var-chevron-right;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 10px;
            color: $link-list-icon-color;
        }
        &:hover {
            color: $link-list-item-color-active;
            text-decoration: none;
            //border-bottom: 1px solid $link-list-item-border-active;
        }
    }
    @import "base/links/*";
    @import "variants/link-list/*";
}
@import "styles/link-list/*";
