@import "vars";
@import "mixins";
.promo {
	line-height: 1.6;
	margin: 8rem auto;
	float: none;

	// TODO
	&::after,
	&::before {
		display: none;
	}

	> .component-content {
		@include proxima-font;
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 0;
		color: $secondary-color;

		@include respond-to(tablet) {
			flex-direction: row;
		}

		> div {
			@include respond-to(tablet) {
				flex-basis: calc(50% - 15px);
				flex-shrink: 0;

				&:not(.field-promoicon) {
					padding: 10rem 0 10rem 10rem;
				}
			}
		}

		p {
			font-size: 2rem;
		}

		// TODO
		&::after,
		&::before {
			display: none;
		}
	}

	.field-promotext {
		@include proxima-font(bold);
		margin-top: 0;

		p {
			font-size: 4rem;
			line-height: 1.4;
			margin: 0;

			@include respond-to(tablet) {
				font-size: 4.8rem;
			}
		}
	}

	.field-title {
		@include proxima-font(bold);

		font-size: 3.2rem;
		margin-top: 0;
	}

	.field-introduction {
		font-size: 1.6rem;

		p {
			margin: 0.5em;
			font-weight: 300;
		}
	}

	.field-promotext3,
	.field-promotext3 .field-subtitle,
	.field-promotext3 p {
		color: $primary-color;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 1.4rem;
		margin-top: 0;

		p {
			letter-spacing: inherit;
			margin: 0;
		}
	}

	.field-promoicon {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.field-promolink {
		margin-top: 40px;

		a {
			@include btn-secondary;
		}

		&.cta {
			a {
				@include btn-primary;
			}
		}
	}

	&.promo-left {
		> .component-content {
			@include respond-to(tablet) {
				flex-direction: row-reverse;

				> div:not(.field-promoicon) {
					padding: 10rem 10rem 10rem 0;
				}
			}
		}
	}

	&.promo-top {
		> .component-content {
			position: relative;
			width: 100%;
			height: 60rem;

			.field-promoicon {
				position: relative;
				flex-basis: 100%;
				padding: 0;

				img {
					position: absolute;
					inset: 0;
					width: 100%;
					height: 100%;
				}
			}

			> div:not(.field-promoicon) {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 33%;
				padding: 48px 48px 32px 32px;
				background-color: $background-color;

				.container-gray-background & {
					background-color: $bg-light-gray;
				}
			}

			.field-promotext,
			.field-promotext p {
				font-size: 3.2rem;
			}

			.field-promotext2,
			.field-promotext2 p {
				font-size: 1.6rem;
			}
		}

		.field-promolink {
			margin-top: 2rem;
		}
	}

	&.promo-text {
		> .component-content {
			width: 100%;
			padding: 0 0 3em 0;

			> div {
				float: none;
				width: 100%;
				text-align: center;
			}
		}
	}

	&.promo-top-icon {
		margin: 4em auto 2em auto;

		> .component-content {
			width: 100%;
			padding: 0 0 3em 0;
			border-radius: 4px;

			.field-promoicon {
				padding: 0;

				img {
					width: auto;
					display: inline;
				}
			}

			> div {
				float: none;
				width: 100%;
				text-align: center;
			}
		}
	}

	&:not(.promo-top).page-teaser {
		position: static;

		> .component-content {
			> div:not(.field-promoicon) {
				flex-basis: 100% !important;
				width: 100% !important;
				text-align: center;

				> * {
					max-width: 900px;
					margin-left: auto;
					margin-right: auto;
				}

				.field-promolink {
					margin-top: 40px;
				}
			}
		}
	}

	@import "variants/promo/*";
	@import "base/richtext/richtext";
}

.full-width-promo {
	@include full-width-container;
	padding: 0;

	.promo {
		margin: 0 auto;

		> .component-content {
			display: flex;
			padding: 90px 0;
			color: $text-white;

			@include respond-to(tablet) {
				padding: 120px 0;
			}

			p {
				color: $text-white;
			}

			.field-promotext {
				margin: 0;

				p {
					font-size: 6.4rem;
					color: $text-white;
				}
			}

			> div {
				float: none;
				position: relative;
				z-index: 20;
				border: 1px solid white;
				padding: 5rem;

				&:not(.field-promoicon) {
					padding: 5rem;

					@include respond-to(tablet) {
						width: calc(50% - 15px);
						flex-basis: calc(50% - 15px);
						flex-grow: 0;
					}
				}

				&.field-promoicon {
					padding: 0;
					position: absolute;
					z-index: 10;
					display: flex;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;

					&::after {
						content: "";
						background-color: rgba(0, 0, 0, 0.5);
						position: absolute;
						inset: 0;
						z-index: 11;
					}

					img {
						@include object-fit;
					}
				}
			}
		}

		&.full-width-content {
			.component-content > div:not(.field-promoicon) {
				width: 100%;
				flex-basis: 100%;
			}
		}

		&.page-teaser {
			.field-promolink a {
				@include btn-secondary-light;
			}
		}

		&:not(.page-teaser) {
			> .component-content {
				> div {
					transition: all 0.3s ease-in-out;

					&:hover {
						background-color: $primary-color;
					}
				}
				.field-promolink {
					display: flex;
					justify-content: flex-end;
					margin-top: 10rem;

					a {
						@include btn-arrow(74px);
					}
				}
			}
		}

		&.promo-right {
			> .component-content {
				flex-direction: row-reverse;
			}
		}

		&.promo-left {
			> .component-content {
				flex-direction: row;
			}
		}

		&.promo-full {
			> .component-content {
				> div {
					flex-basis: 100%;
				}
			}
		}
	}
}

@import "styles/promo/*";
@import "variants/promo/*";
