@import "mixins";
@import "vars";
@import "base/fontawesome/font-awesome-mix-var";

.component.expandable-searchbox {
	position: relative;
	padding: 0 $small-margin;

	&:before {
		@include fa-icon();
		height: $primary-nav-height - 8px;
		display: flex;
		align-items: center;
		color: $text-passive;
		font-size: $navigation-icon-size;
		content: $fa-var-search;
		padding: 0 1.25em;
		cursor: pointer;
		position: relative;
		border-top: 4px solid transparent;
		line-height: $primary-nav-height - 8px;
		padding-bottom: 12px;
	}

	.component-content-open {
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translateY(100%);
		width: $main-search-width;
		height: 87px;
		z-index: 100;
		background-color: $bg-basic-color;
		padding: 1.5em;
		box-shadow: 0 2px 9px 0px #b3b3b3;

		.search-placeholder {
			display: block;
			position: relative;
			width: 100%;
			height: 150px;
		}
	}

	&.open {
		&:before {
			background-color: transparent;
			color: $primary-color;
			z-index: 400;
		}

		&>.component-content-open {
			display: block;
		}
	}

	&.footer {
		position: relative;

		&:before {
			display: none;
		}

		.component-content-open {
			display: inline;
			position: relative;
			width: 100%;
			background: none;
			box-shadow: none;
			padding: $small-margin;
			height: auto;

			.search-placeholder {
				min-height: $primary-nav-height;
				height: auto;
			}
		}

		&.edit-mode {
			background-color: $bg-light-gray-active;
			color: $on-primary;
		}
	}
}
