@import "vars";
@import "mixins";
@import "base/fontawesome/font-awesome-mix-var";

.form,
form {
	margin: 10px 0;
	font-size: 14px;
	overflow: hidden;
	table {
		width: 100%;
	}
	.scfSectionContent > div {
		// Remove spacings between form elements
		margin: 5px 0 0 0;
		padding: 0;
		& ~ div {
			margin: 0;
		}
		& > label,
		& > div {
			width: 100%;
			display: block;
			padding: 0;
		}
	}
	.has-feedback {
		@include clearfix();
	}
	.scfRequired {
		display: none !important;
	}
	fieldset {
		@include border-basic();
		padding: 15px;
		margin: 10px 0;
		position: relative;
		legend {
			font-weight: 700;
			padding: 0 5px;
			font-size: 16px;
			position: absolute;
			top: -33px;
			background: #fff;
			left: 0;
		}
	}
	.scfSectionContent {
		> div {
			box-sizing: border-box;
			margin: 15px 0;
			border: 1px dashed gray;
			padding: 10px;
			position: relative;
			&:after {
				clear: both;
				content: "";
				display: block;
			}
			&:hover [class$="GeneralPanel"] > [class$="UsefulInfo"] {
				opacity: 1;
			}
			select,
			input {
				margin-left: 5px;
			}
		}
		[class$="UsefulInfo"] {
			transition: opacity 0.75s;
			box-sizing: border-box;
			opacity: 0;
			font-size: 12px;
			margin-left: 5px;
			position: absolute;
			@include border-basic();
			left: 0px;
			top: -15px;
			padding: 4px 8px;
			max-width: 98%;
			width: auto;
			background-color: #f5f5f5;
			color: #808080;
		}
	}
	input,
	select,
	textarea {
		@include border-basic();
		padding: 2px 4px;
		max-width: 98%;
	}
	.scfCaptcha {
		input[type="text"] {
			margin: 0;
		}
	}
	.scfCaptchaLimitGeneralPanel,
	.scfCaptchStrongTextPanel {
		max-width: 100%;
		width: auto;
	}
	.scfCaptchaLabel {
		display: none;
	}
	.scfSectionContent .scfCaptchaGeneralPanel embed {
		max-width: 180px;
	}
	input[type="image"] {
		border: none;
	}
	input[type="submit"],
	button {
		@include border-basic();
		border-radius: 0;
		background: $bg-basic-color;
		cursor: pointer;
		margin-left: 0;
	}
	input[type="text"],
	input[type="password"],
	textarea,
	input[type="file"],
	.form-control {
		@include border-basic();
		border-radius: 0;
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		width: 95%;

		&:focus {
			border-color: $text-basic;
			box-shadow: none;
		}

		& + span {
			display: inline-block;
			vertical-align: middle;
		}
	}
	input[type="file"] {
		appearance: none;
	}
	input[type="radio"] {
		position: absolute;
		& + label:before {
			content: "";
			position: absolute;
			top: 2px;
			display: block;
			width: 16px;
			height: 16px;
			background-color: $bg-basic-color;
		}
		& + label:after {
			content: "";
			position: absolute;
			top: 2px;
			display: block;
			width: 16px;
			height: 15px;
			background: url("radiobox.png");
		}
		&:checked + label:after {
			background-position: -16px 0;
		}
		& + label {
			user-select: none;
			padding-left: 20px;
			margin-left: 5px;
			position: relative;
		}
	}
	select {
		@include border-basic();
		max-height: 30px;
		position: relative;
		text-indent: 2px;
	}
	.scfListBox {
		background: none;
		max-height: none;
	}
	.scfDateSelectorDay,
	.scfDateSelectorMonth,
	.scfDateSelectorYear {
		width: 30%;
	}
}

.content-finder {
	form {
		margin: 1em 0;

		.col-right {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;

			@include respond-to(mobile-horizontal) {
				grid-template-columns: repeat(2, 1fr);
			}

			.field-validation-error {
				grid-column: 1 / span 2;
			}
		}

		.col-right > input[type="radio"] {
			position: absolute;
			z-index: -100;
			opacity: 0;
			display: block;
			width: 0;
			height: 0;
		}

		.col-right > label {
			@include border-basic;
			@include proxima-font();
			display: inline-block;
			vertical-align: top;
			font-size: 2rem;
			text-align: center;
			position: relative;
			min-height: 160px;
			padding: 2rem;
			margin: 0;
			cursor: pointer;
			-webkit-transition: border-color 0.2s ease-out,
				background-color 0.2s ease-out;
			transition: border-color 0.2s ease-out, background-color 0.2s ease-out;

			&:after {
				content: none;
			}

			&:before {
				position: static;
				display: block;
				width: unset;
				height: unset;
				font-family: $demo-icons;
				font-weight: normal;
				font-size: 84px;
				line-height: 1;
				margin-bottom: 1.6rem;
				color: $primary-color;
				background-color: transparent;
			}
		}

		.col-right > input[type="radio"]:checked + label {
			background: $primary-color;
			color: white;

			&:before {
				color: white;
			}
		}

		label.content-finder-label {
			display: none;
		}

		h3.question-title {
			@include proxima-font(bold);
			font-size: 3.2rem;
			padding: 0;
			margin: 0.5em 0 2em;
			border: none;
			background: transparent;
		}

		.columns {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			@include respond-to(desktop) {
				flex-direction: row;
			}
		}

		@include respond-to(desktop) {
			.col-left {
				flex-basis: 33%;
			}

			.col-right {
				flex-basis: 67%;
			}
		}

		// Finders shared
		label.n-a:before,
		label.other:before {
			content: $icon-dont-know;
		}

		// Content finder page 1, interest
		label.connected-home:before {
			content: $icon-connected-home;
		}
		label.child-safety:before {
			content: $icon-child-safety;
		}
		label.exercise:before {
			content: $icon-Aerobics;
			font-size: 72px;
			line-height: 84px;
		}
		label.mental-health:before {
			content: $icon-Yoga;
			font-size: 64px;
			line-height: 84px;
		}
		label.nutrition:before {
			content: $icon-kitchen;
		}

		// Content finder page 2, stage of life
		label.young-professional:before {
			@include fa-icon();
			content: $fa-var-black-tie;
			display: block;
			font-size: 78px;
			line-height: 84px;
		}
		label.family-kids:before {
			@include fa-icon();
			content: $fa-var-users;
			display: block;
			font-size: 72px;
			line-height: 84px;
		}
		label.newlywed:before {
			@include fa-icon();
			content: $fa-var-diamond;
			display: block;
			font-size: 72px;
			line-height: 84px;
		}
		label.empty-nester:before {
			@include fa-icon();
			content: $fa-var-user;
			display: block;
			font-size: 78px;
			line-height: 84px;
		}
		label.retired:before {
			@include fa-icon();
			content: $fa-var-suitcase;
			display: block;
			font-size: 72px;
			line-height: 84px;
		}

		// Content finder page 3, product interest
		label.appliances:before {
			content: $icon-appliances;
		}
		label.cameras:before {
			content: $icon-cameras;
		}
		label.desktops-laptops:before {
			content: $icon-desktops-laptops;
		}
		label.fitness-tech:before {
			content: $icon-fitness-tech;
		}
		label.gaming:before {
			content: $icon-gaming;
		}
		label.phones-tablets:before {
			content: $icon-phones-tablets;
		}
		label.tv-audio:before {
			content: $icon-tv-audio;
		}

		// Trainer finder page 1, exercise
		label.aerobics:before {
			content: $icon-Aerobics;
		}
		label.cardio:before {
			content: $icon-fitness-tech;
		}
		label.strength:before {
			content: $icon-Strength;
		}
		label.weight-lifting {
			overflow: hidden;
		}
		label.weight-lifting:before {
			content: $icon-Weight-Lifting;
			font-size: 51px;
			line-height: 84px;
		}
		label.yoga:before {
			content: $icon-Yoga;
		}

		// Trainer finder page 2, days
		label.one-two-days:before {
			content: $icon-2Days;
		}
		label.three-four-days:before {
			content: $icon-4Days;
		}
		label.five-or-more:before {
			content: $icon-days;
		}

		// Trainer finder page 3, intensity
		label.low {
			overflow: hidden;
		}
		label.low:before {
			content: $icon-Low;
			font-size: 52px;
			line-height: 84px;
		}
		label.medium {
			overflow: hidden;
		}
		label.medium:before {
			content: $icon-Medium;
			font-size: 52px;
			line-height: 84px;
		}
		label.high {
			overflow: hidden;
		}
		label.high:before {
			content: $icon-High;
			font-size: 52px;
			line-height: 84px;
		}

		.help-block {
			font-size: 1.6rem;
			line-height: 1.4;
			font-weight: normal;
			margin: 0 0 1.5em;
			color: $text-basic;

			&:first-child {
				margin-top: 0;
			}
		}

		.help-block-subtext {
			display: block;
			font-size: 1.4rem;
			color: $primary-color;
		}
	}
}
.form-narrow {
	max-width: 400px;
	margin: 0 auto;
}

.form-submit-border {
	border-bottom: 1px solid #d8d9d5;
	text-align: right;
	margin-bottom: 100px;

	.btn-next,
	.btn-previous {
		position: relative;
		@include btn-primary;
		transform: translateY(50%);
		min-width: 200px;
	}
}

.sitecore-form.newsletter-form {
	padding: 0;

	> .component-content {
		background: $primary-color;
		width: 100%;
		padding: 5rem;
		border: 0px solid transparent;

		@include respond-to(tablet) {
			width: 50%;
			padding: 10rem;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@include proxima-font(bold);
			color: $on-primary;
			line-height: 1.4;
		}

		h3 {
			font-size: 4.8rem;
			margin-bottom: 2em;
		}

		p {
			color: $on-primary;
			font-size: 1.6rem;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}

	.field-bgimage {
		display: none;

		img {
			width: 100%;
			@include object-fit;
		}

		@include respond-to(tablet) {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}

	&.image-top .field-bgimage img {
		@include object-fit(cover, top);
	}

	&.image-center .field-bgimage img {
		@include object-fit(cover, center);
	}

	&.image-bottom .field-bgimage img {
		@include object-fit(cover, bottom);
	}

	form {
		position: relative;
		text-align: center;
		margin: auto;
		z-index: 2;

		@include respond-to(tablet) {
			max-width: 660px;
			margin: auto;
		}
	}

	label.checkcontainer {
		display: block;
		font-size: 20px;
	}

	label {
		display: none;
	}

	.field-group-inline {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		max-width: 580px;
		margin: 0 auto;

		.field-group {
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			flex-grow: 1;
			width: 100%;
		}

		input[type="email"] {
			width: 100%;
			max-width: 100%;
			height: 42px;
			background-color: transparent !important;
			box-shadow: none !important;
			color: $on-primary;
			font-size: 1.6rem;
			border: 1px solid $on-primary;
		}

		input[type="submit"] {
			@include btn-primary-light();

			@include respond-to(tablet) {
			}
		}

		.field-validation-error {
			margin-top: 1rem;
		}
	}
}

.register-panel {
	input[type="submit"] {
		display: block;
		width: 150px;
		text-align: center;
		padding: 1em;
		margin: 2em auto;
	}
}

.field-group {
	display: block;
	vertical-align: top;
	margin: 1em 0.5em 1em 0;

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
		margin: 6px 6px 6px 0;
	}

	input {
		display: block;
		width: 100%;
	}
}

.form-signin {
	label {
		margin-bottom: 0.25em;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.form-group {
		margin-bottom: 2rem;
	}
}

@import "styles/forms/*";
