@import "vars";
@import "mixins";
.title {
	@include proxima-font(bold);
	background: $title-bg;

	.field-title a {
		@include border-basic(bottom, $border-basic-color);
		font-size: $font-extrabig;
		margin-bottom: $small-margin;
		color: $title-color;
		line-height: normal;
		padding-bottom: 10px;
		display: block;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: $title-color-active;
		}
	}

	&.title-header {
		@include full-width-container;
		background-color: $primary-color;
		margin-right: 0 !important;
		padding: 3rem;

		> .component-content {
			border: 1px solid $on-primary;
		}

		h1 {
			margin: 6rem;
		}

		h1,
		h2,
		.field-title,
		.field-title a {
			color: $on-primary;
			text-align: center;
		}
	}

	@import "variants/title/*";
}
