@import "vars";
@import "mixins";
.sitecore-form {
	@import "base/reset/inputs";
	> .component-content {
		padding: 15px;
		border: 1px solid transparent;
		background-color: $form-bg;
		color: $form-color;
	}
	form {
		color: $form-color;
		> div {
			label {
				font-family: inherit;
				padding-right: $default-padding;
			}
			input {
				font-family: inherit;
			}
			label + input {
			}
			label + textarea {
				margin-top: $default-padding;
			}
			textarea,
			select {
				margin-top: $default-padding;
			}
			.field-validation-error {
				color: $text-red;
			}
		}

		input[type="submit"],
		button {
			@include btn-primary;
		}

		[data-sc-field-name="Password Confirmation"] {
			margin-right: $default-padding;
		}
	}
	@import "styles/forms/*";
}

form {
	input[type="submit"] {
		@include btn-primary();
	}
}
