@using Sitecore.Links
@using Sitecore.Mvc
@model Sitecore.HabitatHome.Feature.Search.Models.SearchResultsViewModel

@{
    var pageUrl = string.Format("{0}?query={1}&page=", LinkManager.GetItemUrl(Sitecore.Context.Item), Model.SearchTerm);
}
<div class="search-results">
    
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @if (!string.IsNullOrEmpty(Model.SearchTerm))
                    {
                        <h2 class="text-center">We've found the following results for your search term '@Model.SearchTerm'</h2>
                    }
                    else
                    {
                        <h2 class="text-center">Enter the text you want to find on the site</h2>
                    }
                </div>
            </div>
        </div>
    

    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                @Html.Sitecore().Placeholder("hh-searchresults-form")
            </div>
        </div>
    </div>

    @if (!(Model.NumberOfSearchResults <= 1))
    {
        <div class="container mt-5">
            <ul class="pagination justify-content-center">
                @for (var i = 1; i < Model.NumberOfPages + 1; i++)
                {
                    var url = pageUrl + i;
                    <li class="page-item">
                        <a class="page-link" href="@url">@i</a>
                    </li>
                }
            </ul>
        </div>
    }
</div>