.promo {
  &.product-item {
    margin: 1em;
    >.component-content {
        padding: 0;        

        >div {
            width: auto;
            float: none;
        }        
    }

    p {
        color: $text-light;
        font-size: 1.1em;
        @include proxima-font(light);
        font-weight: 400;
    }

    .product-item-info-title p {
        color: $text-secondary-heading-color;
        font-size: 1.25em;
        @include proxima-font(semibold);
        margin: 0.25em 0 1em 0;
    }

    .product-item-info-desc {
        border-bottom: 1px solid $text-light;
        margin-bottom: 1em;
    }    

    .field-image,
    .field-promoicon {
        display: flex;
        padding-right: 0px;
        height: 160px;
        overflow: hidden;

        img {
            @include object-fit;
            width: 100%;
            height: auto;
        }
    }

    .field-promolink {
        a {
            padding: 0.5em 1em;
            min-width: auto;

            &:after {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                content: "\f054";
                margin-left: .5em;
            }
        }
    }
  }
}

.product-items-block {
    font-size: 16px;
    padding: 0 15px 60px;
    position: relative;
    
  
    @include respond-to(mobile-large) {
      left: unset;
    }

    .promo {
      .product-item-info-desc {
        border-bottom: 0 !important;
        margin-bottom: 0 !important;
      } 
    }
     
    
    .link {
      width: auto;
      float: right;

      .featuredProduct-action {
        a {
          border: none;
          display: block;
          height: 36px;
          line-height: 36px;
          padding: 0 0.625em;
          font-size: 0.875em;
          font-weight: 700;
          color: #141919;
          border-radius: 0;
          text-transform: uppercase;
          text-align: center;
          //min-width: 17.14286em;
  
          &:before {
            width: 32px;
            height: 32px;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 14px;
            display: inline-block;
            content: "\f021";
            margin-right: 10px;
          }
        }
      }
    }

    &-title {
      margin-top: 1em;

      .rich-text h2 {
        margin:0;
      }
    }
    
    div.product-item {
      padding: 0 15px;
  
      @include respond-to(mobile-large) {
        padding: 0;
      }
  
      div.product-item-image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
  
      .caption {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
  
      .product-item-info {
        min-height: 9em;
      }
  
      .product-item-info-title {
        font-size: 1.5em;
        margin: 0.5em 0 1em;
        color: $text-basic;
      }
  
      .product-item-foot {
        border-top: 1px solid #d8d9d5;
        padding-top: 1em;
        text-align: right;
      }
      
      .product-item-foot-action a {
        @include btn-secondary;
        text-transform: none;
        font-size: 1em;
        font-weight: 400;
        min-width: unset;
        padding: 0.5em 1em;

        /* 
        
  
        &:after {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          content: "\f054";
          padding-left: .5em;
        } */
  
        @include respond-to(mobile-large) {
          width: auto;
        }
      }
      
    }
  }
  