$font-small:11px;
$font-normal:14px;
$font-medium:16px;
$font-big:18px;
$font-extrabig:22px;
//Navigation
$navigation-font-basic:11px;
$navigation-font-basic-submenu:14px;
$navigation-icon-size:24px;
//Tabs
$tab-font-header:16px;
//Accordion
$accordion-header:16px;
//Breadcrumb
$breadcrumb-font:15px;
// Link List
$link-list-title-font:15px;
