<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.Demo" description="Feature Demo" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Feature.Demo.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Sites/Demo" />
                        <include name="Feature.Demo.Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites/Demo" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>