<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.Demo" description="Feature Demo" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Feature/Habitat Home/Demo" />
                        <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Home/Demo" />
                        <include name="Templates" database="master" path="/sitecore/templates/Feature/Habitat Home/Demo" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>