@import "../../abstracts/vars";
.radius-filter {
	@import "../reset/inputs";

	.facet-title {
		@include proxima-font(bold);
		font-size: 2rem;
		margin: 3.2rem 0 1rem;
	}

	.facet-heading {
		border: none;
	}

	.radius-button {
		border: none;
		padding: 0 0 0.5rem;
		margin-right: 2rem;

		&:hover {
			border-bottom: 1px solid $secondary-color;
		}

		&.selected {
			@include proxima-font(bold);
			border-bottom: 1px solid $secondary-color;
		}
	}
	ul {
		li {
			display: block;
			border-width: 1px 1px 1px 0;
			border-style: solid;
			border-color: $search-filter-radius-border;
			float: left;
			padding: 5px 5px;
			cursor: pointer;
			&:first-child {
				border-width: 1px;
			}
		}
		height: 30px;
	}
	.bottom-remove-filter {
		margin-bottom: 5px;
	}
}
