<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Analytics.Patterns.MinimalProfileScoreCount">
        <patch:attribute name="value">1</patch:attribute>
      </setting>

      <setting name="WebEdit.PlaceholdersEditableWithoutSettings">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <setting name="MessageStatistics.ApiKey" value="97CC4FC13A814081BF6961A3E2128C5B" />
      <setting name="MarketingDefinitions.ApiKey" value="DF7D20E837254C6FBFA2B854C295CB61" />

      <setting name="Media.DefaultImageBackgroundColor">
        <patch:attribute name="value">White</patch:attribute>
      </setting>

      <setting name="EventQueue.SavedItemRemote.SerializeAllFields" value="false" />

      <!-- InstanceName must be static as we use it in the init container for publishing -->
      <setting name="InstanceName">
        <patch:attribute name="value">CM-LIGHTHOUSE</patch:attribute>
      </setting>

      <!--
        Enable Sitecore.Services.Client (SSC) ItemService
        https://doc.sitecore.com/developers/100/sitecore-experience-manager/en/sitecore-services-client-security.html
      -->
      <setting name="Sitecore.Services.SecurityPolicy">
        <patch:attribute name="value">Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure</patch:attribute>
      </setting>

      <!-- Enable HTTP login (Traefik to CM/CD is HTTP only) -->
      <setting name="Sitecore.Services.AllowToLoginWithHttp">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <!-- Enable Token Authorization -->
      <setting name="Sitecore.Services.Token.Authorization.Enabled">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <setting name="Analytics.AutoDetectBots">
	      <patch:attribute name="value">false</patch:attribute>
      </setting>

      <setting name="DeviceDetection.Enabled">
	      <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>

    <api>
      <tokenSecurity>
        <signingProvider type="Sitecore.Services.Infrastructure.Security.SymmetricKeySigningProvider, Sitecore.Services.Infrastructure">
          <param desc="connectionStringName">Sitecore.Services.Token.SecurityKey</param>
        </signingProvider>
      </tokenSecurity>
    </api>

    <sites>
      <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>

    <reporting>
      <dataProvider>
        <!-- disabling reporting cache -->
        <patch:attribute name="cacheEnabled">false</patch:attribute>
      </dataProvider>
    </reporting>

    <services>
      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.MarketingAssets.IMarketingAssetDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.MarketingAssets.IMarketingAssetDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.MarketingAssets.IMarketingAssetDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Outcomes.Model.IOutcomeDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Outcomes.Model.IOutcomeDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Outcomes.Model.IOutcomeDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Subscriptions.Model.ISubscriptionDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Subscriptions.Model.ISubscriptionDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Subscriptions.Model.ISubscriptionDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Demo.Platform.Global.Website</patch:attribute>
      </register>
    </services>

    <pipelines>
      <getStartUrl>
        <processor type="Sitecore.Demo.Platform.Global.Website.Pipelines.GetStartUrl.ConvertToRelativeUrl, Sitecore.Demo.Platform.Global.Website"
          patch:after="processor[@type='Sitecore.Pipelines.GetStartUrl.AppendClientLanguageParameter, Sitecore.Kernel']" />
        </getStartUrl>
    </pipelines>
  </sitecore>
</configuration>
