<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/"
               xmlns:sxaxm="http://www.sitecore.net/xmlconfig/sxaxm/">
  <sitecore>
    <!-- This resolves an issue with the requestAccessCache (long running cache) memory usage climbing and not reducing. It also reduces the response time by a factor of more than two times -->
    <databases>
      <database id="web">
        <securityEnabled>false</securityEnabled>
      </database>
    </databases>

    <settings>
      <setting name="Analytics.CookieDomain" env:require="Local" value="dev.local" />
      <setting name="Analytics.CookieDomain" env:require="Docker" value="lighthouse.localhost" />
      <setting name="Analytics.CookieDomain" env:require="DemoRunner" value="sitecoredemo.io" />
      <setting name="Analytics.CookieDomain" env:require="Production" value="sitecoredemo.com" />
      <setting name="Analytics.ForwardedRequestHttpHeader" env:require="Production" value="X-Original-Forwarded-For" />
      <setting name="Analytics.IsSharedSessionEnabled" value="true" />

      <!--- START: SXA bugs in Sitecore 9.2 -->
      <setting name="XA.Foundation.Publishing.FlagPublishingGroupingItems.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <!--- END: SXA bugs in Sitecore 9.2 -->
    </settings>

    <!--- START: SXA bugs in Sitecore 9.2 -->
    <pipelines>
      <mvc.customizeRendering>
        <processor sxaxm:require="sxaxconnect" patch:after="*[@type='Sitecore.Mvc.Analytics.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Mvc.Analytics']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CustomizeRendering.ResolveRenderingDatasource, Sitecore.XA.Foundation.XConnect.Integration" resolve="true" />
      </mvc.customizeRendering>
    </pipelines>
    <!--- END: SXA bugs in Sitecore 9.2 -->

    <events>
      <event name="item:adding">
        <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.VirtualMediaFolderValidator, Sitecore.XA.Foundation.Multisite" method="OnItemAdding">
          <patch:delete />
        </handler>
      </event>
      <event name="item:moving">
        <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.VirtualMediaFolderValidator, Sitecore.XA.Foundation.Multisite" method="OnItemMoving">
          <patch:delete />
        </handler>
      </event>
    </events>

  </sitecore>
</configuration>
