<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:sxa="http://www.sitecore.net/xmlconfig/sxa/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Project.Global.Website" description="Shared Site Content" dependencies="Foundation.*,Feature.*" extends="Helix.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Global Project -->
            <include name="Templates" database="master" path="/sitecore/templates/Project/Habitat SXA Sites/Global" sxa:require="On" />
            <include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/Project/Habitat SXA Sites/Global" sxa:require="On" />
            <include name="Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Project/Habitat SXA Sites/Global" sxa:require="On" />
            <include name="System.Settings" database="master" path="/sitecore/system/Settings/Project/Habitat SXA Sites/Global" sxa:require="On"/>
            <include name="Media" database="master" path="/sitecore/media library/Project/Habitat SXA Sites/Global" sxa:require="On" />
            <include name="Forms" database="master" path="/sitecore/Forms/Habitat SXA Sites/Global" sxa:require="On" />
            <include name="Scripts" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Habitat Home" sxa:require="On" />

            <!-- Content -->
            <include name="Content" database="master" path="/sitecore/content/Habitat SXA Sites" sxa:require="On">
              <exclude children="true">
                <except name="Global" includeChildren="true" />
              </exclude>
            </include>

            <!-- SXA Themes for the Habitat Home tenant sites are stored in the Global Project, except the commerce store theme (controlled by the .Commerce repository project ) -->
            <include name="Themes" database="master" path="/sitecore/media library/Themes/Habitat SXA Sites" sxa:require="On">
              <exclude database="master" childrenOfPath="/sitecore/media library/Themes/Habitat SXA Sites/Habitat Home Store"  />
            </include>

            <!-- Stackla -->
            <include name="Stackla.Renderings" database="master" path="/sitecore/layout/Renderings/Stackla" />

          </predicate>
        
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>