<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Project.Global.Website" description="Shared Site Content" dependencies="Foundation.*,Feature.*" extends="Helix.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Global Project -->
            <include name="Templates" database="master" path="/sitecore/templates/Project/Demo Shared SXA Sites/Global"/>
            <include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/Project/Demo Shared SXA Sites/Global" />
            <include name="Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Project/Demo Shared SXA Sites/Global" />
            <include name="System.Settings" database="master" path="/sitecore/system/Settings/Project/Demo Shared SXA Sites/Global" />
            <include name="Media" database="master" path="/sitecore/media library/Project/Demo Shared SXA Sites/Global" />
            <include name="Forms" database="master" path="/sitecore/Forms/Demo Shared SXA Sites/Global" />
            <include name="Scripts" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SitecoreDemo" />

            <!-- Content -->
            <include name="Content" database="master" path="/sitecore/content/Demo SXA Sites">
              <exclude children="true">
                <except name="Global" includeChildren="true" />
              </exclude>
            </include>

            <!-- SXA Themes for the Lighthouse tenant sites are stored in the Global Project, except the commerce store theme (controlled by the .Commerce repository Project ) -->
            <include name="Themes" database="master" path="/sitecore/media library/Themes/Demo SXA Sites">
              <exclude database="master" childrenOfPath="/sitecore/media library/Themes/Demo SXA Sites/SitecoreDemo Store"  />
            </include>
			
            <!-- Ensure SXA Site Order Configured on this Item -->
            <include name="SXA.SiteOrder" database="master" path="/sitecore/system/Settings/Foundation/Experience Accelerator/Multisite/Management/Sites" />
          </predicate>		 
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>