<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Project.Global.Website" description="Shared Site Content" dependencies="Foundation.*,Feature.*" extends="Helix.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Project/Habitat Sites">
              <exclude children="true">
                <except name="Global" />
              </exclude>
            </include>

            <include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/Project/Habitat Sites">
              <exclude children="true">
                <except name="Global" />
              </exclude>
            </include>

            <include name="Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Project/Habitat Sites">            
              <exclude children="true">
                <except name="Global" />
              </exclude>
            </include>
            
            <include name="System.Settings" database="master" path="/sitecore/system/Settings/Project/Habitat Sites">
              <exclude children="true">
                <except name="Global" />
              </exclude>
            </include>

            <include name="Media" database="master" path="/sitecore/media library/Project/Habitat Sites">
              <exclude children="true">
                <except name="Global" />
              </exclude>
            </include>

            <include name="Themes" database="master" path="/sitecore/media library/Themes/Habitat Sites">
              <exclude database="master" childrenOfPath="/sitecore/media library/Themes/Habitat Sites/Habitat Home Store"  />
            </include>
            
            <include name="Content" database="master" path="/sitecore/content/Habitat Sites">
              <exclude children="true">
                <except name="Global" />
              </exclude>
            </include>

            <include name="Forms" database="master" path="/sitecore/Forms/Habitat Sites">
              <exclude children="true" />
            </include>
            
            <include name="System.Workflows" database="master" path="/sitecore/system/Workflows/Demo Workflow" />
            <include name="Settings" database="master" path="/sitecore/system/Settings/Feature/Habitat Sites" />
            <include name="Languages" database="master" path="/sitecore/system/Languages" />

            <include name="Feature.Articles.Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites/Articles" />
            <include name="Feature.Navigation.Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites/Navigation" />
            <include name="Feature.PageContent.Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites/Page Content" />
            <include name="Feature.PageContent.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Sites/Page Content" />

            <!-- SXA Extensions -->
            <include name="RenderingVariants.WrappedSlide" database="master" path="/sitecore/system/Settings/Foundation/Experience Accelerator/Rendering Variants/Rendering Variants/Page Content/Wrapped Slide" />

            <!-- SXA Overrides -->
            <include name="SXA.CoreSripts.Typeahead" database="master" path="/sitecore/media library/Base Themes/Core Libraries/scripts/typeahead" />

            <!-- Validation rules -->
            <include name="ValidationRules.RichText" database="master" path="/sitecore/system/Settings/Validation Rules/Field Types/Rich Text" />
            <include name="ValidationRules.Global" database="master" path="/sitecore/system/Settings/Validation Rules/Global Rules" />

            <!-- Experience Editor buttons -->
            <include name="WebEdit.Hero.EditHeroBackground" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Edit Hero Background" />
            <include name="WebEdit.Author.AssociateAuthor" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Associate Author" />

            <!-- Stackla -->
            <include name="Stackla.Renderings" database="master" path="/sitecore/layout/Renderings/Stackla" />

          </predicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\Global\serialization\Users" singleInstance="true" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="sitecore" pattern="demoadmin" />
          </userPredicate>
          <userSyncConfiguration defaultPassword="b" minPasswordLength="1" removeOrphans="false"/>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>