<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/"
               xmlns:sxaxm="http://www.sitecore.net/xmlconfig/sxaxm/">
  <sitecore>

    <!--- START: SXA bugs in Sitecore 9.2 -->
    <pipelines>
      <mvc.customizeRendering>
        <processor sxaxm:require="sxaxconnect" patch:after="*[@type='Sitecore.Mvc.Analytics.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Mvc.Analytics']" type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.CustomizeRendering.ResolveRenderingDatasource, Sitecore.XA.Foundation.XConnect.Integration" resolve="true" />
      </mvc.customizeRendering>
    </pipelines>

    <settings>
      <setting name="XA.Foundation.Publishing.FlagPublishingGroupingItems.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
    <!--- END: SXA bugs in Sitecore 9.2 -->

    <events>
      <event name="item:adding">
        <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.VirtualMediaFolderValidator, Sitecore.XA.Foundation.Multisite" method="OnItemAdding">
          <patch:delete />
        </handler>
      </event>
      <event name="item:moving">
        <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.VirtualMediaFolderValidator, Sitecore.XA.Foundation.Multisite" method="OnItemMoving">
          <patch:delete />
        </handler>
      </event>
    </events>
    
  </sitecore>
</configuration>
