<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    
    <settings>
      <setting name="XA.Foundation.Publishing.FlagPublishingGroupingItems.Enabled" value="false">
        <patch:add />
      </setting>
    </settings>
    
    <events>
      <event name="item:adding">
        <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.VirtualMediaFolderValidator, Sitecore.XA.Foundation.Multisite" method="OnItemAdding">
          <patch:delete />
        </handler>
      </event>
      <event name="item:moving">
        <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.VirtualMediaFolderValidator, Sitecore.XA.Foundation.Multisite" method="OnItemMoving">
          <patch:delete />
        </handler>
      </event>
    </events>
    
  </sitecore>
</configuration>
