<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.CRM" description="Feature CRM" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Settings" database="master" path="/sitecore/system/Settings/Data Exchange" />
                        <include name="Tenant" database="master" path="/sitecore/system/Data Exchange/Demo CRM" />
                        <include name="Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Data Exchange" />
                        <include name="Tasks.Schedule" database="master" path="/sitecore/system/Tasks/Schedules/CRM Contact Sync Schedule" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>