$max-content-width: 1500px;
$max-header-width: 1300px;
$primary-nav-height: 44px;
$main-search-width: 380px;
$hero-height: 300px;
$category-hero-height: 500px;
$category-hero-height-small: 300px;

$carousel-slide-height: 500px;
$carousel-nav-height: 20px;
$carousel-bullet-size: 12px;

$home-carousel-slide-height: 500px;
$home-carousel-nav-width: 150px;
$home-carousel-nav-height: 200px;
$home-carousel-nav-clip-height: 30px;

$footer-carousel-slide-height: 200px;

//Breakpoints
$break-desktop-large: 1300px;
$break-desktop: 1024px;
$break-mobile: 380px;
$break-mobile-horizontal: 640px;
$break-mobile-large: 786px;