$icomoon-font-path: "../fonts/SitecoreDemo" !default;
$demo-icons: "SitecoreDemoIcons";

$icon-2Days: "\e915";
$icon-4Days: "\e916";
$icon-days: "\e917";
$icon-Aerobics: "\e918";
$icon-Low: "\e919";
$icon-Medium: "\e91a";
$icon-High: "\e91b";
$icon-Strength: "\e91c";
$icon-Weight-Lifting: "\e91d";
$icon-Yoga: "\e91e";
$icon-all-of-them: "\e900";
$icon-appliances: "\e901";
$icon-bedroom: "\e902";
$icon-cameras: "\e903";
$icon-child-safety: "\e904";
$icon-desktops-laptops: "\e905";
$icon-dont-know: "\e906";
$icon-energy-efficient: "\e907";
$icon-entire-house: "\e908";
$icon-fitness-tech: "\e909";
$icon-gaming: "\e90a";
$icon-kitchen: "\e90b";
$icon-laundry: "\e90c";
$icon-living-room: "\e90d";
$icon-newest-coolest: "\e90e";
$icon-office: "\e90f";
$icon-overclocking: "\e910";
$icon-phones-tablets: "\e911";
$icon-connected-home: "\e912";
$icon-theater-room: "\e913";
$icon-tv-audio: "\e914";