@import "../../abstracts/vars";
@import "../../abstracts/mixins";
.promo {
    &.promo-hero {
        float: none;
        position: relative;
        height: $hero-height;
        overflow-y: hidden;
        margin-top: 0;
        margin-bottom: 2em;
    
        >.component-content {
            padding: 0;
            height: 100%;
            >div {
                float: none;
                width: 100%;
            }
        }
    
        .field-promoicon {
            padding: 0;
            position: absolute;
            img {
                display: block;
            }
    
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.25);
            }
        }
    
        .hero-wrapper {
            height: 100%;
        }
    
        .hero-content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            padding: 0 15px;
            max-width: $max-content-width;
            height: 100%;
            position: relative;
        }
    
        .field-heroimage {
            height: 100%;
            width: inherit;
            display: flex;
    
            img {
                @include object-fit;
            }
        }
    
        .hero-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $promo-hero-text-color;
            text-align: left;
        }
    
        .field-herosupertitle {
            @include proxima-font;
            font-size: 1.25em;
            text-transform: uppercase;            
            color: $promo-hero-secondary-text-color;
        }
        .field-herotitle {
            font-size: 3em;
            line-height: 0.9;
            font-weight: bold;
            margin-bottom: 0.25em;
            color: $promo-hero-text-color;
    
            @include respond-to(tablet) {
                font-size: 5em;
            }
        }
    
        .field-herolink {
            a {
                @include btn-primary;
                font-size: 1em;
                min-width: 300px;
            }        
        }
    }

    &.image-top .field-heroimage img{        
        @include object-fit(cover, top);
    }

    &.image-center .field-heroimage img{
        @include object-fit(cover, center);
    }

    &.image-bottom .field-heroimage img{
        @include object-fit(cover, bottom);
    }
}
.on-page-editor {
    .promo-hero {
        .field-promoicon {
            &:before {
                content: none;
            }
        }
    }
}


