<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.Forms" description="Feature Forms" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Feature.Forms.Actions" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions" />
                        <include name="Feature.Forms.Settings" database="master" path="/sitecore/system/Settings/Forms/Submit Actions" />
                        <include name="Feature.Forms.Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites/Forms" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>