footer {
    background-color: #141919;
    color: #ffffff;
    margin-top: 80px;
    padding-top: 20px;
    width: 100%;
    small {
        font-size: 60%;
        line-height: 1.1;
    }
    p { 
        color: #ffffff; 
    }
    .container { 
        padding-bottom: 10px; 
    }
    a:hover { 
        color: #fe2911; 
    }
}

