@import "abstracts/vars";
@import "abstracts/mixins";
.content, .rich-text {
    background: $rich-content-bg;
    color: $text-basic;
    border: $rich-content-border;
    line-height: 1.5;
    font-size: 12px;
    overflow: hidden;
    * {
        max-width: 100%;
    }
    @import "base/richtext/*";
}
.rich-text  {
    @import "variants/rich-text/*";
}
.content {
    @import "variants/page-content/*";
}
@import "styles/rich-text/*";
