#careers-search {
    .search-result-list {     
            padding-top: 5px;
            li {
            max-width: 50%;
            width: 100%;
            display: inline-block;
            position: relative;
            flex: 0 0 50%;
            padding: 10px;
        }
    }
}

.job-details {
    padding-left: 20px;
}