#resources-search {
    padding-left: 30px;
    max-width: 1000px;
    .search-result-list {     
            padding-top: 5px;
            max-width: 70%;
            li {
            max-width: 50%;
            width: 100%;
            display: inline-block;
            position: relative;
            flex: 0 0 50%;
            text-align: center;
            .card {
                padding: 30px;
                a {
                    text-decoration: none;
                }                
            }
            img {
                max-width: 300px;
            }
        }
    }
}

#article-right {
    max-width: 500px;
}

.article-img {
    max-width: 450px;
    padding-right: 30px;
}

#resources-page-selector {
    width: 1000px;
}