#related-guides {
    li {
        max-width: 32%;
        width: 100%;
        display: inline-block;
        position: relative;
        flex: 0 0 32%;
        padding: 0 1.25em;
        border-bottom: none;

        .product-item-image {
            img {
            max-width: 150px;
            max-height: 150px;
            }
        }
    }


}