.card-footer {
    .media {
        h4 {
            display: inline-block;
            margin-left: 5px;
        }
    }
}

#upcoming-events, #careers-list {
    .search-result-list {     
            padding-top: 5px;
            li {
            max-width: 50%;
            width: 100%;
            display: inline-block;
            position: relative;
            flex: 0 0 50%;
        }
    }
}

#author-filter {
    display: none;
}

.card-img-right {
    min-height: 200px;
    width: 100%;
}

.card {
    flex: 1 0 0%;
}

.media {
    align-items: center !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-width: 1px;
    border-style: solid;
    border-color: #d2d2d2;
    padding: 25px 10px;
    margin: 20px 0;
}

.field-eventplace {
    margin-right: 1rem; 
}