@import "abstracts/mixins";
@import "abstracts/vars";
@import "base/fontawesome/font-awesome-mix-var";

.carousel-item {
    img {
        height: 500px;
        object-fit: cover;
    }
    p.lead { 
        color: #000000; 
    }
}

.carousel-caption {
    h2 { 
        color: #000000;
        font-size: 5rem;
        font-weight: 700;
    }
}

.carousel {
    @include border-basic();
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background: $carousel-bg;
    .wrapper {
        padding-bottom: 30px;
    }
    .slides {
        position: relative;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .nav {
        margin-top: 10px;
        .nav-items {
            display: inline-block;
            position: relative;
            height: 32px;
            min-width: 20px;
            margin: 0 15px;
            vertical-align: middle;
            cursor: pointer;
            &:before, &:after {
                background-image: url(../Images/player.png);
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 9px;
            }
            &:before {
                left: -9px;
                background-position: -154px -152px;
            }
            &:after {
                right: -9px;
                background-position: -225px -152px;
            }
            //For Bullets styles start
            .sxa-bullets, .sxa-numbers {
                position: relative;
                height: 32px;
                float: left;
                width: 20px;
                box-sizing: border-box;
            }
            .sxa-bullets {
                &:before {
                    background-image: url(../Images/player.png);
                    background-position: 0 -152px;
                    left: -10px;
                    content: '';
                    width: 20px;
                    height: 32px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &.active {
                    &:before {
                        background-position: -75px -152px;
                    }
                }
            }
            //For Bullets styles end
            //For Numbers styles start
            .sxa-numbers {
                padding-top: 3px;
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTYlIiBzdG9wLWNvbG9yPSIjZmJmYmZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjIlIiBzdG9wLWNvbG9yPSIjZmVmZWZlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzQlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDElIiBzdG9wLWNvbG9yPSIjZmRmZGZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzglIiBzdG9wLWNvbG9yPSIjZDVkNWQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODQlIiBzdG9wLWNvbG9yPSIjY2VjZWNlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODglIiBzdG9wLWNvbG9yPSIjMGQwZjExIiBzdG9wLW9wYWNpdHk9IjAuNDQiLz4KICAgIDxzdG9wIG9mZnNldD0iOTQlIiBzdG9wLWNvbG9yPSIjMGQwZjExIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGQwZjExIiBzdG9wLW9wYWNpdHk9IjAuMTIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
                background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(239, 239, 239, 1) 3%, rgba(251, 251, 251, 1) 16%, rgba(254, 254, 254, 1) 22%, rgba(255, 255, 255, 1) 34%, rgba(253, 253, 253, 1) 41%, rgba(247, 247, 247, 1) 50%, rgba(232, 232, 232, 1) 66%, rgba(213, 213, 213, 1) 78%, rgba(206, 206, 206, 1) 84%, rgba(13, 15, 17, 0.44) 88%, rgba(13, 15, 17, 0.3) 94%, rgba(13, 15, 17, 0.12) 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(239, 239, 239, 1) 3%, rgba(251, 251, 251, 1) 16%, rgba(254, 254, 254, 1) 22%, rgba(255, 255, 255, 1) 34%, rgba(253, 253, 253, 1) 41%, rgba(247, 247, 247, 1) 50%, rgba(232, 232, 232, 1) 66%, rgba(213, 213, 213, 1) 78%, rgba(206, 206, 206, 1) 84%, rgba(13, 15, 17, 0.44) 88%, rgba(13, 15, 17, 0.3) 94%, rgba(13, 15, 17, 0.12) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(239, 239, 239, 1) 3%, rgba(251, 251, 251, 1) 16%, rgba(254, 254, 254, 1) 22%, rgba(255, 255, 255, 1) 34%, rgba(253, 253, 253, 1) 41%, rgba(247, 247, 247, 1) 50%, rgba(232, 232, 232, 1) 66%, rgba(213, 213, 213, 1) 78%, rgba(206, 206, 206, 1) 84%, rgba(13, 15, 17, 0.44) 88%, rgba(13, 15, 17, 0.3) 94%, rgba(13, 15, 17, 0.12) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                &:hover {
                    color: $carousel-nav-active;
                }
                &.active {
                    font-weight: bold;
                }
            }
            //For Bullets styles end
        }
        .prev-text, .next-text {
            position: relative;
            font-size: 0;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            color:$carousel-nav;
        }
        a.next-text {
            &:hover, &:active {
                text-decoration: none;
                color: $carousel-nav-active;
            }
            &:after {
                content: $fa-var-chevron-right;
                @include fa-icon();
                display: block;
                font-size: 20px;
            }
        }
        a.prev-text {
            &:hover, &:active {
                text-decoration: none;
            }
            &:after {
                @include fa-icon();
                content: $fa-var-chevron-left;
                display: block;
                font-size: 20px;
            }
        }
    }
    &.image-full-size {
        .carousel-body {
            height: auto;
            top: 2%;
            opacity: 0.8;
        }
        .carousel-link {
            left: auto;
            right: 1%;
            bottom: 2%;
            opacity: 0.8;
        }
    }
    @import "styles/carousel/*";
}
@media (max-width: 768px) {
    .carousel {
        padding: 0;
    }
}
