<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.HabitatHome.Feature.News.Pipelines.HttpRequestBegin.NewsWildCardItemResolver, Sitecore.HabitatHome.Feature.News" resolve="true" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <mvc.getPageItem>
        <processor type="Sitecore.HabitatHome.Feature.News.Pipelines.MvcGetPageItem.CheckNewsItemResolved, Sitecore.HabitatHome.Feature.News" patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromRouteUrl, Sitecore.Mvc']" />
      </mvc.getPageItem>
    </pipelines>
  </sitecore>
</configuration>