@using Sitecore.HabitatHome.Feature.Components.Models
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions

@model Component

<div class="container">  
    @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.Title))
    {
        <h1 class="display-4">@Html.Sitecore().Edit(Model, m => m.Title)</h1>
    }
</div>