@using Sitecore.HabitatHome.Feature.Components.Models
@using Sitecore.HabitatHome.Foundation.SitecoreExtensions.Extensions
@model Component
<div class="container">
    <div class="row featurette">
        <div class="col-sm-6 order-sm-2">
            <h2 class="featurette-heading">
                @Html.Sitecore().Edit(Model, m => m.Title)
            </h2>
            <p class="lead">
                @if (Sitecore.Context.PageMode.IsExperienceEditor || !string.IsNullOrWhiteSpace(Model.Content))
                {
                    @Html.Sitecore().Edit(Model, m => m.Content)
                }
            </p>
        </div>
        <div class="col-sm-6 order-sm-1">
            @Html.Sitecore().Edit(Model, m => m.Image, new { mw = 540 })
        </div>
    </div>
</div>