/* breakpoints */
.logout {
  /* breakpoints */
}

.logout a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #747474;
  border-bottom: 1px solid #89C6CC;
}

.logout a:hover {
  color: #878787;
  text-decoration: none;
}

.logout .component-content > a, .logout .component-content > p {
  display: inline-block;
}
