@charset "UTF-8";
/* breakpoints */
.carousel-item img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item p.lead {
  color: #000000;
}

.carousel-caption h2 {
  color: #000000;
  font-size: 5rem;
  font-weight: 700;
}

.carousel {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background: #FFFFFF;
}

.carousel .wrapper {
  padding-bottom: 30px;
}

.carousel .slides {
  position: relative;
}

.carousel .slides:after {
  content: "";
  display: block;
  clear: both;
}

.carousel .nav {
  margin-top: 10px;
}

.carousel .nav .nav-items {
  display: inline-block;
  position: relative;
  height: 32px;
  min-width: 20px;
  margin: 0 15px;
  vertical-align: middle;
  cursor: pointer;
}

.carousel .nav .nav-items:before, .carousel .nav .nav-items:after {
  background-image: url(../Images/player.png);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9px;
}

.carousel .nav .nav-items:before {
  left: -9px;
  background-position: -154px -152px;
}

.carousel .nav .nav-items:after {
  right: -9px;
  background-position: -225px -152px;
}

.carousel .nav .nav-items .sxa-bullets, .carousel .nav .nav-items .sxa-numbers {
  position: relative;
  height: 32px;
  float: left;
  width: 20px;
  box-sizing: border-box;
}

.carousel .nav .nav-items .sxa-bullets:before {
  background-image: url(../Images/player.png);
  background-position: 0 -152px;
  left: -10px;
  content: '';
  width: 20px;
  height: 32px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.carousel .nav .nav-items .sxa-bullets.active:before {
  background-position: -75px -152px;
}

.carousel .nav .nav-items .sxa-numbers {
  padding-top: 3px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTYlIiBzdG9wLWNvbG9yPSIjZmJmYmZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjIlIiBzdG9wLWNvbG9yPSIjZmVmZWZlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzQlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDElIiBzdG9wLWNvbG9yPSIjZmRmZGZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzglIiBzdG9wLWNvbG9yPSIjZDVkNWQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODQlIiBzdG9wLWNvbG9yPSIjY2VjZWNlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODglIiBzdG9wLWNvbG9yPSIjMGQwZjExIiBzdG9wLW9wYWNpdHk9IjAuNDQiLz4KICAgIDxzdG9wIG9mZnNldD0iOTQlIiBzdG9wLWNvbG9yPSIjMGQwZjExIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGQwZjExIiBzdG9wLW9wYWNpdHk9IjAuMTIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #efefef 3%, #fbfbfb 16%, #fefefe 22%, white 34%, #fdfdfd 41%, #f7f7f7 50%, #e8e8e8 66%, #d5d5d5 78%, #cecece 84%, rgba(13, 15, 17, 0.44) 88%, rgba(13, 15, 17, 0.3) 94%, rgba(13, 15, 17, 0.12) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), color-stop(3%, #efefef), color-stop(16%, #fbfbfb), color-stop(22%, #fefefe), color-stop(34%, white), color-stop(41%, #fdfdfd), color-stop(50%, #f7f7f7), color-stop(66%, #e8e8e8), color-stop(78%, #d5d5d5), color-stop(84%, #cecece), color-stop(88%, rgba(13, 15, 17, 0.44)), color-stop(94%, rgba(13, 15, 17, 0.3)), to(rgba(13, 15, 17, 0.12)));
  background: linear-gradient(to bottom, #eeeeee 0%, #efefef 3%, #fbfbfb 16%, #fefefe 22%, white 34%, #fdfdfd 41%, #f7f7f7 50%, #e8e8e8 66%, #d5d5d5 78%, #cecece 84%, rgba(13, 15, 17, 0.44) 88%, rgba(13, 15, 17, 0.3) 94%, rgba(13, 15, 17, 0.12) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.carousel .nav .nav-items .sxa-numbers:hover {
  color: #878787;
}

.carousel .nav .nav-items .sxa-numbers.active {
  font-weight: bold;
}

.carousel .nav .prev-text, .carousel .nav .next-text {
  position: relative;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #000;
}

.carousel .nav a.next-text:hover, .carousel .nav a.next-text:active {
  text-decoration: none;
  color: #878787;
}

.carousel .nav a.next-text:after {
  content: "";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  font-size: 20px;
}

.carousel .nav a.prev-text:hover, .carousel .nav a.prev-text:active {
  text-decoration: none;
}

.carousel .nav a.prev-text:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  font-size: 20px;
}

.carousel.image-full-size .carousel-body {
  height: auto;
  top: 2%;
  opacity: 0.8;
}

.carousel.image-full-size .carousel-link {
  left: auto;
  right: 1%;
  bottom: 2%;
  opacity: 0.8;
}

.carousel .carousel.slide-hero > .component-content .carousel-inner .wrapper {
  padding-bottom: 0;
}

.carousel .carousel.slide-hero > .component-content .carousel-inner .wrapper .slides li.slide .component.content {
  padding-left: 0;
  padding-right: 0;
}

.carousel .carousel.slide-hero > .component-content .carousel-inner .wrapper .slides li.slide .component.content .component-content .field-slideimage {
  min-height: 200px;
}

.carousel .carousel.slide-hero > .component-content .carousel-inner .wrapper .slides li.slide .component.content .component-content .slide-info {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 999;
  background-color: transparent;
}

.carousel .carousel.slide-hero > .component-content .carousel-inner .wrapper .nav {
  height: 0;
  margin-top: 0;
}

.carousel .carousel.slide-hero > .component-content .carousel-inner .wrapper .nav .prev-text,
.carousel .carousel.slide-hero > .component-content .carousel-inner .wrapper .nav .next-text {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel .carousel.slide-hero > .component-content .carousel-inner .wrapper .nav .nav-items {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .carousel {
    padding: 0;
  }
}
