@charset "UTF-8";
/* breakpoints */
a.link_arrow:after, button.link_arrow:after {
  -webkit-transition: margin .1s ease;
  color: #fff;
  content: " ➔";
  display: inline-block;
  margin-left: 4px;
  transition: margin .1s ease;
}

a.link_arrow:not(.btn) {
  color: #232323;
  font-weight: 600;
}

.link {
  background: transparent;
  /* breakpoints */
}

.link a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #747474;
  border-bottom: 1px solid #89C6CC;
}

.link a:hover {
  color: #878787;
  text-decoration: none;
}

.page-link {
  color: #000000;
}

.btn {
  cursor: pointer;
}

.btn-info {
  background-color: #232323;
  border: 2px solid #232323;
  border-radius: 0;
  padding: .9375em 2.5em;
  color: #fff;
}

.btn-info:hover {
  background-color: #000000;
  border: 2px solid #232323;
}

.btn-primary {
  background-color: #19a5a2;
  border-color: #19a5a2;
  padding: .9375em 2.5em;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0d5755;
  border: 2px solid #19a5a2;
}
