/* breakpoints */
.login {
  /* breakpoints */
  background-color: transparent;
}

.login label {
  background: transparent;
  color: #747474;
}

.login input, .login button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #747474;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
  height: auto;
  font-size: 13px;
}

.login input:focus {
  border: 1px solid #d2d2d2;
}

.login input[type="submit"], .login input[type="reset"], .login input[type="button"], .login button {
  border: 1px solid #89C6CC;
  padding: 5px 20px;
}

.login input[type="submit"]:hover, .login input[type="reset"]:hover, .login input[type="button"]:hover, .login button:hover {
  background: #f7f7f7 !important;
}

.login input::-moz-focus-inner, .login button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.login input[type="text"] {
  font-size: 13px;
}

.login input[type="text"], .login input[type="email"], .login input[type="password"], .login textarea, .login select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #747474;
  width: 100%;
  background: #fff;
  border: 1px solid #d2d2d2;
}

.login select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.login table {
  width: 100%;
}

.login table input, .login table label {
  display: inline-block;
  margin: 0;
}

.login table tr, .login table tbody {
  background-color: transparent !important;
}

.login table td {
  padding: 5px;
}

.login table input[type='text'], .login table input[type='password'] {
  min-height: 33px;
}
