footer {
  background-color: #141919;
  color: #ffffff;
  margin-top: 80px;
  padding-top: 20px;
  width: 100%;
}

footer small {
  font-size: 60%;
  line-height: 1.1;
}

footer p {
  color: #ffffff;
}

footer .container {
  padding-bottom: 10px;
}

footer a:hover {
  color: #fe2911;
}
