#news-search .card, #latest-news .card {
  padding: 2em;
  margin: 1.25em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#news-search .card img, #latest-news .card img {
  height: 350px;
  max-width: 100%;
  padding: 1em;
}

#news-search .card p, #latest-news .card p {
  font-size: 1.25em;
}

#news-search a, #latest-news a {
  color: #000000 !important;
  font-weight: 700;
  text-decoration: none;
}

#news-search a:hover, #latest-news a:hover {
  color: #19a5a2 !important;
  text-decoration: underline;
}

#news-search h3, #latest-news h3 {
  color: #000000;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 42px;
  margin-bottom: 0.4em;
}

#news-search li {
  max-width: 50%;
  width: 100%;
  display: inline-block;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 0 1.25em;
}

#latest-news .card {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
}

#latest-news li {
  max-width: 33.33333%;
  width: 100%;
  display: inline-block;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  padding: 0 1.25em;
}

.news-heading {
  margin-bottom: 5px;
  padding: 20px;
  background-color: #f3f6f9;
  background-position: center;
  background-size: cover;
}

.news-heading .meta {
  background-color: #19a5a2;
  color: #ffffff !important;
  display: inline-block;
  padding: 5px;
}

.field-publish-date {
  background-color: #19a5a2;
  color: #ffffff !important;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

.author-info {
  margin-top: 5px;
}

.author-info img {
  border-radius: 50%;
}

.author-info h4 {
  display: inline-block;
  padding: 0 100px 0 1em;
}

.news-img {
  margin: 20px 0;
}

.news-btn {
  float: right;
}
