/* breakpoints */
.page-list {
  background-color: transparent;
  /* breakpoints */
}

.page-list .item {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #60ddea;
  background: transparent;
  padding: 15px;
  overflow: hidden;
}

.page-list .item:last-child {
  border-width: 0;
}

.page-list .item .field-title {
  color: #000000;
}

.page-list .field-title {
  font-weight: bold;
}

.page-list a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #747474;
  border-bottom: 1px solid #89C6CC;
}

.page-list a:hover {
  color: #878787;
  text-decoration: none;
}
