@charset "UTF-8";
/* breakpoints */
.sxa-archive .level-1 {
  display: block !important;
  padding-left: 10px;
}

.sxa-archive .level-1 > li > .group-header {
  font-weight: bold;
}

.sxa-archive .group-header {
  position: relative;
}

.sxa-archive .group-header:before {
  font-size: 10px;
  font-size: 1rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 10px;
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -15px;
  padding: 0;
}

.sxa-archive .group-header.opened:before {
  content: "";
}

.sxa-archive ul {
  display: none;
  margin-left: 10px;
  cursor: pointer;
}

.sxa-archive ul li {
  position: relative;
}

.sxa-archive .archive-items {
  display: none;
}

.sxa-archive .archive-items .archive-item {
  /* breakpoints */
  cursor: default;
}

.sxa-archive .archive-items .archive-item a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #747474;
  border-bottom: 1px solid #89C6CC;
}

.sxa-archive .archive-items .archive-item a:hover {
  color: #878787;
  text-decoration: none;
}
