#careers-search .search-result-list {
  padding-top: 5px;
}

#careers-search .search-result-list li {
  max-width: 50%;
  width: 100%;
  display: inline-block;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 10px;
}

.job-details {
  padding-left: 20px;
}
