/* breakpoints */
.twitter h1, .twitter h2, .twitter h3, .twitter h4, .twitter h5, .twitter h6 {
  padding-bottom: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d2d2d2;
}

.twitter .twitter-follow-button {
  margin: 10px 0 0;
}

.twitter .tweet-item {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #89C6CC;
  padding: 10px 10px 10px 0px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  padding-left: 55px;
}

.twitter .tweet-item:first-child {
  border: none;
  background: none;
}

.twitter .tweet-header {
  overflow: hidden;
}

.twitter .tweet-profile {
  display: block;
  float: left;
  text-decoration: none;
  font-size: 14px;
}

.twitter .tweet-avatar {
  position: absolute;
  left: 0;
  top: 10px;
}

.twitter .tweet-datetime {
  display: block;
  float: right;
  text-decoration: none;
}

.twitter .tweet-content {
  margin-top: 5px;
}

.twitter .tweet-footer > ul li {
  display: inline;
  padding-left: 5px;
}

.twitter .tweet-footer > ul li:first-child {
  padding: 0;
}

.twitter .tweet-footer a {
  text-decoration: none;
}
