/* breakpoints */
.news-heading {
  margin-bottom: 5px;
  padding: 20px;
  background-color: #f4f4f4;
  background-position: center;
  background-size: cover;
}

.news-heading .meta {
  background-color: #15909c;
  color: #ffffff !important;
  display: inline-block;
  padding: 5px;
}

.centered-heading {
  padding-top: 2em;
}

.featurette {
  margin-bottom: 2rem;
}

.featurette-heading, .centered-heading h2 {
  color: #000000;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 42px;
  margin-bottom: 0.4em;
}

.card img {
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}

.jumbotron {
  background-color: #f4f4f4;
  background-position: center;
  background-size: cover;
}

.jumbotron h1 {
  margin-top: 0;
}

.image-cta {
  background-color: #f4f4f4;
}

.promo {
  line-height: 1.6;
  margin: 8em auto;
  float: none;
}

.promo > .component-content {
  padding: 0;
  background-color: #ffffff;
  font-family: "ProximaNova-Semibold", arial, helvetica, sans-serif;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .promo > .component-content > div {
    float: left;
    width: 50%;
    text-align: left;
  }
}

.promo > .component-content p {
  color: #747474;
  font-size: 1.25em;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .promo > .component-content {
    padding: 0 2em;
  }
}

@media only screen and (min-width: 960px) {
  .promo > .component-content {
    padding: 0 8em;
  }
}

.promo .field-promotext {
  margin: 5px 0;
}

.promo .field-promotext p {
  font-size: 1;
  margin: 0;
  color: #222;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .promo .field-promotext p {
    font-size: 2em;
  }
}

.promo .field-promotext2 p {
  margin: 10px 0;
  font-weight: 300;
}

.promo .field-promotext3 p {
  color: #000;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  margin-top: 0;
}

.promo .field-promoicon img {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .promo .field-promoicon {
    padding: 0 60px 0 0;
  }
}

@media only screen and (min-width: 960px) {
  .promo .field-promoicon {
    padding: 0 120px 0 0;
  }
}

.promo .field-promolink a {
  min-width: 240px;
  margin-top: 0.25em;
  display: block;
  width: auto;
}

.promo.promo-right .field-promoicon {
  float: right;
  max-width: 50%;
}

.promo.promo-left .field-promoicon {
  float: left;
  max-width: 50%;
  padding-right: 20px;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .promo.promo-left .field-promoicon {
    padding: 0 0 0 60px;
    float: right;
  }
}

@media only screen and (min-width: 960px) {
  .promo.promo-left .field-promoicon {
    padding: 0 10px 0 120px;
  }
}

.promo.promo-top > .component-content {
  width: 100%;
}

.promo.promo-top > .component-content .field-promoicon {
  padding: 0;
}

.promo.promo-top > .component-content > div {
  float: none;
  width: 100%;
  text-align: center;
}

.promo h1, .promo h2, .promo h3, .promo h4, .promo h5, .promo h6 {
  color: #222;
}

.promo h1, .promo h2 {
  margin: 10px 0;
}

.promo h3, .promo h4, .promo p {
  margin: 5px 0;
}

.promo h5, .promo h6 {
  margin: 5px 0 0;
}

.promo strong {
  font-weight: 700;
}

.promo ul, .promo ol {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
}

.promo li {
  font-size: 13px;
  margin-left: 15px;
}

.promo ul li {
  list-style: disc;
  list-style-position: inside;
}

.promo ol li {
  list-style: decimal;
  list-style-position: inside;
}

.promo a {
  color: #de232f;
  text-decoration: underline;
  font-size: 1em;
}

.promo a:hover {
  color: #747474;
}

.promo table {
  height: auto !important;
  border: 2px solid #d2d2d2;
}

.promo table, .promo table tr, .promo table th, .promo table td {
  border: solid 2px #d2d2d2;
  background: #FFFFFF;
  border-collapse: collapse;
  vertical-align: middle;
}

.promo table tr, .promo table th, .promo table td {
  padding: 5px;
}

.promo table caption {
  background-color: #f7f7f7;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}

.promo table tr {
  border: none;
}

.promo table th, .promo table td {
  border-width: 2px 0 0 2px;
}

.promo table th {
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 7px;
}

.promo table th:first-child {
  border-left: 0;
}

.promo table td:first-child {
  border-left: 0;
}

.full-width-promo {
  padding: 0;
  max-width: none !important;
  width: 100vw !important;
  position: relative;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  padding: 0;
}

.full-width-promo .promo {
  margin: 0 auto;
}

.full-width-promo .promo > .component-content {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .full-width-promo .promo > .component-content {
    padding: 180px 0;
  }
}

.full-width-promo .promo > .component-content .field-promolink a {
  background-color: transparent !important;
}

.full-width-promo .promo > .component-content .field-promolink a:hover {
  background-color: transparent !important;
}

.full-width-promo .promo > .component-content > div {
  float: none;
  width: 100%;
  position: relative;
  z-index: 20;
  background: rgba(255, 255, 255, 0.75);
  padding: 2em;
  width: 100%;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .full-width-promo .promo > .component-content > div {
    width: 500px;
  }
}

.full-width-promo .promo > .component-content > div.field-promoicon {
  padding: 0;
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.full-width-promo .promo > .component-content > div.field-promoicon img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
}

.full-width-promo .promo.promo-right > .component-content {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.promo.promo-hero {
  float: none;
  position: relative;
  height: 500px;
  overflow-y: hidden;
  margin-top: 0;
  margin-bottom: 2em;
}

.promo.promo-hero > .component-content {
  padding: 0;
  height: 100%;
}

.promo.promo-hero > .component-content > div {
  float: none;
  width: 100%;
}

.promo.promo-hero > .component-content .field-promotext {
  position: relative;
}

.promo.promo-hero .field-promoicon {
  padding: 0;
  position: absolute;
}

.promo.promo-hero .field-promoicon img {
  display: block;
}

.promo.promo-hero .field-promoicon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.promo.promo-hero .article-hero .field-promoicon {
  position: relative;
}

.promo.promo-hero .hero-wrapper {
  height: 100%;
}

.promo.promo-hero .hero-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  height: 100%;
  position: relative;
}

.promo.promo-hero .field-heroimage {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo.promo-hero .field-heroimage img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
}

.promo.promo-hero .hero-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
}

.promo.promo-hero .field-herosupertitle {
  font-family: "ProximaNova-Semibold", arial, helvetica, sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
}

.promo.promo-hero .field-herotitle {
  font-size: 3em;
  line-height: 0.9;
  font-weight: bold;
  margin-bottom: 0.25em;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .promo.promo-hero .field-herotitle {
    font-size: 5em;
  }
}

.promo.promo-hero .field-herolink a {
  font-size: 1em;
  min-width: 300px;
}

.promo.image-top .field-heroimage img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  font-family: 'object-fit: cover; object-position: top;';
}

.promo.image-center .field-heroimage img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
}

.promo.image-bottom .field-heroimage img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  font-family: 'object-fit: cover; object-position: bottom;';
}

.on-page-editor .promo-hero .field-promoicon:before {
  content: none;
}

.promo.absolute-bottom-link {
  position: relative;
}

.promo.absolute-bottom-link .field-promolink {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* breakpoints */
.promo.promo-hero {
  position: relative;
  text-align: center;
}

.promo.promo-hero.promo-hero-half {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 959px) {
  .promo.promo-hero.promo-hero-half {
    float: none;
    width: 100%;
  }
}

.promo.promo-hero .field-promotext {
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 20px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
}

.promo.promo-hero .field-promotext > a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 959px) {
  .promo.promo-hero .field-promotext {
    width: 100%;
    margin: 0;
  }
  .promo.promo-hero .field-promotext h1 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .promo.promo-hero .field-promotext h2, .promo.promo-hero .field-promotext h3, .promo.promo-hero .field-promotext h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}

/* breakpoints */
.promo-shadow {
  max-width: 960px;
  padding: 0;
  border-top-width: 3px;
  border-top-color: #60ddea;
  border-style: solid;
  overflow: visible;
  position: relative;
}

.promo-shadow.promo {
  float: left;
}

.promo-shadow > .component-content {
  padding: 15px;
  margin: 0 0 30px 0;
}

@media only screen and (max-width: 959px) {
  .promo-shadow > .component-content {
    margin: 0 10px 30px 10px;
  }
}

.promo-shadow > .component-content:before, .promo-shadow > .component-content:after {
  opacity: 0.7;
  box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: -1;
  height: 20%;
  max-height: 100px;
  max-width: 460px;
  width: 47%;
  content: "";
  bottom: 10px;
}

.promo-shadow > .component-content:before {
  left: 2%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.promo-shadow > .component-content:after {
  right: 2%;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
