/* breakpoints */
.market-selector {
  /* breakpoints */
}

.market-selector label {
  background: transparent;
  color: #747474;
}

.market-selector input, .market-selector button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF !important;
  border: 1px solid #d2d2d2;
  border-radius: 0 !important;
  color: #747474;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
  height: auto;
  font-size: 13px;
}

.market-selector input:focus {
  border: 1px solid #d2d2d2;
}

.market-selector input[type="submit"], .market-selector input[type="reset"], .market-selector input[type="button"], .market-selector button {
  border: 1px solid #89C6CC;
  padding: 5px 20px;
}

.market-selector input[type="submit"]:hover, .market-selector input[type="reset"]:hover, .market-selector input[type="button"]:hover, .market-selector button:hover {
  background: #f7f7f7 !important;
}

.market-selector input::-moz-focus-inner, .market-selector button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.market-selector input[type="text"] {
  font-size: 13px;
}

.market-selector input[type="text"], .market-selector input[type="email"], .market-selector input[type="password"], .market-selector textarea, .market-selector select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #747474;
  width: 100%;
  background: #fff;
  border: 1px solid #d2d2d2;
}

.market-selector select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.market-selector select {
  height: auto;
  font-size: 13px;
  color: #747474;
  padding: 5px 15px 5px 5px;
}
