@charset "UTF-8";
/* breakpoints */
.primary-nav-container .field-link {
  color: #000000 !important;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2em;
}

.primary-nav-container .search-box {
  padding-top: 1.75em;
  margin-left: 4em;
}

#sc-demo-logo {
  max-width: 120px;
}

.navigation {
  background: transparent;
}

.navigation .level1 > .navigation-title > a, .navigation .level0 > .navigation-title > a {
  font-size: 18px;
  border-color: #89C6CC;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-right: 3px;
  margin-right: 5px;
}

.navigation .level1 > .navigation-title > a:hover, .navigation .level0 > .navigation-title > a:hover {
  text-decoration: none;
  border-width: 2px;
  padding: 2px;
  background-color: #89C6CC;
}

.navigation a {
  color: #747474;
}

.lt-ie9 .navigation a, .lt-ie9 .navigation a span {
  color: #747474;
}

.navigation a:focus, .navigation a:hover {
  color: #747474;
}

.navigation li {
  display: inline;
  float: left;
  padding: 8px;
}

.navigation li .nav-item {
  margin-left: 1em;
  margin-right: 1em;
}

.navigation li.submenu {
  margin-bottom: 0;
}

.navigation li > .navigation-title > a {
  padding: 3px 5px 3px 0;
  display: block;
  color: #747474;
  text-decoration: none;
}

.navigation li > ul a {
  font-size: 14px;
}

.navigation .submenu > ul {
  padding-left: 10px;
}

/* breakpoints */
.navigation.navigation-fat {
  background: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
}

.navigation.navigation-fat a {
  text-decoration: none;
}

.navigation.navigation-fat nav > ul {
  list-style: none;
  padding: 10px 0;
  overflow: hidden;
}

.navigation.navigation-fat .rel-level1 {
  margin: 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.navigation.navigation-fat .rel-level1.submenu ul a {
  position: relative;
}

.navigation.navigation-fat .rel-level1.submenu ul a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  content: "";
  top: 50%;
  left: -9px;
  font-size: 10px;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #89C6CC;
  border-bottom: 0;
  background: #f6f6f6;
  padding: 5px 10px;
  display: block;
  width: auto;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a:hover {
  border-color: #1b809e;
}

.navigation.navigation-fat .rel-level1 > ul {
  padding: 0;
}

.navigation.navigation-fat .rel-level2 {
  padding-left: 10px;
  display: block;
}

/* breakpoints */
.navigation.navigation-main .component-content > nav {
  position: relative;
}

.navigation.navigation-main .component-content > nav ul:after {
  content: "";
  display: table;
  clear: both;
}

.navigation.navigation-main .rel-level1 {
  float: left;
}

.navigation.navigation-main .rel-level1.active > .navigation-title > a {
  border-color: #89C6CC;
}

.navigation.navigation-main .rel-level1 > .navigation-title > a {
  border-width: 2px 0 0 0;
  border-color: transparent;
}

.navigation.navigation-main .rel-level1 > .navigation-title > a:hover {
  border-color: #89C6CC;
}

.navigation.navigation-main .rel-level1.submenu > .navigation-title a {
  position: relative;
  padding-right: 15px;
}

.navigation.navigation-main .rel-level1.submenu > .navigation-title a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

.navigation.navigation-main .rel-level1 > ul {
  overflow: hidden;
  display: none;
  z-index: 10;
  position: absolute;
  top: 100%;
  background: #f6f6f6;
  margin-left: 0;
  margin-top: -2px;
  border-top: 2px solid #89C6CC;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.navigation.navigation-main .rel-level1.show > a + ul {
  display: block !important;
}

.navigation.navigation-main .rel-level1.show > ul {
  display: block !important;
  min-width: 60px;
}

.navigation.navigation-main .rel-level1.active > .navigation-title > a:link, .navigation.navigation-main .rel-level1.active > .navigation-title > a:visited {
  color: #878787;
}

.navigation.navigation-main .rel-level1.active > span {
  display: block;
  padding: 10px 20px;
  color: #fff;
}

.navigation.navigation-main .rel-level1.submenu.active {
  border-color: #176f89;
}

.navigation.navigation-main .rel-level2:hover, .navigation.navigation-main .rel-level2:focus {
  -webkit-transition: background .2s ease-in;
  transition: background .2s ease-in;
  background: #f6f6f6;
}

.navigation.navigation-main .rel-level2 div > a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.navigation.navigation-main .rel-level2 div > a:hover, .navigation.navigation-main .rel-level2 div > a:focus {
  color: #222;
}

.navigation.navigation-main .rel-level2.submenu {
  box-sizing: border-box;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image {
  text-align: center;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image > a, .navigation.navigation-main .rel-level2.submenu.navigation-image .field-navigationtext {
  text-align: left;
}

.navigation.navigation-main.navigation-main-horizontal .submenu > ul {
  padding-left: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > a + ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul {
  width: 100%;
  clear: both;
  left: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 {
  float: left;
  padding: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #d2d2d2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul {
  padding-left: 0;
  width: auto;
  left: auto;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #d2d2d2;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul > li {
  padding: 5px 10px;
}

/* breakpoints */
.navigation.navigation-mobile nav > ul {
  border: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
}

.navigation.navigation-mobile .rel-level1 {
  cursor: pointer;
  margin: 0;
  background: #FFFFFF;
}

.navigation.navigation-mobile .rel-level1 > ul {
  padding-left: 25px;
  display: none;
  background: #f6f6f6;
}

.navigation.navigation-mobile .rel-level1 > ul li {
  position: relative;
}

.navigation.navigation-mobile .rel-level1 > ul li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  font-size: 10px;
  top: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation.navigation-mobile .rel-level1.submenu.active > .navigation-title:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navigation.navigation-mobile .rel-level1.submenu.active > ul {
  display: block;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title {
  position: relative;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  font-size: 10px;
  top: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title {
  border-bottom: 1px solid #89C6CC;
  margin: 0;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title:last-child {
  border-bottom: none;
}

.navigation.navigation-mobile .rel-level1 .navigation-title {
  padding: 10px;
}

.navigation.navigation-mobile .rel-level1 .navigation-title > a {
  text-decoration: none;
  color: #747474;
  display: inline;
}

.navigation.navigation-mobile .rel-level2 {
  display: list-item;
}

.navigation.navigation-mobile .rel-level2 .navigation-title > a {
  font-weight: 500;
}

.navigation.navigation-mobile .rel-level2 ul {
  display: none;
}

/* breakpoints */
.navigation.navigation-sidebar a {
  text-decoration: none;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title {
  margin-bottom: 0;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title > a {
  padding: 5px 10px;
  display: block;
  position: relative;
  z-index: 1;
  margin-right: 0;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > ul {
  margin-left: 10px;
  margin-top: 5px;
}

.navigation.navigation-sidebar nav > ul .rel-level2 {
  display: block;
}

/* breakpoints */
.navigation.sitemap-navigation .level2 a {
  position: relative;
  padding-left: 10px;
}

.navigation.sitemap-navigation .level2 a:before {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%) scale(1, -1);
  -ms-transform: translateY(-50%) scale(1, -1);
  transform: translateY(-50%) scale(1, -1);
  position: absolute;
  content: "";
  top: 50%;
  left: -8px;
}
