@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions


<div class="component navigation navigation-title">
    <div class="component-content">

        <nav>
            <ul class="clearfix">
                <li class="level1 submenu rel-level1 item0 odd first">
                    <div class="navigation-title field-title">
                        <a href="/en/Mobile">
                            Mobile
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/Mobile">
                                        Mobile
                                    </a>
                                </div>

                                <div class="submenu-content-tiles">

                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Must-Have-Mobile" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-MustHaveMobileProductsforBusinessTravel-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=5A7E3CA1C07E05A35661D53FDD78E659E8EECF8C" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Mobile Products for Business Travel

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Laptops-Obsolete" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-AreLaptopsBecomingObsolete-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=236&amp;hash=21CBF7F3D489DAE5162B6C8713DCB2C18DEF40DA" alt="" width="236" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Are Laptops Becoming Obsolete?

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Computers-and-Tablets/Kid’s-Tablets" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-Mobile-1.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=C38F79A001E01751C25B63C59C9C06E9E74E9338" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Selecting the Best Tablet for Kids

                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <ul class="clearfix">



                                <span class="submenu-directive">
                                    Shop:
                                </span>

                                <li class="level2 rel-level2 item0 odd first">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Phones">
                                            Phones
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Computers-and-Tablets/Tablets">
                                            Tablets
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Audio/Headphones">
                                            Headphones
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd last">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Phones/Smartphone-Accessories">
                                            Smartphone Accessories
                                        </a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="level1 submenu rel-level1 item1 even">
                    <div class="navigation-title field-title">
                        <a href="/en/Televisions-and-Audio">
                            TV and Audio
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/Televisions-and-Audio">
                                        TV and Audio
                                    </a>
                                </div>

                                <div class="submenu-content-tiles">

                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Setting-Up-the-Perfect-Home-Theater" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-HowtoSetUpthePerfectHomeTheater-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=D85F198BE56E2E9C992E1D5CA8F15E4214456FC5" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    The 2017 Home Theater Guide

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Home-Theater/Home-Theater-Speaker-Packages" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-TVAudio-2.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=C6E5045D212DA419FB98C17AAD346E8B0B8D0518" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Sound Matters - Find the Best Speaker Package

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/Product-Finder" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-TVAudio-1.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=D687E722C61D70B7B2311C72457A4DDDE364B0D6" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Find the Best Screen Size for Your Space

                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <ul class="clearfix">



                                <span class="submenu-directive">
                                    Shop:
                                </span>

                                <li class="level2 rel-level2 item0 odd first">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Televisions">
                                            Televisions
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Home-Theater">
                                            Home Theater
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Audio/Headphones">
                                            Headphones
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Home-Theater/Home-Theater-Receivers-and-Amplifiers">
                                            Receivers and Amps
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd last">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Audio/Car-Audio-Receiver-Packages">
                                            Car Audio
                                        </a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="level1 submenu rel-level1 item2 odd">
                    <div class="navigation-title field-title">
                        <a href="/en/Computing">
                            Computing
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/Computing">
                                        Computing
                                    </a>
                                </div>

                                <div class="submenu-content-tiles">

                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Laptops-Obsolete" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-AreLaptopsBecomingObsolete-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=236&amp;hash=21CBF7F3D489DAE5162B6C8713DCB2C18DEF40DA" alt="" width="236" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Are Laptops Becoming Obsolete?

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/Computing" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-Computing-2.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=3976E52A8D2EA05D36AF7CAD84691CDB1B6C5B2B" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    What Your Keyboard Says About You

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Computers-and-Tablets/All-In-One" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-Computing-1.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=CA92B102D398BD5C819F2E18333C6D2FFED70AEA" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Optimize Your Work Space with these Packages

                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <ul class="clearfix">



                                <span class="submenu-directive">
                                    Shop:
                                </span>

                                <li class="level2 rel-level2 item0 odd first">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Computers-and-Tablets/Laptops">
                                            Laptops
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Computers-and-Tablets/Desktops">
                                            Desktops
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Computers-and-Tablets/All-In-One">
                                            All-In-One
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Computers-and-Tablets/Tablets">
                                            Tablets
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd last">
                                    <div class="navigation-title field-title">
                                        <a href="/en/Gaming">
                                            Gaming
                                        </a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="level1 submenu rel-level1 item3 even">
                    <div class="navigation-title field-title">
                        <a href="/en/Appliances">
                            Appliances
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/Appliances">
                                        Appliances
                                    </a>
                                </div>

                                <div class="submenu-content-tiles">

                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Kitchen-Appliances" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-7KitchenAppliances-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=D5A9B425F5055A27DB2F3C73BA8F383B10EB4217" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    7 Kitchen Trends You Need to Follow

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/Appliances" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-Appliances-2.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=3E1C2C4BA6ED6722302F266678DE5DD3A652E426" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Best Tools to Live a Healthy Lifestyle

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/Connected-Home" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-Appliances-1.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=955F1F094DB5E51FA226F2AEC387C2BD43BD2C26" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Automate your Home with These Appliances

                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <ul class="clearfix">



                                <span class="submenu-directive">
                                    Shop:
                                </span>

                                <li class="level2 rel-level2 item0 odd first">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Appliances/Coffee-Makers">
                                            Coffee Makers
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Appliances/Refrigerators">
                                            Refrigerators
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Appliances/Vacuums">
                                            Vacuums
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Appliances/Laundry">
                                            Laundry
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Appliances/Ranges">
                                            Ranges
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Appliances/Small-Appliances">
                                            Handhelds
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd last">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Appliances/Microwaves">
                                            Microwaves
                                        </a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="level1 submenu rel-level1 item4 odd">
                    <div class="navigation-title field-title">
                        <a href="/en/Connected-Home">
                            Connected Home
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/Connected-Home">
                                        Connected Home
                                    </a>
                                </div>

                                <div class="submenu-content-tiles">

                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Design-Your-Connected-Home" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-HowtoDesignYourConnectedHome-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=F4EE7271F0D61457EE047188799668D85D35811D" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Design Your Connected Home

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Connected-home/Thermostats" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-ConnectedHome-1.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=F9F12146E6B2724D47BA3859D77FFA1976095927" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Personalize Your Environment Anyway

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Connected-home/Security-Cameras" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-ConnectedHome-2.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=420026C6B749FF99557B85C69A4F1F77C58E6DC2" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Own Your Space with a Complete Security System

                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <ul class="clearfix">



                                <span class="submenu-directive">
                                    Shop:
                                </span>

                                <li class="level2 rel-level2 item0 odd first">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Connected-home/Smart-Locks">
                                            Smart Locks
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Connected-home/Appliance-and-Outlet-Control">
                                            Appliance and Outlet Control
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Connected-home/Security-Cameras">
                                            Security Cameras
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd last">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Connected-home/Thermostats">
                                            Thermostats
                                        </a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="level1 submenu rel-level1 item5 even">
                    <div class="navigation-title field-title">
                        <a href="/en/Gaming">
                            Gaming
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/Gaming">
                                        Gaming
                                    </a>
                                </div>

                                <div class="submenu-content-tiles">

                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Gaming" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-6StepstothePerfectGamingEnvironment-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=8FDE6D23A74142F5F4FD633C9369BA2800C3C678" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Your 2017 Gaming Guide

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Laptops-Obsolete" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-AreLaptopsBecomingObsolete-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=236&amp;hash=21CBF7F3D489DAE5162B6C8713DCB2C18DEF40DA" alt="" width="236" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Are Laptops Becoming Obsolete?

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/Gaming" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-Mobile-1.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=C38F79A001E01751C25B63C59C9C06E9E74E9338" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Giving your kids the best gaming experience

                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <ul class="clearfix">



                                <span class="submenu-directive">
                                    Shop:
                                </span>

                                <li class="level2 rel-level2 item0 odd first">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Gaming/Consoles">
                                            Consoles
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Gaming/Single-Game-Subscriptions">
                                            Single Game Subscriptions
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Gaming/Multigame-Subscriptions">
                                            Multi-game Subscriptions
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd last">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Gaming/NextCube-Accessories">
                                            Accessories
                                        </a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="level1 submenu rel-level1 item6 odd">
                    <div class="navigation-title field-title">
                        <a href="/en/Guides">
                            Guides
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/Guides">
                                        Guides
                                    </a>
                                </div>

                                <div class="submenu-content-tiles">

                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Kitchen-Appliances" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-7KitchenAppliances-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=D5A9B425F5055A27DB2F3C73BA8F383B10EB4217" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    7 Kitchen Trends You Need to Follow

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Design-Your-Connected-Home" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-HowtoDesignYourConnectedHome-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=F4EE7271F0D61457EE047188799668D85D35811D" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Design Your Connected Home

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="submenu-content-tile">



                                        <a href="/en/Guides/Gaming" class="submenu-content-tile-link">
                                            <div class="submenu-content-tile-link-image">

                                                <img src="/-/media/E2E/Navigation/Blog-6StepstothePerfectGamingEnvironment-MenuThumb.jpg?h=184&amp;la=en&amp;mh=184&amp;mw=240&amp;w=240&amp;hash=8FDE6D23A74142F5F4FD633C9369BA2800C3C678" alt="" width="240" height="184" disablewebedit="False">

                                            </div>

                                            <div class="submenu-content-tile-link-title">
                                                <div class="editorContent">

                                                    Your 2017 Gaming Guide

                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <ul class="clearfix">



                                <span class="submenu-directive">
                                    Shop:
                                </span>

                                <li class="level2 rel-level2 item0 odd first">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Televisions">
                                            Televisions
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Home-Theater">
                                            Home Theater
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Audio/Headphones">
                                            Headphones
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Home-Theater/Home-Theater-Receivers-and-Amplifiers">
                                            Receivers and Amps
                                        </a>
                                    </div>
                                </li>
                                <li class="level2 rel-level2 item0 odd last">
                                    <div class="navigation-title field-title">
                                        <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/Audio/Car-Audio-Receiver-Packages">
                                            Car Audio
                                        </a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>


                <li class="level1 secondary rel-level1 item7 even">
                    <div class="navigation-title field-title">
                        <a href="/en/Gift-Cards">
                            Gift Cards
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/Gift-Cards">
                                        Because Gift Cards are Easy
                                    </a>
                                </div>

                                <ul class="clearfix">



                                    <li class="level2 rel-level2 item0 odd first">
                                        <div class="navigation-title field-title">
                                            <a href="/en/sitecore/Commerce/Catalog-Management/Catalogs/Habitat_Master/Departments/eGift-Cards-and-Gift-Wrapping">
                                                Buy Now
                                            </a>
                                        </div>
                                    </li>
                                    <li class="level2 rel-level2 item0 odd last">
                                        <div class="navigation-title field-title">
                                            <a href="/en/AccountManagement/MyOrders">
                                                Returns
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="level1 secondary rel-level1 item8 odd">
                    <div class="navigation-title field-title">
                        <a href="/en/Support">
                            Support
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/Support">
                                        Get the Support You Need
                                    </a>
                                </div>

                                <ul class="clearfix">



                                    <li class="level2 rel-level2 item0 odd first">
                                        <div class="navigation-title field-title">
                                            <a href="/en/About">
                                                About
                                            </a>
                                        </div>
                                    </li>
                                    <li class="level2 rel-level2 item0 odd">
                                        <div class="navigation-title field-title">
                                            <a href="/en/Locations">
                                                Locations
                                            </a>
                                        </div>
                                    </li>
                                    <li class="level2 rel-level2 item0 odd">
                                        <div class="navigation-title field-title">
                                            <a href="/en/AccountManagement/MyOrders">
                                                Returns
                                            </a>
                                        </div>
                                    </li>
                                    <li class="level2 rel-level2 item0 odd last">
                                        <div class="navigation-title field-title">
                                            <a href="/en/Privacy-Policy">
                                                Our Privacy Policy
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="level1 secondary rel-level1 item9 even last active">
                    <div class="navigation-title field-title">
                        <a href="/en/AccountManagement">
                            My Account
                        </a>
                    </div>

                    <div class="submenu-container">
                        <div class="submenu-container-inner">
                            <div class="submenu-content">
                                <div class="submenu-content-title">
                                    <a href="/en/AccountManagement">
                                        Personalize Your Shopping Experience
                                    </a>
                                </div>

                                <ul class="clearfix">



                                    <li class="level2 rel-level2 item0 odd first">
                                        <div class="navigation-title field-title">
                                            <a href="/en/AccountManagement/MyOrders">
                                                My Orders
                                            </a>
                                        </div>
                                    </li>
                                    <li class="level2 rel-level2 item0 odd">
                                        <div class="navigation-title field-title">
                                            <a href="/en/ShoppingCart">
                                                Shopping Cart
                                            </a>
                                        </div>
                                    </li>
                                    <li class="level2 rel-level2 item0 odd">
                                        <div class="navigation-title field-title">
                                            <a href="/en/Support">
                                                Get Support
                                            </a>
                                        </div>
                                    </li>
                                    <li class="level2 rel-level2 item0 odd last">
                                        <div class="navigation-title field-title">
                                            <a href="/en/Register">
                                                Register
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

    </div>
</div>