@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

<!--custom navigation component -->
<!-- ***** -->
<div class="component megadrop">
    <div class="megadrop-inner">
        <div class="megadrop-icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="megadrop-navbar container">
            <ul>
                <!-- ***** -->
                <li class="active">
                    <div class="megadrop-secondary-title-link">
                        <a href="javascript:;">Mobile</a>
                    </div>
                    <div class="megadrop-secondary-content">
                        <div class="megadrop-secondary-content-inner">
                            <h2><a href="javascript:;">Mobile</a></h2>
                            <ul class="megadrop-secondary-main clearfix">
                                <li>
                                    <a href="javascript:;">
                                        <div class="megadrop-secondary-main-image">
                                            <img class="img-responsive"
                                                 src="-/media/Themes/Habitat%20Sites/Habitat%20Home/Habitat%20Home/images/01.jpg"
                                                 alt="menu thumb" />
                                        </div>
                                        <div class="megadrop-secondary-main-link">Mobile Products for Business Travel</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="megadrop-secondary-main-image">
                                            <img class="img-responsive"
                                                 src="-/media/Themes/Habitat%20Sites/Habitat%20Home/Habitat%20Home/images/02.jpg"
                                                 alt="menu thumb" />
                                        </div>
                                        <div class="megadrop-secondary-main-link">Are Laptops Becoming Obsolete?</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="megadrop-secondary-main-image">
                                            <img class="img-responsive"
                                                 src="-/media/Themes/Habitat%20Sites/Habitat%20Home/Habitat%20Home/images/03.jpg"
                                                 alt="menu thumb" />
                                        </div>
                                        <div class="megadrop-secondary-main-link">Selecting the Best Tablet for Kids</div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tags">
                                <span>Shop:</span>
                                <ul>
                                    <li><a href="javascript:;">Phones</a></li>
                                    <li><a href="javascript:;">Tablets</a></li>
                                    <li><a href="javascript:;">Headphones</a></li>
                                    <li><a href="javascript:;">Smartphone Accessories</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- **** -->
                <!-- ***** -->
                <li>
                    <div class="megadrop-secondary-title-link">
                        <a href="javascript:;">TV and Audio</a>
                    </div>
                    <div class="megadrop-secondary-content">
                        <div class="megadrop-secondary-content-inner">
                            <h2><a href="javascript:;">TV and Audio</a></h2>
                            <ul class="megadrop-secondary-main clearfix">
                                <li>
                                    <a href="javascript:;">
                                        <div class="megadrop-secondary-main-image">
                                            <img class="img-responsive"
                                                 src="-/media/Themes/Habitat%20Sites/Habitat%20Home/Habitat%20Home/images/04.jpg"
                                                 alt="menu thumb" />
                                        </div>
                                        <div class="megadrop-secondary-main-link">
                                            The 2017 Home Theater Guide
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="megadrop-secondary-main-image">
                                            <img class="img-responsive"
                                                 src="-/media/Themes/Habitat%20Sites/Habitat%20Home/Habitat%20Home/images/05.jpg"
                                                 alt="menu thumb" />
                                        </div>
                                        <div class="megadrop-secondary-main-link">Sound Matters - Find the Best Speaker Package</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="megadrop-secondary-main-image">
                                            <img class="img-responsive"
                                                 src="-/media/Themes/Habitat%20Sites/Habitat%20Home/Habitat%20Home/images/06.jpg"
                                                 alt="menu thumb" />
                                        </div>
                                        <div class="megadrop-secondary-main-link">Find the Best Screen Size for Your Space</div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tags">
                                <span>Shop:</span>
                                <ul>
                                    <li><a href="javascript:;">Home Theater</a></li>
                                    <li><a href="javascript:;">Televisions</a></li>
                                    <li><a href="javascript:;">Headphones</a></li>
                                    <li><a href="javascript:;">Car Audio</a></li>
                                    <li><a href="javascript:;">Receivers and Amps</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- **** -->

            </ul>
        </div>
    </div>

</div>
<!-- ***** -->
<!-- end -->