<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file enables the pre-emptive screenshot generation event hanlders.
OPTIONALLY ENABLE ONLY FOR SERVER ROLE: [CM]

The pre-emptive screenshot generation event handlers generate screenshot files as items change, thus 
reducing wait time within the UI when screenshots are displayed.

Do not enable these handlers on any server role other than CM.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Disabled">
        <events>
            <event name="item:saved">
                <handler type="Sitecore.ContentTesting.Events.GenerateScreenshot, Sitecore.ContentTesting" method="OnItemSaved">
                    <excludeFields hint="list:ExcludeFieldFromComparison">
                        <created>__created</created>
                        <createdby>__created by</createdby>
                        <updated>__updated</updated>
                        <updatedby>__updated by</updatedby>
                        <revision>__revision</revision>
                        <sortorder>__sortorder</sortorder>
                        <validfrom>__valid from</validfrom>
                        <workflow>__workflow</workflow>
                        <workflowstate>__workflow state</workflowstate>
                        <lock>__lock</lock>
                        <pageleveltestsetdefinition>__Page Level Test Set Definition</pageleveltestsetdefinition>
                    </excludeFields>
                </handler>
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.ContentTesting.Events.GenerateScreenshot, Sitecore.ContentTesting" method="OnRemoteItemSaved">
                    <excludeFields hint="list:ExcludeFieldFromComparison">
                        <created>__created</created>
                        <createdby>__created by</createdby>
                        <updated>__updated</updated>
                        <updatedby>__updated by</updatedby>
                        <revision>__revision</revision>
                        <sortorder>__sortorder</sortorder>
                        <validfrom>__valid from</validfrom>
                        <workflow>__workflow</workflow>
                        <workflowstate>__workflow state</workflowstate>
                        <lock>__lock</lock>
                        <pageleveltestsetdefinition>__Page Level Test Set Definition</pageleveltestsetdefinition>
                    </excludeFields>
                </handler>
            </event>
        </events>
    </sitecore>
</configuration>