Param(
    [string] $configurationFile = "configuration-xp0.json"
)

# Replace the values in this file with your installation Overrides
# all objects in the install-settings.json file can be overridden in this file

# You can remove any items that you do not need to override. Keep in mind the dependency on other settings when removing items.
# For example, $assets is used in various sections.
  
Write-Host "Setting Local Overrides in $configurationFile"

$json = Get-Content -Raw $configurationFile |  ConvertFrom-Json

# Assets and prerequisites

$assets = $json.assets 
$assets.licenseFilePath = Join-Path $assets.root "license.xml"
$json.assets = $assets


# Settings

# Site Settings
$site = $json.settings.site
$site.prefix = "habitat"
$site.suffix = "dev.local"
$site.webroot = "C:\inetpub\wwwroot"
$site.hostName = $json.settings.site.prefix + "." + $json.settings.site.suffix
$site.habitatHomePrefix = $json.settings.site.prefix + "home"
$site.habitatHomeHostName = $site.habitatHomePrefix + "." + $json.settings.site.suffix
$site.habitatHomeSslCertificateName = $site.HabitatHomeHostName
$json.settings.site = $site

$sitecore = $json.settings.sitecore
$sitecore.siteRoot = Join-Path $site.webRoot -ChildPath $site.hostName
$json.settings.sitecore = $sitecore

# Solr Parameters
$solr = $json.settings.solr
$solr.url = "https://localhost:8983/solr"
$solr.root = "c:\solr\solr-6.6.2"
$solr.serviceName = "Solr-6.6.2"


$sql = $json.settings.sql
# SQL Settings
$sql.server = "."
$sql.adminUser = "sa"
$sql.adminPassword = "12345"

$json.settings.sql = $sql

# XConnect Parameters
$xConnect = $json.settings.xConnect

$xConnect.siteName = $site.prefix + "_xconnect." + $site.suffix
$xConnect.certificateName = [string]::Join(".", @($site.prefix, $site.suffix, "xConnect.Client"))
$xConnect.siteRoot = Join-Path $site.webRoot -ChildPath $xConnect.siteName
$xConnect.sqlCollectionUser = $site.prefix + "collectionuser"
$xConnect.sqlCollectionPassword = "Test12345"

$json.settings.xConnect = $xConnect

Set-Content $configurationFile  (ConvertTo-Json -InputObject $json -Depth 3)