<header class="news-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Man must explore, and this is exploration at its greatest</h1>
                    <p class="lead">Keeping you informed. A few noteworthy news items about our company.</p>
                    <span class="meta">August 24, 2019</span>
                </div>
            </div>
        </div>
    </div>
</header>