@import "../../abstracts/vars";
@import "../../abstracts/mixins";
.promo {
    &.promo-hero {
        float: none;
        position: relative;
        height: $hero-height;
        overflow-y: hidden;
        margin-top: 0;
        margin-bottom: 2em;
    
        >.component-content {
            padding: 0;
            height: 100%;
            >div {
                float: none;
                width: 100%;
            }
        }
    
        .field-promoicon {
            padding: 0;
            position: absolute;
            img {
                display: block;
            }
    
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.25);
            }
        }
    
        .hero-wrapper {
            height: 100%;
        }
    
        .hero-content-wrapper {
            margin: 0 auto;
            padding: 0 15px;
            max-width: 1300px;
            height: 100%;
            position: relative;
        }
    
        .field-heroimage {
            height: 100%;
            width: inherit;
            display: flex;
    
            img {
                @include object-fit;
            }
        }
    
        .hero-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $promo-hero-text-color;
            text-align: left;
        }
    
        .field-promotext {
        }
    
        .field-herosupertitle {
            text-transform: uppercase;
            
        }
        .field-herotitle {
            font-size: 3em;
            line-height: 0.9;
            font-weight: bold;
            margin-bottom: 0.25em;
    
            @include respond-to(tablet) {
                font-size: 5em;
            }
        }
    
        .field-herolink {
            a {
                @include btn-primary;
                font-size: 1em;
                min-width: 300px;
            }        
        }
    }

    &.category-hero {
        margin-top: 0;
        margin-bottom: 0;

        >.component-content {
            padding: 0;
            height: 100%;
            >div {
                float: none;
                width: 100%;
            }
        }

        .row {
            position: relative;
            margin: 0 15px;
        }

        .widget-background {
            height: 100%;
            position: absolute;
        }

        .widget-content {
            position: relative;
            z-index: 100;
        }

        .field-heroimage {
            height: $category-hero-height-small;
            display: flex;
            padding: 0;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: $category-hero-height-small;
                background-color: rgba(0,0,0,0.25);
            }

            img {
                @include object-fit;
            }

            @include respond-to(tablet) {
                height: $category-hero-height;

                &:before {
                    height: $category-hero-height;
                }
            }
        }

        .hero-image-2 {
            width: 70%;
            margin: 0 auto;
            margin-top: $category-hero-height-small/3;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            @include respond-to(tablet) {
                margin-top: $category-hero-height;
                position: absolute;
                width: 33.33%;
                transform: translateY(-50%);
            }
        }

        .hero-text {           
            font-size: 1.25em;
            h1,h2,h3,h4 {
                color: $promo-hero-secondary-text-color;
            }

            @include respond-to(tablet) {
                height: $category-hero-height;
                display: flex;
                align-items: flex-end;
                position: relative;
                margin-left: 35%;
                font-size: 1.5em;
                padding: 0.25em 0;

                h1,h2,h3,h4 {
                    color: $promo-hero-text-color;
                }
            }
            
        }
        .hero-content {
            @include respond-to(tablet) {
                position: relative;
                margin-left: 35%;
            }
        }
        .field-herotext {
            color: $promo-hero-secondary-text-color;
        }
    }
}

.on-page-editor {
    .promo-hero {
        .field-promoicon {
            &:before {
                content: none;
            }
        }
    }
}

