<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:sxa="http://www.sitecore.net/xmlconfig/sxa/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Serializes the main root folders (also includes Foundation, Feature and Project roots)." extends="Helix.Foundation">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Foundation -->
            <include name="Core.Foundation.Templates" database="core" path="/sitecore/templates/Foundation">
              <exclude children="true" />
            </include>
            <include name="Core.Foundation.CustomExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Templates" database="master" path="/sitecore/templates/Foundation">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Foundation.Templates.Branches" database="master" path="/sitecore/templates/Branches/Foundation">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Foundation.Layout" database="master" path="/sitecore/layout/Layouts/Foundation">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Foundation.Renderings" database="master" path="/sitecore/layout/Renderings/Foundation">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Foundation.Layout.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Foundation">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Foundation.Media" database="master" path="/sitecore/media library/Foundation">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Foundation.System.Settings" database="master" path="/sitecore/system/Settings/Foundation">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <!-- Feature -->
            <include name="Core.Feature.Templates" database="core" path="/sitecore/templates/Feature">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Core.Feature.CustomExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Feature">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Feature.Templates" database="master" path="/sitecore/templates/Feature">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Feature.Templates.Branches" database="master" path="/sitecore/templates/Branches/Feature">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Feature.Layout" database="master" path="/sitecore/layout/Layouts/Feature">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Feature.Renderings" database="master" path="/sitecore/layout/Renderings/Feature">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Feature.Layout.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Feature.Media" database="master" path="/sitecore/media library/Feature">
              <exclude children="true">
                <except name="Habitat Home" includeChildren="false" />
              </exclude>
            </include>
            <include name="Feature.System.Settings" database="master" path="/sitecore/system/Settings/Feature">
              <exclude children="true">
                <except name="Habitat SXA Sites" includeChildren="false" sxa:require="On" />
              </exclude>
            </include>
            <!-- Project -->
            <include name="Core.Project.Templates" database="core" path="/sitecore/templates/Project">
              <exclude children="true" />
            </include>
            <include name="Core.Project.CustomExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Project">
              <exclude children="true" />
            </include>
            <include name="Project.Templates" database="master" path="/sitecore/templates/Project">
              <exclude children="true">
                <except name="Habitat Standard Sites" includeChildren="false" />
                <except name="Habitat SXA Sites" includeChildren="false" sxa:require="On" />
              </exclude>
            </include>
            <include name="Project.Templates.Branches" database="master" path="/sitecore/templates/Branches/Project">
              <exclude children="true">
                <except name="Habitat Standard Sites" includeChildren="false" />
                <except name="Habitat SXA Sites" includeChildren="false" sxa:require="On" />
              </exclude>
            </include>
            <include name="Project.Layout" database="master" path="/sitecore/layout/Layouts/Project">
              <exclude children="true">
                <except name="Habitat Standard Sites" includeChildren="false" />
                <except name="Habitat SXA Sites" includeChildren="false" sxa:require="On" />
              </exclude>
            </include>
            <include name="Project.Renderings" database="master" path="/sitecore/layout/Renderings/Project">
              <exclude children="true">
                <except name="Habitat Standard Sites" includeChildren="false" />
                <except name="Habitat SXA Sites" includeChildren="false" sxa:require="On" />
              </exclude>
            </include>
            <include name="Project.Layout.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project">
              <exclude children="true">
                <except name="Habitat Standard Sites" includeChildren="false" />
                <except name="Habitat SXA Sites" includeChildren="false" sxa:require="On"/>
              </exclude>
            </include>
            <include name="Project.Media" database="master" path="/sitecore/media library/Project">
              <exclude children="true">
                <except name="Habitat Standard Sites" includeChildren="false" />
                <except name="Habitat SXA Sites" includeChildren="false" sxa:require="On"/>
              </exclude>
            </include>
            <include name="Project.System.Settings" database="master" path="/sitecore/system/Settings/Project">
              <exclude children="true">
                <except name="Habitat Standard Sites" includeChildren="false" />
                <except name="Habitat SXA Sites" includeChildren="false" sxa:require="On"/>
              </exclude>
            </include>
            <!-- Media Themes -->
            <include name="Themes" database="master" path="/sitecore/media library/Themes" sxa:require="On">
              <exclude children="true">
                <except name="Habitat SXA Sites" includeChildren="false"/>
              </exclude>
            </include>
            <!-- Content -->
            <include name="Content.Roots" database="master" path="/sitecore/content">
              <exclude children="true">
                <except name="Habitat Standard Sites" includeChildren="false" />
                <!-- Habitat SXA Sites is defined on a global level />-->
              </exclude>
            </include>
            <!-- Forms -->
            <include name="Forms.Roots" database="master" path="/sitecore/Forms">
              <exclude children="true">
                <except name="Habitat Standard Sites" includeChildren="false" />
                <except name="Habitat SXA Sites" includeChildren="false" sxa:require="On" />
              </exclude>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>