@import "../../abstracts/vars";
$highlightedPosition: ("top", "bottom", "left", "right");
@each $pos in $highlightedPosition {
	.highlighted-#{$pos} {
		border-#{$pos}-width: 1px;
		border-#{$pos}-color: $border-basic-active;
		border-style: solid;
		padding: 3rem;
		padding-#{$pos}: 8rem;
		margin: 0;
		h1,
		h2,
		h3,
		h4 {
			margin: 0 0 10px 0;
		}
	}
}
