@import "../../abstracts/vars";
.indent {
    margin: 0 $extralarge-margin;
}
.small-indent-top {
    margin-top: $small-margin
}
.indent-top {
    margin-top: $middle-margin;
}
.indent-bottom {
    margin-bottom: $middle-margin;
}
