<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">

    <sitecore env:require="Production">
        <log4net>
            <root>
                <priority>
                    <patch:attribute name="value">WARN</patch:attribute>
                </priority>
            </root>
            <logger name="Sitecore.Diagnostics.WebDAV" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.Diagnostics.Publishing" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="ClientRoot" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.Owin.Diagnostics" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.Diagnostics.Search" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.Diagnostics.Crawling" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.FXM.Diagnostics" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.EDS" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.EXM" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.DataExchange.Local.Loggers.DataExchangeLog" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Cognifide.PowerShell" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
            <logger name="Cognifide.PowerShell" additivity="false">
                <level>
                    <patch:attribute name="value">WARN</patch:attribute>
                </level>
            </logger>
        </log4net>
    </sitecore>
</configuration>
