<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore search:require="azure">
        <contentSearch>
            <indexConfigurations>
                <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">
                     <documentOptions type="Sitecore.ContentSearch.DocumentBuilderOptions, Sitecore.ContentSearch">
                        <exclude hint="list:AddExcludedField">
                            <!-- Feed Rendering Parameters /sitecore/templates/System/Feeds/Feed Rendering Parameters -->
                            <TitleField_B42D516F tag="{B42D516F-BAC4-4920-881A-5E1560EAD6EE}">{B42D516F-BAC4-4920-881A-5E1560EAD6EE}</TitleField_B42D516F>
                            <BodyField_358F79AF tag="{358F79AF-649F-4C04-93F7-47F72757E9DE}">{358F79AF-649F-4C04-93F7-47F72757E9DE}</BodyField_358F79AF>
                            <AuthorField_03007EB1 tag="{03007EB1-69BC-4F77-B2D8-E0E7BD9FF5F3}">{03007EB1-69BC-4F77-B2D8-E0E7BD9FF5F3}</AuthorField_03007EB1>
                            <EnclosureField_E78F4374 tag="{E78F4374-2C52-4FAF-9AB7-A280DB7575BE}">{E78F4374-2C52-4FAF-9AB7-A280DB7575BE}</EnclosureField_E78F4374>
                            <AdditionalParameters_76B12BC0 tag="{76B12BC0-66A0-400F-BCDD-94096611E07C}">{76B12BC0-66A0-400F-BCDD-94096611E07C}</AdditionalParameters_76B12BC0>
                            <!-- RSS Feed Parameters /sitecore/templates/System/Feeds/RSS Feed -->
                            <BodyField_358F79AF tag="{358F79AF-649F-4C04-93F7-47F72757E9DE}">{358F79AF-649F-4C04-93F7-47F72757E9DE}</BodyField_358F79AF>
                            <Source_72C481B9 tag="{72C481B9-F789-4457-838F-2329EB8469C2}">{72C481B9-F789-4457-838F-2329EB8469C2}</Source_72C481B9>
                            <Title_16CC56DD tag="{16CC56DD-27F5-4839-B790-DBBD9ACA882C}">{16CC56DD-27F5-4839-B790-DBBD9ACA882C}</Title_16CC56DD>
                            <Description_770878C5 tag="{770878C5-EE73-4967-AFF5-D0F402523FDF}">{770878C5-EE73-4967-AFF5-D0F402523FDF}</Description_770878C5>
                            <Link_AD3E65ED tag="{AD3E65ED-74C0-43AF-A232-035308CADEFD}">{AD3E65ED-74C0-43AF-A232-035308CADEFD}</Link_AD3E65ED>
                            <Image_88EDD62C tag="{88EDD62C-7C1F-4308-B41F-2D4719F791EB}">{88EDD62C-7C1F-4308-B41F-2D4719F791EB}</Image_88EDD62C>
                            <Copyright_E6C75788 tag="{E6C75788-9E12-4497-830C-C33160664B46}">{E6C75788-9E12-4497-830C-C33160664B46}</Copyright_E6C75788>
                            <ManagingEditor_BFBFFC27 tag="{BFBFFC27-6B53-46C9-BD5A-A929F6BBAC70}">{BFBFFC27-6B53-46C9-BD5A-A929F6BBAC70}</ManagingEditor_BFBFFC27>
                            <Cacheable_D9409DA1 tag="{D9409DA1-2614-4CFF-AD9B-6ED1A1688B33}">{D9409DA1-2614-4CFF-AD9B-6ED1A1688B33}</Cacheable_D9409DA1>
                            <CacheDuration_EF612FEC tag="{EF612FEC-F94A-44C7-ACB7-79A5D7F8AA9A}">{EF612FEC-F94A-44C7-ACB7-79A5D7F8AA9A}</CacheDuration_EF612FEC>
                            <Type_EA2A3FC7 tag="{EA2A3FC7-8255-4FBD-BBC8-6A917A0641E6}">{EA2A3FC7-8255-4FBD-BBC8-6A917A0641E6}</Type_EA2A3FC7>
                            
                            <!-- Notification /sitecore/templates/System/Navigation/Notification -->
                            <Text_E7675D11 tag="{E7675D11-C0A0-4817-BEBA-0E7B039699DB}">{E7675D11-C0A0-4817-BEBA-0E7B039699DB}</Text_E7675D11>
                            <Action_3BB15316 tag="{3BB15316-B60C-4606-B1A5-0267B40BB3C5}">{3BB15316-B60C-4606-B1A5-0267B40BB3C5}</Action_3BB15316>
                            <Users_5A128E99 tag="{5A128E99-48A5-4E6E-BCE4-B612A43BEDFE}">{5A128E99-48A5-4E6E-BCE4-B612A43BEDFE}</Users_5A128E99>
                            <!-- Font Definition /sitecore/templates/Modules/PowerShell Console/Font Definition -->
                            <Key_DA69B6B3 tag="{DA69B6B3-D7BF-40D0-8609-E9B7B7BE01BA}">{DA69B6B3-D7BF-40D0-8609-E9B7B7BE01BA}</Key_DA69B6B3>
                            <Phrase_E82A50D9 tag="{E82A50D9-E483-4C2A-BEA1-730DD9AB7DE6}">{E82A50D9-E483-4C2A-BEA1-730DD9AB7DE6}</Phrase_E82A50D9>
                            
                            <!-- PowerShell Console Settings /sitecore/templates/Modules/PowerShell Console/PowerShell Console Settings -->
                            <HostWidth_F59378A5 tag="{F59378A5-F21D-4E07-B7DE-7986DDA3A510}">{F59378A5-F21D-4E07-B7DE-7986DDA3A510}</HostWidth_F59378A5>
                            <FontSize_6F442AC9 tag="{6F442AC9-7001-4124-9BC3-589875876C27}">{6F442AC9-7001-4124-9BC3-589875876C27}</FontSize_6F442AC9>
                            <FontFamily_86ECC435 tag="{86ECC435-0924-4EA0-92D8-CCA12ED7E644}">{86ECC435-0924-4EA0-92D8-CCA12ED7E644}</FontFamily_86ECC435>
                            <ForegroundColor_F810EEC7 tag="{F810EEC7-9A73-43E6-84C1-36E4951D2B3E}">{F810EEC7-9A73-43E6-84C1-36E4951D2B3E}</ForegroundColor_F810EEC7>
                            <BackgroundColor_AEEB1BB0 tag="{AEEB1BB0-87B9-4E16-B5DE-D4CC544A992F}">{AEEB1BB0-87B9-4E16-B5DE-D4CC544A992F}</BackgroundColor_AEEB1BB0>
                            <!-- Powershell Script Module /sitecore/templates/Modules/PowerShell Console/PowerShell Script Module -->
                            <Description_6D22BCCE tag="{6D22BCCE-2799-4324-B0D9-C44DF5EFFAF3}">{6D22BCCE-2799-4324-B0D9-C44DF5EFFAF3}</Description_6D22BCCE>
                            <Whatsnew_7093B5A2 tag="{7093B5A2-4406-4272-9759-238BF60814FD}">{7093B5A2-4406-4272-9759-238BF60814FD}</Whatsnew_7093B5A2>
                            <History_67E00FBC tag="{67E00FBC-C080-4F57-8CFC-70095AAB39E0}">{67E00FBC-C080-4F57-8CFC-70095AAB39E0}</History_67E00FBC>
                            <ModuleVersion_9911A28E tag="{9911A28E-2120-4AB0-9113-5BAE386769C1}">{9911A28E-2120-4AB0-9113-5BAE386769C1}</ModuleVersion_9911A28E>
                            <Author_53996CFF tag="{53996CFF-BB46-498C-AE54-5D8C6AA7B6A4}">{53996CFF-BB46-498C-AE54-5D8C6AA7B6A4}</Author_53996CFF>
                            <Url_8DBAF611 tag="{8DBAF611-51C6-4A44-A0DB-92C3DC6DDAC9}">{8DBAF611-51C6-4A44-A0DB-92C3DC6DDAC9}</Url_8DBAF611>
                            <Email_BF45C4B6 tag="{BF45C4B6-CC60-4FEC-B6CE-E260C306FECA}">{BF45C4B6-CC60-4FEC-B6CE-E260C306FECA}</Email_BF45C4B6>
                            <Support_37CCA7C1 tag="{37CCA7C1-4B3D-4113-8218-BF621C8F8D9A}">{37CCA7C1-4B3D-4113-8218-BF621C8F8D9A}</Support_37CCA7C1>
                            <License_5337BB18 tag="{5337BB18-2B6A-4326-BD7E-E00010BEC356}">{5337BB18-2B6A-4326-BD7E-E00010BEC356}</License_5337BB18>
                            <PublishedBy_E1D6475E tag="{E1D6475E-58E6-4A11-8BEA-2E58B6F834F6}">{E1D6475E-58E6-4A11-8BEA-2E58B6F834F6}</PublishedBy_E1D6475E>
                            <Category_CC3C200C tag="{CC3C200C-921A-4CA8-B5F7-FF8F3AA6EBD2}">{CC3C200C-921A-4CA8-B5F7-FF8F3AA6EBD2}</Category_CC3C200C>
                        </exclude>                      
                    </documentOptions>
                </defaultCloudIndexConfiguration>
            </indexConfigurations>          
        </contentSearch>
    </sitecore>
</configuration>