<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Project.SitecoreDemo.Master" description="Sitecore Demo content" dependencies="Foundation.*,Feature.*,Project.Global.Website">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Project\SitecoreDemo\serialization" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                      <include name="Content" database="master" path="/sitecore/content/Habitat SXA Sites/Sitecore Demo" />
                      <include name="Forms" database="master" path="/sitecore/Forms/Habitat SXA Sites/Sitecore Demo" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>