<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<defaultSolrIndexConfiguration>
					<fieldMap>
						<fieldNames hint="raw:AddFieldByFieldName">
							<field fieldName="blogauthor" returnType="stringCollection" />
						</fieldNames>
					</fieldMap>
					<documentOptions>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="blogauthor" type="Sitecore.XA.Foundation.Search.ComputedFields.ResolvedLinks, Sitecore.XA.Foundation.Search" referenceField="author" contentField="authorname" patch:after="*[0]"/>
						</fields>
					</documentOptions>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>