<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore role:require="Standalone or ContentDelivery or ContentManagement">
		<federatedAuthentication>
			<identityProviders>
				<identityProvider id="SitecoreIdentityServer" type="Sitecore.Owin.Authentication.IdentityServer.IdentityServerProvider, Sitecore.Owin.Authentication.IdentityServer" resolve="true">
					<transformations hint="list:AddTransformation">
						<transformation name="admin-ify client credentials users" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="client_id" value="Demo_Automation" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="name" value="sitecore\superuser" />
								<claim name="http://www.sitecore.net/identity/claims/isAdmin" value="true" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
					</transformations>
				</identityProvider>
			</identityProviders>
		</federatedAuthentication>
	</sitecore>
</configuration>
