<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Project.SitecoreDemo.Website" description="SitecoreDemo content" dependencies="Foundation.*,Feature.*,Project.Global.Website,Project.SitecoreDemo.Website.Shared" extends="Helix.Base">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\SitecoreDemo\Content" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Project SitecoreDemo -->
            <include name="Content" database="master" path="/sitecore/content/Demo SXA Sites/LighthouseLifestyle">
              <exclude database="master" childrenOfPath="/sitecore/content/Demo SXA Sites/LighthouseLifestyle/Data/Commerce" />
              <exclude database="master" childrenOfPath="/sitecore/content/Demo SXA Sites/LighthouseLifestyle/Data/Links/Store" />
              <exclude database="master" childrenOfPath="/sitecore/content/Demo SXA Sites/LighthouseLifestyle/Presentation/Page Designs/Commerce" />
              <exclude database="master" childrenOfPath="/sitecore/content/Demo SXA Sites/LighthouseLifestyle/Presentation/Partial Designs/Commerce" />
              <exclude database="master" childrenOfPath="/sitecore/content/Demo SXA Sites/LighthouseLifestyle/Presentation/Styles/Custom/Store" />
              <exclude database="master" childrenOfPath="/sitecore/content/Demo SXA Sites/LighthouseLifestyle/Home/Product Catalog"/>
            </include>
            <include name="Content.LighthouseFinancial" database="master" path="/sitecore/content/Demo SXA Sites/LighthouseFinancial" />
            <include name="Content.LighthouseHealthcare" database="master" path="/sitecore/content/Demo SXA Sites/LighthouseHealthcare" />
            <include name="Content.Cumulus" database="master" path="/sitecore/content/Demo SXA Sites/Cumulus" />

            <!-- Commerce rendering stubs. Required in Platform. DO NOT REMOVE. -->
            <include name="Layout.Feature.Commerce" database="master" path="/sitecore/layout/Renderings/Feature/Commerce Experience Accelerator" />
            <include name="Layout.Foundation.Commerce" database="master" path="/sitecore/layout/Renderings/Foundation/Commerce Experience Accelerator" />

            <!-- Sitecore DAM connector hotfix-->
            <include name="Demo.Hotfixes.DAM" database="core" path="/sitecore/system/Field types/Simple Types/Image">
              <exclude database="core" childrenOfPath="/sitecore/system/Field types/Simple Types/Image" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>