<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Project.SitecoreDemo.Website.Training" description="SitecoreDemo training configuration" dependencies="Foundation.*,Feature.*,Project.Global.Website" extends="Helix.Base">
          <predicate type="Unicorn.Roles.Predicates.EmptyPredicate, Unicorn.Roles" singleInstance="true" />
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\Project\SitecoreDemo\Training\Roles" singleInstance="true" />
          <rolePredicate>
            <include domain="sitecore" pattern="Training Limited Content Tree"/>
            <include domain="sitecore" pattern="Training Content Author"/>
            <include domain="sitecore" pattern="Training Marketer"/>
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\Project\SitecoreDemo\Training\Users" singleInstance="true" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="sitecore" pattern="Content Author" />
            <include domain="sitecore" pattern="Marketer" />
          </userPredicate>
          <userSyncConfiguration defaultPassword="b" minPasswordLength="1" removeOrphans="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>