<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Project.SitecoreDemo.Website.Shared" description="SitecoreDemo shared site content" dependencies="Foundation.*,Feature.*,Project.Global.Website" extends="Helix.Base">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\SitecoreDemo\Shared" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Project SitecoreDemo -->
            <include name="Templates" database="master" path="/sitecore/templates/Project/Demo Shared SXA Sites/SitecoreDemo">
              <exclude database="master" childrenOfPath="/sitecore/templates/Project/Demo Shared SXA Sites/SitecoreDemo/Store" />
            </include>
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Project/Demo Shared SXA Sites/SitecoreDemo" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project/Demo Shared SXA Sites/SitecoreDemo" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/Demo Shared SXA Sites/SitecoreDemo" />
            <include name="System.Settings" database="master" path="/sitecore/system/Settings/Project/Demo Shared SXA Sites/SitecoreDemo" />
            <include name="Dictionaries" database="master" path="/sitecore/system/Dictionary/Project/Demo Shared SXA Sites/SitecoreDemo" />
            <include name="Media" database="master" path="/sitecore/media library/Project/Demo Shared SXA Sites/LighthouseLifestyle" />
            <include name="Forms" database="master" path="/sitecore/Forms/Demo Shared SXA Sites/LighthouseLifestyle" />

            <!-- todo Is this marketing stuff SitecoreDemo only? -->
            <include name="Marketing.Taxonomies.Asset" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Asset" />
            <include name="Marketing.Taxonomies.AssetFacet1" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Asset facet 1" />
            <include name="Marketing.Taxonomies.AssetFacet2" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Asset facet 2" />
            <include name="Marketing.Taxonomies.CampaignFacet1" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign facet 1" />
            <include name="Marketing.Taxonomies.CampaignFacet2" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign facet 2" />
            <include name="Marketing.Taxonomies.CampaignFacet3" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign facet 3" />
            <include name="Marketing.Taxonomies.CampaignGroup" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign group" />
            <include name="Marketing.Taxonomies.MarketingCategories" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Marketing categories" />
            <include name="Marketing.Taxonomies.GoalFacet1" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Goal facet 1" />
            <include name="Marketing.Taxonomies.GoalFacet2" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Goal facet 2" />
            <include name="Marketing.AutomationPlans" database="master" path="/sitecore/system/Marketing Control Panel/Automation Plans/2018" />
            <include name="Marketing.AutomationPlans.2019" database="master" path="/sitecore/system/Marketing Control Panel/Automation Plans/2019" />
            <include name="Marketing.Goals.SitecoreDemo" database="master" path="/sitecore/system/Marketing Control Panel/Goals/SitecoreDemo" />
            <include name="Marketing.Goals.Register" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Register" />
            <include name="Marketing.Goals.NewsletterSignup" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Newsletter Signup" />
            <include name="Marketing.Goals.Login" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Login" />
            <include name="Marketing.Goals.InstantDemo" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Instant Demo" />
            <include name="Marketing.Goals.ClickEmailLink" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Click Email Link" />
            <include name="Marketing.Goals.BrochuresRequest" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Brochures Request" />
            <include name="Marketing.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes" />
            <include name="Marketing.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/SitecoreDemo" />
            <include name="Marketing.Campaigns.Emails" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Emails" />
            <include name="Marketing.ContactLists" database="master" path="/sitecore/system/Marketing Control Panel/Contact Lists" />
            <include name="Marketing.Profiles.Templates" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Templates" />
            <include name="Marketing.Profiles.LighthouseLifestyle" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/LighthouseLifestyle" />
            <include name="Marketing.Segments" database="master" path="/sitecore/system/Marketing Control Panel/Segments">
              <!-- Excluding the OOTB Segments (analytics filters) from serialization -->
              <exclude database="master" path="/sitecore/system/Marketing Control Panel/Segments/Computer-cd0b4c6b-8c41-4eba-bc10-b936b29303e7" />
              <exclude database="master" path="/sitecore/system/Marketing Control Panel/Segments/Mobile Phone-0df6797e-ee1b-4bfd-9262-0471b1add438" />
              <exclude database="master" path="/sitecore/system/Marketing Control Panel/Segments/Tablet-ecd9a3d4-f549-487a-93aa-1ea3cf0477e5" />
            </include>
            <include name="Marketing.TestLab" database="master" path="/sitecore/system/Marketing Control Panel/Test Lab" />
            <include name="Marketing.MarketingDefinitionMappings" database="master" path="/sitecore/system/Marketing Control Panel/Marketing Definition Mapping/Rules" />
            <include name="Marketing.TagRepository.2021" database="master" path="/sitecore/system/Settings/Buckets/TagRepository/2021" />

            <!-- Fins Items -->
            <include name="Forms.Cumulus" database="master" path="/sitecore/Forms/Demo Shared SXA Sites/Cumulus" />
            <include name="Marketing.Campaigns.Cumulus" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Cumulus" />
            <include name="Marketing.Goals.Cumulus" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Cumulus" />
            <include name="Marketing.Profiles.Cumulus" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Cumulus" />
            <include name="Marketing.AutomationPlans.Cumulus" database="master" path="/sitecore/system/Marketing Control Panel/Automation Plans/Cumulus" />

            <!-- LighthouseFinancial Items -->
            <include name="Media.LighthouseFinancial" database="master" path="/sitecore/media library/Project/Demo Shared SXA Sites/LighthouseFinancial" />
            <include name="Forms.LighthouseFinancial" database="master" path="/sitecore/Forms/Demo Shared SXA Sites/LighthouseFinancial" />
            <include name="Marketing.Campaigns.LighthouseFinancial" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/LighthouseFinancial" />
            <include name="Marketing.Goals.LighthouseFinancial" database="master" path="/sitecore/system/Marketing Control Panel/Goals/LighthouseFinancial" />
            <include name="Marketing.Profiles.LighthouseFinancial" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/LighthouseFinancial" />
            <include name="Marketing.Personalization.LighthouseFinancial" database="master" path="/sitecore/system/Marketing Control Panel/Personalization/Predefined Rules/Wealth Management Campaign" />

            <!-- LighthouseHealthcare Items -->
            <include name="Media.LighthouseHealthcare" database="master" path="/sitecore/media library/Project/Demo Shared SXA Sites/LighthouseHealthcare" />
            <include name="Forms.LighthouseHealthcare" database="master" path="/sitecore/Forms/Demo Shared SXA Sites/LighthouseHealthcare" />
            <include name="Marketing.Campaigns.LighthouseHealthcare" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/LighthouseHealthcare" />
            <include name="Marketing.Goals.LighthouseHealthcare" database="master" path="/sitecore/system/Marketing Control Panel/Goals/LighthouseHealthcare" />
            <include name="Marketing.Profiles.LighthouseHealthcare" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/LighthouseHealthcare" />

            <!-- SFMC Connector Item Settings -->
            <include name="Modules.SfmcConnector" database="master" path="/sitecore/content/SFMC Tenant"/>
            <include name="Modules.SfmcConnector.Settings" database="master" path="/sitecore/system/Settings/SFMC Connector/Configuration"/>

            <!-- EXM Settings -->
            <include name="Modules.EXM.Settings" database="master" path="/sitecore/system/Settings/Email/System/Root List"/>
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\Project\SitecoreDemo\serialization\Shared\Roles" singleInstance="true" />
          <rolePredicate>
            <include domain="sitecore" pattern="SitecoreDemo Guide Author"/>
            <include domain="sitecore" pattern="SitecoreDemo Content Approver"/>
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\Project\SitecoreDemo\serialization\Shared\Users" singleInstance="true" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="SitecoreDemo" pattern="^((?!Anonymous).)*$" />
            <include domain="sitecore" pattern="minnie" />
            <include domain="sitecore" pattern="pete" />
          </userPredicate>
          <userSyncConfiguration defaultPassword="b" minPasswordLength="1" removeOrphans="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>