<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore>
		<contentSearch>
			<configuration>
				<indexes>
					<index id="sitecore_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="ContentDelivery">
						<strategies hint="list:AddStrategy">
							<patch:delete />
						</strategies>
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" />
						</strategies>
					</index>
					<index id="sitecore_marketingdefinitions_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="ContentDelivery">
						<strategies hint="list:AddStrategy">
							<patch:delete />
						</strategies>
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" />
						</strategies>
					</index>
					<index id="sitecore_marketing_asset_index_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="ContentDelivery">
						<strategies hint="list:AddStrategy">
							<patch:delete />
						</strategies>
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" />
						</strategies>
					</index>
					<index id="sitecore_fxm_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="ContentDelivery">
						<strategies hint="list:AddStrategy">
							<patch:delete />
						</strategies>
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" />
						</strategies>
					</index>
				</indexes>
			</configuration>
		</contentSearch>
		<events>
			<event name="publishingservice:searchindex:rebuild" role:require="ContentDelivery">
				<handler type="Sitecore.Publishing.Service.Delivery.TargetSearchIndexRebuildHandler, Sitecore.Publishing.Service.Delivery" method="RebuildTargetSearchIndex">
					<patch:delete />
				</handler>
			</event>
		</events>
	</sitecore>
</configuration>