<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">

    <commands>
      <command name="webedit:chooseMImage">
        <patch:attribute name="type">Sitecore.Demo.Platform.Website.Hotfixes.MImageCommand, Sitecore.Demo.Platform.Website</patch:attribute>
      </command>
    </commands>

  </sitecore>
</configuration>