<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:contenthub="http://www.sitecore.net/xmlconfig/contenthub/">
  <sitecore contenthub:require="Enabled" unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Project.ContentHub" description="Includes content items required for Content Hub integration" dependencies="Foundation.*,Feature.*,Project.Global.Website,Project.SitecoreDemo.Website.Shared">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\SitecoreDemo\ContentHub" useDataCache="false" singleInstance="true" />
          <predicate>
            <include name="ContentHub.Templates" database="master" path="/sitecore/templates/Project/Demo Shared SXA Sites/Content Hub Entity Types" />
            <include name="ContentHub.ModulesConfig.BlogPost" database="master" path="/sitecore/system/Modules/CMP/Config/Blog Post" />
            <!-- Temporarily including both Guide & Article CMP mappings to service different versions of the Lighthouse CH template-->
            <include name="ContentHub.ModulesConfig.Guide" database="master" path="/sitecore/system/Modules/CMP/Config/Guide" />
            <include name="ContentHub.ModulesConfig.Article" database="master" path="/sitecore/system/Modules/CMP/Config/Article" />
            <include name="ContentHub.ModulesConfig.Webinar" database="master" path="/sitecore/system/Modules/CMP/Config/Webinar" />
            <include name="ContentHub.CmpRoot" database="master" path="/sitecore/content/CMP" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
