<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Presentation foundation module.

This foundation module introduces Page and Partial Designs.
A page design consists of a set of partial designs.
A partial design contains a set of design elements that defines an area of a page, such as a footer or a sidebar.
You associate page designs with data templates to control how Sitecore displays the web page for the items based on the template.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- GLOBAL AVAILABLE RENDERINGS ROOT
           The ID of the settings item that defines the global renderings.
      -->
            <setting name="XA.Foundation.Presentation.GlobalAvailableRenderingsRoot" value="{7FD5635F-6233-4BAE-82F3-1F8DD7CBAF2A}" />
            <!-- META COMPONENT LAYOUT PATH
           Path to the layout used on meta components.
      -->
            <setting name="XA.Foundation.Presentation.MetaComponentLayoutPath" value="../SXA/Meta Component Layout.cshtml" />
            <!-- PARTIAL DESIGN DYNAMIC PLACEHOLDER RENDERING
           The ID of the rendering used to wrap placeholders that are generated dynamically.
      -->
            <setting name="XA.Foundation.Presentation.PartialDesignDynamicPlaceholderRendering" value="{455948A7-9860-4312-B818-994E723E8B9A}" />
            <setting name="XA.Foundation.Presentation.PresentationContextCacheMaxSize" value="50MB" />
            <setting name="XA.Foundation.Presentation.PageDesignsRulesCacheMaxSize" value="50MB" />
            <setting name="XA.Foundation.Presentation.LayoutXmlCacheMaxSize" value="50MB" />
            <setting name="XA.Foundation.Presentation.IsPageDesignCacheMaxSize" value="50MB" />
            <setting name="XA.Foundation.Presentation.RenderingCachingOptionsCacheMaxSize" value="50MB" />
            <setting name="XA.Foundation.Presentation.InjectedRenderingsCacheMaxSize" value="50MB" />
            <setting name="XA.Foundation.Presentation.PageModeRenderingError.Class" value="sxa-rendering-error" />
            <setting name="XA.Foundation.Presentation.PresentationContextCache.Enabled" value="true" />
        </settings>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PresentationContextCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEnd" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.LayoutXmlCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEnd" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PageDesignsRulesCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEnd" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.IsPageDesignCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEnd" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.RenderingCachingOptionsCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEnd" />
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PresentationContextCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEndRemote" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.LayoutXmlCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEndRemote" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PageDesignsRulesCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEndRemote" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.IsPageDesignCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEnd" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.RenderingCachingOptionsCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnPublishEnd" />
            </event>
            <event name="item:saved">
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PresentationContextCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemSaved" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.LayoutXmlCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemSaved" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PageDesignsRulesCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemSaved" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.InjectedRenderingsCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemSaved" />
            </event>
            <event name="item:moved">
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PresentationContextCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemMoved" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.LayoutXmlCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemMoved" />
            </event>
            <event name="item:moved:remote">
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PresentationContextCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemMovedRemote" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.LayoutXmlCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemMovedRemote" />
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PresentationContextCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemSavedRemote" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.LayoutXmlCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemSavedRemote" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PageDesignsRulesCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemSavedRemote" />
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.InjectedRenderingsCacheClearer, Sitecore.XA.Foundation.Presentation" method="OnItemSavedRemote" />
            </event>
            <event name="item:saving">
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PartialDesignInheritance, Sitecore.XA.Foundation.Presentation" method="OnItemSaving"/>
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.LayoutInheritance, Sitecore.XA.Foundation.Presentation" method="OnItemSaving"/>
            </event>
            <event name="item:created">
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.NormalizePartialDesignSignatureField, Sitecore.XA.Foundation.Presentation" method="OnItemCreated" />
            </event>
            <event name="item:saved">
                <handler type="Sitecore.XA.Foundation.Presentation.EventHandlers.PresentationProcessing, Sitecore.XA.Foundation.Presentation" method="OnItemSaved" />
            </event>
        </events>
        <sitecore.experienceeditor.speak.requests>
            <request name="ExperienceEditor.XA.RetrieveDesigns" type="Sitecore.XA.Foundation.Presentation.Requests.RetrieveDesigns, Sitecore.XA.Foundation.Presentation"/>
            <request name="ExperienceEditor.XA.RetrievePartialDesigns" type="Sitecore.XA.Foundation.Presentation.Requests.RetrievePartialDesigns, Sitecore.XA.Foundation.Presentation"/>
            <request patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.LayoutDetails.SetLayoutDetailsRequest, Sitecore.ExperienceEditor.Speak.Ribbon']" name="ExperienceEditor.LayoutDetails.SetValue" type="Sitecore.XA.Foundation.Presentation.Requests.SetLayoutDetailsRequest, Sitecore.XA.Foundation.Presentation" />
            <request patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.Insert.InsertRequest, Sitecore.ExperienceEditor.Speak.Ribbon']" name="ExperienceEditor.Insert" type="Sitecore.XA.Foundation.Presentation.Requests.InsertRequest, Sitecore.XA.Foundation.Presentation" />
        </sitecore.experienceeditor.speak.requests>
        <pipelines>
            <getRenderingCaching>
                <processor patch:before="*[1]"  type="Sitecore.XA.Foundation.Presentation.Pipelines.GetRenderingCaching.GetRenderingInstanceCacheOptions, Sitecore.XA.Foundation.Presentation" resolve="true"/>
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.GetRenderingCaching.GetSiteLevelCaching, Sitecore.XA.Foundation.Presentation" resolve="true"/>
            </getRenderingCaching>
            <getStyles>
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.GetStyles.GetSiteStyles, Sitecore.XA.Foundation.Presentation" resolve="true" />
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.GetStyles.GetSharedStyles, Sitecore.XA.Foundation.Presentation" resolve="true" />
            </getStyles>
            <initialize>
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.Initialize.InjectCustomDatasourceParser, Sitecore.XA.Foundation.Presentation" resolve="true" />
            </initialize>
            <getChromeData>
                <processor patch:after="*[@type='Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetChromeData.ProcessMorphButton, Sitecore.XA.Foundation.LocalDatasources']" type="Sitecore.XA.Foundation.Presentation.Pipelines.GetChromeData.GetBackgroundImageButtons, Sitecore.XA.Foundation.Presentation" resolve="true"/>
            </getChromeData>

            <resolveAvailableRenderingsNodeTemplate>
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.ResolveAvailableRenderingsNodeTemplate.DefaultAvailableRenderings, Sitecore.XA.Foundation.Presentation" resolve="true" />
            </resolveAvailableRenderingsNodeTemplate>
            <getPlaceholderRenderings>
                <processor patch:after="*[@type='Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.XA.Foundation.PlaceholderSettings']" type="Sitecore.XA.Foundation.Presentation.Pipelines.GetPlaceholderRenderings.GetModuleRenderings, Sitecore.XA.Foundation.Presentation" resolve="true" />
                <processor patch:after="*[@type='Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.XA.Foundation.PlaceholderSettings']" type="Sitecore.XA.Foundation.Presentation.Pipelines.GetPlaceholderRenderings.FilterRenderings, Sitecore.XA.Foundation.Presentation" resolve="true" />
            </getPlaceholderRenderings>
            <mvc.renderRendering>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.SetCacheability, Sitecore.Mvc']" type="Sitecore.XA.Foundation.Presentation.Pipelines.RenderRendering.ResolveCacheOptions, Sitecore.XA.Foundation.Presentation" resolve="true"/>
                <processor patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" type="Sitecore.XA.Foundation.Presentation.Pipelines.RenderRendering.GetCacheKey, Sitecore.XA.Foundation.Presentation" resolve="true"/>
                <processor patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.SetCacheability, Sitecore.Mvc']" type="Sitecore.XA.Foundation.Presentation.Pipelines.RenderRendering.EnablePlaceholderExclusion, Sitecore.XA.Foundation.Presentation" resolve="true"/>
                <processor patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.RenderFromCache, Sitecore.Mvc']" type="Sitecore.XA.Foundation.Presentation.Pipelines.RenderRendering.RenderFromCacheExclusively, Sitecore.XA.Foundation.Presentation" resolve="true"/>
                <processor patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']" type="Sitecore.XA.Foundation.Presentation.Pipelines.RenderRendering.RenderExcludedPlaceholders, Sitecore.XA.Foundation.Presentation" resolve="true"/>
                <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc">
                    <param desc="rendererErrorHandler" type="Sitecore.Mvc.Pipelines.Response.RenderRendering.HttpExceptionWrappingRendererErrorStrategy, Sitecore.Mvc">
                        <param desc="rendererErrorHandler" type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ChainedRendererErrorStrategy, Sitecore.Mvc">
                            <Handlers hint="list">
                                <handler patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.PageModeRenderingErrorStrategy, Sitecore.Mvc']" type="Sitecore.XA.Foundation.Presentation.Pipelines.RenderRendering.SxaPageModeRenderingErrorStrategy, Sitecore.XA.Foundation.Presentation"/>
                            </Handlers>
                        </param>
                    </param>
                </processor>
            </mvc.renderRendering>
            <mvc.renderPlaceholder >
                <processor patch:before="*[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.RenderPlaceholder.AddWrapper, Sitecore.Mvc.ExperienceEditor']" type="Sitecore.XA.Foundation.Presentation.Pipelines.RenderPlaceholder.ProcessPlaceholderCaching,Sitecore.XA.Foundation.Presentation" resolve="true"/>
            </mvc.renderPlaceholder>
            <mvc.buildPageDefinition>
                <processor patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']" type="Sitecore.XA.Foundation.Presentation.Pipelines.BuildPageDefinition.ProcessXmlBasedLayoutDefinition,Sitecore.XA.Foundation.Presentation" resolve="true"/>
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.BuildPageDefinition.GetPlaceholderDefinitions,Sitecore.XA.Foundation.Presentation" resolve="true"/>
            </mvc.buildPageDefinition>
            <mvc.getXmlBasedLayoutDefinition>
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.GetXmlBasedLayoutDefinition.AddPartialDesignsRenderings, Sitecore.XA.Foundation.Presentation" patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.GetXmlBasedLayoutDefinition.GetFromLayoutField, Sitecore.Mvc']" resolve="true" />
                <processor patch:before="*[@type='Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetXmlBasedLayoutDefinition.ResolveLocalDatasources, Sitecore.XA.Foundation.LocalDatasources']" type="Sitecore.XA.Foundation.Presentation.Pipelines.GetXmlBasedLayoutDefinition.StoreInjectedPageLayout, Sitecore.XA.Foundation.Presentation" resolve="true" />
            </mvc.getXmlBasedLayoutDefinition>
            <resolveTokens>
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.ResolveTokens.ResolvePresentationTokens, Sitecore.XA.Foundation.Presentation" resolve="true" />
            </resolveTokens>
            <decorateRendering>
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.DecorateRendering.GetRenderingCssClasses, Sitecore.XA.Foundation.Presentation" resolve="true" />
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.DecorateRendering.AddBackgroundImage, Sitecore.XA.Foundation.Presentation" resolve="true" />
            </decorateRendering>
            <speak.client.resolveScript>
                <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
                    <sources hint="raw:AddSource">
                        <source folder="/sitecore/shell/client/Sitecore/ExperienceAccelerator/ExperienceEditor/Presentation" deep="true" category="Presentation" pattern="*.js" />
                    </sources>
                </processor>
            </speak.client.resolveScript>
            <processPresentation>
                <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.PresentationProcessing.SetDefaultParameters, Sitecore.XA.Foundation.Presentation"/>
            </processPresentation>
            <group groupName="XA.Presentation" name="XA.Presentation">
                <pipelines>
                    <getDefaultRenderingParameters>
                        <processor type="Sitecore.XA.Foundation.Presentation.Pipelines.GetDefaultRenderingParameters.GetStandardValues, Sitecore.XA.Foundation.Presentation" resolve="true" />
                    </getDefaultRenderingParameters>
                </pipelines>
            </group>
        </pipelines>
        <services>
            <register serviceType="Sitecore.XA.Foundation.Presentation.IPresentationContext, Sitecore.XA.Foundation.Presentation" 
                      implementationType="Sitecore.XA.Foundation.Presentation.PresentationContext, Sitecore.XA.Foundation.Presentation" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Presentation.Services.ILayoutXmlService, Sitecore.XA.Foundation.Presentation" 
                      implementationType="Sitecore.XA.Foundation.Presentation.Services.LayoutXmlService, Sitecore.XA.Foundation.Presentation" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Presentation.Repositories.IStyleSettingsRepository, Sitecore.XA.Foundation.Presentation" 
                      implementationType="Sitecore.XA.Foundation.Presentation.Repositories.StyleSettingsRepository, Sitecore.XA.Foundation.Presentation" lifetime="Transient"/>
            <register serviceType="Sitecore.XA.Foundation.Presentation.Services.IRenderingCachingService, Sitecore.XA.Foundation.Presentation" 
                      implementationType="Sitecore.XA.Foundation.Presentation.Services.PipelineBasedRenderingCachingService, Sitecore.XA.Foundation.Presentation" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Presentation.Services.ICacheTokenProcessingService, Sitecore.XA.Foundation.Presentation"
                      implementationType="Sitecore.XA.Foundation.Presentation.Pipelines.RenderRendering.CacheTokenProcessingService, Sitecore.XA.Foundation.Presentation" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Presentation.Services.IPlaceholderCachingResolver, Sitecore.XA.Foundation.Presentation" 
                      implementationType="Sitecore.XA.Foundation.Presentation.HtmlCaching.PlaceholderCachingResolver, Sitecore.XA.Foundation.Presentation" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Presentation.Services.IRenderingParametersService, Sitecore.XA.Foundation.Presentation" 
                      implementationType="Sitecore.XA.Foundation.Presentation.Services.RenderingParametersService, Sitecore.XA.Foundation.Presentation" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Abstractions.Configuration.IConfiguration`1[[Sitecore.XA.Foundation.Presentation.PresentationConfiguration, Sitecore.XA.Foundation.Presentation]], Sitecore.XA.Foundation.Abstractions"
                      implementationType="Sitecore.XA.Foundation.Presentation.PresentationConfigurationReader, Sitecore.XA.Foundation.Presentation" lifetime="Singleton"/>
            <register serviceType="Sitecore.XA.Foundation.Presentation.Services.IXmlLayoutDefinition, Sitecore.XA.Foundation.Presentation"
                      implementationType="Sitecore.XA.Foundation.Presentation.Services.XmlLayoutDefinition, Sitecore.XA.Foundation.Presentation" lifetime="Singleton"/>
        </services>
        <controlSources>
            <source mode="on" namespace="Sitecore.XA.Foundation.Presentation.Fields.Styles" assembly="Sitecore.XA.Foundation.Presentation" prefix="sxaPresentation" />
        </controlSources>
        <experienceAccelerator>
            <renderingVariants>
                <allowedTemplates>
                    <template name="Metadata Partial Design">{C2A8E276-1757-4957-9DD5-8669B79FD80D}</template>
                    <template name="Partial Design">{BF680756-B2FA-4CAE-8B69-EE361080616F}</template>
                    <template name="Page Design">{EBCFFAE1-B6B4-4B50-B722-155E869FC430}</template>
                </allowedTemplates>
                <systemTemplates>
                    <template name="Metadata Partial Design">{C2A8E276-1757-4957-9DD5-8669B79FD80D}</template>
                    <template name="Partial Design">{BF680756-B2FA-4CAE-8B69-EE361080616F}</template>
                </systemTemplates>
            </renderingVariants>
            <grid>
                <excludedComponentSettingFields>
                    <fieldID desc="Reset Caching Options">{4052C61F-E8C7-4B08-B7DD-211BB1AED14B}</fieldID>
                </excludedComponentSettingFields>
            </grid>
        </experienceAccelerator>
        <fieldTypes>
            <fieldType name="Styling Parameters" type="Sitecore.XA.Foundation.Presentation.Fields.Styles.StylingParameters, Sitecore.XA.Foundation.Presentation" />
        </fieldTypes>
    </sitecore>
</configuration>
