<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <databases>
      <database id="web" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" singleInstance="true" >
        <!-- Added in order for analytics data tracking to be accurate in scaled enviornment -->
        <workflowProvider type="Sitecore.Workflows.Simple.WorkflowProvider, Sitecore.Kernel" hint="defer">
          <param desc="database">$(id)</param>
          <param ref="workflowHistoryStores/main" desc="history store" param1="$(id)"/>
        </workflowProvider>
      </database>
    </databases>
  </sitecore>
</configuration>
