/* breakpoints */
.divider hr {
  margin: 10px 0;
  border: 0;
  height: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #d2d2d2;
}

.white-space-divider hr {
  border: none;
}
