<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="6YXEG7IH4XYNKdt772p2ni6nbeDT772P2NI6NBE4@" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        <add key="Telerik.Upload.ConfigurationHashKey" value="6YXEG7IH4XYNKdt772p2ni6nbeDT772P2NI6NBE4@" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="6YXEG7IH4XYNKdt772p2ni6nbeDT772P2NI6NBE4@" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        <add key="AllowInvalidClientCertificates" value="True" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        <add key="env:define" value="Local" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
        <add key="unicorn:define" value="On" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.webServer>
        <modules>
            <remove name="FormsAuthentication" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
        </modules>
        <handlers>
            <add verb="*" path="sitecore_media.ashx" type="Sitecore.XA.Foundation.MediaRequestHandler.MediaRequestHandler, Sitecore.XA.Foundation.MediaRequestHandler" name="Sitecore.MediaRequestHandler" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(type)" />
        </handlers>
    </system.webServer>
    <system.web>                               
        <authentication mode="None" xdt:Transform="Replace"></authentication>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly xdt:Transform="InsertIfMissing" xdt:Locator="Condition(./_defaultNamespace:assemblyIdentity/@name='Microsoft.Xrm.Sdk')">
                <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly xdt:Transform="InsertIfMissing" xdt:Locator="Condition(./_defaultNamespace:assemblyIdentity/@name='Microsoft.Crm.Sdk.Proxy')">
                <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>