<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Common.Website" description="Includes the root tenant folder." extends="Helix.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Project.Templates" database="master" path="/sitecore/templates/Project/Habitat Sites" />
            <include name="Foundation.Templates" database="master" path="/sitecore/templates/Foundation/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Feature.Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Project.Templates.Branches" database="master" path="/sitecore/templates/Branches/Project/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Foundation.Templates.Branches" database="master" path="/sitecore/templates/Branches/Foundation/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Feature.Templates.Branches" database="master" path="/sitecore/templates/Branches/Feature/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Project.Layout" database="master" path="/sitecore/layout/Renderings/Project/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Foundation.Layout" database="master" path="/sitecore/layout/Renderings/Foundation/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Feature.Layout" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Project.Media" database="master" path="/sitecore/media library/Project/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Foundation.Media" database="master" path="/sitecore/media library/Foundation/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Feature.Media" database="master" path="/sitecore/media library/Feature/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Project.System.Settings" database="master" path="/sitecore/system/Settings/Project/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Foundation.System.Settings" database="master" path="/sitecore/system/Settings/Foundation/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Feature.System.Settings" database="master" path="/sitecore/system/Settings/Feature/Habitat Sites">
              <exclude children="true" />
            </include>
            <include name="Content" database="master" path="/sitecore/content/Habitat Sites">
              <exclude children="true" />
            </include>
          </predicate>
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="16" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>