<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
        <sc.variable name="rootHostName" value="dev.local" />
        <settings>
            <setting name="Analytics.CookieDomain" env:require="Local" value="$(rootHostName)" />
            <setting name="Analytics.CookieDomain" env:require="Production" value="habitathomedemo.com" />

            <setting name="Analytics.Patterns.MinimalProfileScoreCount">
                <patch:attribute name="value">1</patch:attribute>
            </setting>

            <setting name="WebEdit.PlaceholdersEditableWithoutSettings">
                <patch:attribute name="value">true</patch:attribute>
            </setting>

            <setting name="MessageStatistics.ApiKey" value="97CC4FC13A814081BF6961A3E2128C5B" />      
        </settings>
        
        <sites>
            <site name="shell">
                <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
                <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
            </site>
            <site name="website">
                <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
                <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
            </site>
        </sites>

        <reporting>
            <dataProvider>
                <!-- disabling reporting cache -->
                <patch:attribute name="cacheEnabled">false</patch:attribute>
            </dataProvider>
        </reporting>
    </sitecore>
</configuration>
