<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>                                                  
                <configuration name="Project.Common.Website" description="Includes the root tenant folder." dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                                                                                                                        
                        <include name="Project.Templates" database="master" path="/sitecore/templates/Project/Habitat Sites" />
                        <include name="System.Workflows" database="master" path="/sitecore/system/Workflows/Demo Workflow" />
                        <include name="Feature.Articles.Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites/Articles" />
                        <include name="Feature.Navigation.Templates" database="master" path="/sitecore/templates/Feature/Habitat Sites/Navigation" />
                        <include name="Content" database="master" path="/sitecore/content/Habitat Sites">
                            <exclude children="true" />
                        </include>
                        <include name="Themes" database="master" path="/sitecore/media library/Themes/Habitat Sites">
                            <exclude children="true" />
                        </include>

                        <include name="Languages" database="master" path="/sitecore/system/Languages" />


                    </predicate>
                    
                    <!--<userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\Common\serialization\Users" singleInstance="true" />
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="sitecore" pattern="demoadmin" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" />-->
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>