<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
        <powershell>
            <services>
                <remoting>
                    <patch:attribute name="enabled">true</patch:attribute>
                    <authorization>
                        <add Permission="Allow" IdentityType="User" Identity="sitecore\RemotePowershellUser" desc="rps" />
                        <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" desc="admin" />
                        <add Permission="Allow" IdentityType="User" Identity="sitecore\demogod" desc="demogod" />
                    </authorization>
                </remoting>
            </services>
        </powershell>
    </sitecore>
</configuration>