@using Sitecore.Mvc
@{ 
    Layout = "MainOuterLayout.cshtml";
}

<header>
    @Html.Sitecore().Placeholder("hh-corporate-content-header")
</header>

<main>
    @Html.Sitecore().Placeholder("hh-content-main")
</main>

<footer>
    @Html.Sitecore().Placeholder("hh-content-footer")
</footer>
